<div id="tr-my-course" class="erp tr" ng-controller="frMyCourseCtrl as myCourse">
  <!-- 我的课程列表 -->
  <div class="panel panel-primary mb-0">
    <div class="panel-heading font-bold pull-left">
      <span class="title">我的课程</span>
    </div>
    <!-- 搜索 -->
    <div class="panel-body">
      <div class="searchbar">
        <form class="form-inline">
          <div class="form-group pull-right">
            <div class="input-group">
              <input type="text" autocomplete="off" id="course-name" placeholder="请输入搜索关键词" ng-model="myCourse.queryParams.courseTitle" class="form-control" />
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="myCourse.search(myCourse.queryParams.courseTitle)"> 搜索
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- 课程表格 -->
  <div class="table-panel">
    <div style="text-align: center;" ng-if="myCourse.loading">
      <img src="img/erp/loading2.gif" />
    </div>
    <div ng-if="!myCourse.loading" style="position: relative;">
      <table class="table table-striped">
        <tr>
          <th class="w-100">操作</th>
          <th class="w-250">课程名称</th>
          <th>班级人数</th>
          <th>开课日期</th>
          <th>结课日期</th>
          <th>上课时间</th>
          <th>下课时间</th>
          <th>课时长度</th>
          <th>课程进度</th>
          <th ng-click="myCourse.toggleShow('courseStatus')">状态<i class="iconfont icon-subject_screen pl-5"></i></th>
        </tr>
        <tr ng-repeat="course in myCourse.courseInfoList" ng-if="myCourse.courseInfoList && myCourse.courseInfoList.length">
          <td ng-click="myCourse.go('/myCourse/myCourseClass', course.id)">
            <i class="tr-primary-fg iconfont icon-subject_see"></i>
            <span><a class="tr-primary-fg" href="javascript:;">查看课次</a></span>
          </td>
          <td>{{::course.courseName}}</td>
          <td>{{::course.studentCount}}</td>
          <td>{{::course.startDate}}</td>
          <td>{{::course.endDate}}</td>
          <td>{{::course.startTime}}</td>
          <td>{{::course.endTime}}</td>
          <td>{{::course.classHour}}</td>
          <td>{{::course.finishedClass}} / {{::course.totalClass}}</td>
          <td>{{::course.status | frStatus}}</td>
        </tr>
      </table>
      <div class="work-courseStatus-field" ng-show="myCourse.courseStatusField">
        <ul class="work-courseStatus-list">
          <li class="work-item" ng-repeat="item in myCourse.courseStatuses" ng-click="myCourse.queryByCondition(item.value, 'courseStatus')">{{item.label}}</li>
        </ul>
      </div>
      <ng-pagination conf="myCourse.paginationConf"></ng-pagination>
    </div>
  </div>
  <!-- 试题的展示 这块应该放在作业管理模块 -->
  <!-- <div ng-include="'./templates/tr/template/my-course/paper-item.html'"></div> -->
</div>