<div id="tr-work-list" class="erp tr" ng-controller="frWorkManagementCtrl as workMgt">
  <div class="panel panel-primary mb-10">
    <div class="panel-heading font-bold">
      <span class="title">作业管理 1.0</span>
    </div>
    <div class="pt-20 pl-20">
      <uib-tabset active="workMgt.defaultActive">
        <uib-tab index="0" heading="双师" ng-click="workMgt.changeProductLineStatus('DOUBLE_TEACHER')">
        </uib-tab>
        <uib-tab index="1" heading="培英班" ng-click="workMgt.changeProductLineStatus('HI_STUDY')">
        </uib-tab>
      </uib-tabset>
    </div>
    <!-- 搜索 -->
    <div class="panel-body">
      <div class="searchbar">
        <div class="form-inline">
          <div class="form-group">
            <button class="btn btn-primary" ng-click="workMgt.addWork()">
              <i class="iconfont icon-operation_add"></i>添加作业
            </button>
          </div>
          <div class="form-group pull-right">
            <div class="input-group">
              <input type="text" autocomplete="off" id="work-name" placeholder="请输入搜索关键词" ng-enter="workMgt.search(workMgt.queryParams.workTitle)" ng-model="workMgt.queryParams.workTitle" class="form-control" />
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="workMgt.search(workMgt.queryParams.workTitle)"> 搜索
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end 搜索 -->
  </div>
  <!-- 课程表格 -->
  <div class="table-panel">
    <div style="text-align: center;" ng-if="workMgt.loading">
      <img src="img/erp/loading2.gif" />
    </div>
    <div ng-if="!workMgt.loading" style="position: relative;">
      <table class="table table-striped">
        <tr>
          <th class="tr-align-left min-w-320">作业名称</th>
          <th>操作</th>
          <th>绑定的课次</th>
          <th>更新时间</th>
          <th ng-click="workMgt.toggleShow('type')">作业类型<i class="iconfont icon-subject_screen pl-5"></i></th>
          <th class="w-100" ng-click="workMgt.toggleShow('statusCode')">状态<i class="iconfont icon-subject_screen pl-5"></i></th>
        </tr>
        <tr ng-repeat="item in workMgt.workList" ng-if="workMgt.workList && workMgt.workList.length">
          <td class="tr-align-left">{{::item.workTitle}}</td>
          <td>
            <div class="flex-box layout-align-center-center">
              <div class="flex-box layout-align-center-center">
                <div ng-if="item.videoFlag">
                  <span class="cur pr-5" ng-click="workMgt.view(item.id, 'video')">
                    <i class="iconfont icon-subject_video" style="color: #3b9ef6"></i> 视频
                  </span>
                </div>
                <div ng-if="item.paperFlag">
                  <span class="cur pr-5" ng-click="workMgt.view(item.id, 'paper')">
                    <i class="iconfont icon-subject_task" style="color:#05c9c5;"></i> 作业
                  </span>
                </div>
              </div>
              <span class="cur pr-5" ng-click="workMgt.edit(item.id)" ng-if="item.statusCode === 'INIT'">
                <i class="iconfont icon-edit" style="color: #ffb43f;"></i>
                编辑
              </span>
              <span class="cur" ng-click="workMgt.delete(item.id)" ng-if="item.statusCode === 'INIT'">
                <i class="iconfont icon-delete" style="color:#fd5964;"></i>
                删除
              </span>
            </div>
          </td>
          <td>
            <span class="circle">
              <i style="color: #1b8cf2; line-height: 25px;">{{::item.classCount}}</i>
            </span>
            <a ng-click="workMgt.setClass(item.id)" class="tr-black-fg cur">设置</a>
            </td>
          <td>{{::item.updateTime}}</td>
          <td>{{::item.type | frWorkType}}</td>
          <td>{{::item.statusCode | frStatusCode}}</td>
        </tr>
      </table>
      <div class="work-type-field" ng-show="workMgt.typeField">
        <ul class="work-type-list">
          <li class="work-item" ng-repeat="item in workMgt.workTypes" ng-click="workMgt.queryByCondition(item.value, 'type')">{{item.label}}</li>
        </ul>
      </div>
      <div class="work-statusCode-field" ng-show="workMgt.statusCodeField">
        <ul class="work-statusCode-list">
          <li class="work-item" ng-repeat="item in workMgt.statusCodes" ng-click="workMgt.queryByCondition(item.value, 'statusCode')">{{item.label}}</li>
        </ul>
      </div>
      <ng-pagination conf="workMgt.paginationConf"></ng-pagination>
    </div>
  </div>
</div>
