<div id="tr-workMgt-setting" class="erp tr layout-column" ng-controller="frWorkMgtSetCtrl2 as mgtAdd" >
  <div class="panel panel-primary mb-10">
    <div class="panel-heading font-bold layout-row">
      <div ng-click="mgtAdd.back()" class="mr-10">
        <a href="javascript:;" class="tr-primary-fg">
          <i class="fa fa-angle-left fa-lg"></i>
          <span>返回</span>
        </a>
      </div>
      <p class="title">作业管理 / 添加作业</p>
    </div>
  </div>

  <!-- 课次绑定内容-->
  <div class="flex class-work-wrap layout-column tr-white-bg tr-container">
    <div class="w-688" style="margin: 0 auto;">
      <div class="class-work-cont" style="margin: auto;">
        <div class="layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-100 tr-align-right">作业名称:</div>
          <div class="dd">
            <input class="form-control" ng-model="mgtAdd.classWorkInfo.validTime" type="text">
          </div>
        </div>
        <div class="layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-100 tr-align-right">作业类型:</div>
          <div class="dd">
            <select class="form-control" ng-model="mgtAdd.classWorkInfo" ng-options="prs.key as prs.value for prs in status">
            </select>
          </div>
        </div>
        <div class="layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">发布时间:</div>
          <div class="dd">
            <rd-date-picker-popup ng-model="mgtAdd.classWorkInfo.workStartTime"></rd-date-picker-popup>
          </div>
        </div>
        <div class="layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">有效时间:</div>
          <div class="dd" style="display: flex;" layout-row>
             <input class="form-control" ng-model="mgtAdd.classWorkInfo.validTime" type="number">
             <span class="pl-5" style="padding-top: 7px;">h</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
          ng-click="mgtAdd.back()">取消</button>
        <button type="button" class="btn btn-primary"
          ng-click="mgtAdd.bindClassWork()">确定</button>
      </div>
    </div>
  </div>
</div>