<div ng-controller="RoleCtrl">
  <div class="panel panel-primary" style="margin-bottom: 10px;">
    <div class="panel-heading">
      <span class="title">
        角色管理
      </span>
    </div>
    <div class="panel-body" style="padding: 15px;">
      <div class="toolbar">
        <button type="button" class="btn btn-primary btn-circle" ng-click="toAddRolePanel()"><i class="iconfont icon-add"></i> 添加</button>
      </div>
      <hr>
      <div class="searchbar">
        <form class="form-inline ng-valid" role="form">
          <div class="form-group">
            状态：
            <select class="form-control" ng-model="selectedStatus">
              <option value="-1">全部</option>
              <option value="2">禁用</option>
              <option value="1">启用</option>
            </select>
          </div>
          <div class="form-group">搜索关键字：
            <input type="text" class="form-control" ng-model="roleName" placeholder="请输入要查询的关键字" ng-enter="queryInfo(1)" />
          </div>
          <button type="submit" class="btn btn-primary" ng-click="queryInfo(1)"><i class="iconfont icon-search"></i> 查询</button>
        </form>
      </div>
    </div>
  </div>
  <div class="table-panel">
    <table class="table table-striped table-hover table-bordered">
      <tr>
        <th>操作</th>
        <th>id</th>
        <th>角色名称</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>修改人</th>
        <th>修改时间</th>
        <th>状态</th>
      </tr>
      <tr ng-repeat="role in roleList" ng-if="roleList && roleList.length">
        <td>
          <span class="btn btn-xs btn-default" ng-click="toUpdateRolePanel(role)">
            修改
          </span>
          <span class="btn btn-xs btn-danger" ng-if="role.status == 1" ng-click="toForbiddenRolePanel(role)">
            禁用
          </span>
          <span class="btn btn-xs btn-success" ng-if="role.status == 2" ng-click="toForbiddenRolePanel(role)">
            启用
          </span>
        </td>
        <td>{{role.id}}</td>
        <td>{{role.roleName}}</td>
        <td>{{role.create_user}}</td>
        <td>{{role.create_time|date:'yyyy-MM-dd'}}</td>
        <td>{{role.update_user}}</td>
        <td>{{role.update_time|date:'yyyy-MM-dd'}}</td>
        <td>{{role.status==1?'启用':'禁用'}}</td>
      </tr>
      <tr ng-if="!roleList||!roleList.length">
        <td colspan="8">暂无数据.</td>
      </tr>
      <tr ng-if="isLoading == 'loading...'">
        <td colspan="4" align="center">
          <img src="img/icons/big_load.gif">
        </td>
      </tr>
    </table>
    <div class="center" ng-if="pageParam.pages>=1">
      <ul class="pagination">
        <li ng-model="pageParam.pageNum" ng-if="pageParam.pages>=1" ng-click="queryInfo(1)">
          <span>首页</span>
        </li>
        <li ng-if="pageParam.pageNum>1" ng-click="queryInfo(pageNum-1)">
          <span>上一页</span>
        </li>
        <li ng-repeat="i in paginationBars track by $index" class="{{ i==pageNum ? 'active':'' }}">
          <span ng-click="queryInfo(i)">{{i}}</span>
        </li>
        <li ng-model="pageParam.pageNum" ng-if="pageParam.pageNum<pageParam.pages" ng-click="queryInfo(pageNum+1)">
          <span>下一页</span>
        </li>
        <li ng-model="pageParam.pages" ng-click="queryInfo(pageParam.pages)">
          <span>尾页</span>
        </li>
      </ul>
    </div>
  </div>
  <div ng-include="'templates/hrm/rolemgr/role_info.html'"></div>
  <!-- 模态框（Modal） -->
  <div class="modal fade klxx-modal-primary" id="confirm_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
        </div>
        <div class="modal-body">
          {{modalBody}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消
          </button>
          <button type="button" ng-click="saveRole()" class="btn  btn-warning">
            确认
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
  </div>
</div>
