<!-- Modal -->
<div id="dictItemPanel" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="dictItemLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="dictItemLabel">字典类型：{{selectedRow.name}}</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-3 fl" style="line-height: 34px;">子项ID</label>
            <div class="col-sm-9 input-group">
                <input type="text" class="form-control"ng-readonly="true" ng-model="selectedItem.id"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 fl" style="line-height: 34px;">子项名称</label>
            <div class="col-sm-9 input-group">
                <input type="text" class="form-control" required ng-model="selectedItem.name"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 fl" style="line-height: 34px;">子项编码</label>
            <div class="col-sm-9 input-group">
                <input type="number" class="form-control" required ng-model="selectedItem.code"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 fl" style="line-height: 34px;">备注</label>
            <div class="col-sm-9 input-group">
                <input type="text" class="form-control" ng-model="selectedItem.remark"/>
            </div>
        </div>

        <div align="center">
            <button class="btn btn-default" type="button"  ng-click="saveItem()">确定</button>
        </div>
    </div>
</div>