<div ng-controller="erp_CoopOrgController">
  <div class="panel panel-primary">
    <div class="panel-heading"><span class="title">合作机构</span></div>
    <div class="panel-body operation-panel">
      <div class="toolbar">
        <button class="btn btn-primary btn-circle"
          ng-click="handleAddCoopOrg()">
          <i class="iconfont icon-add"></i>添加
        </button>
      </div>
      <hr>
      <div class="searchbar">
        <form class="form-inline">
          <form class="form-group">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="机构名称"
                     ng-model="searchParam.coopOrgName" autocomplete="off">
                <button class="btn btn-primary"
                       ng-click="handleQueryCoopOrg()"><i class="iconfont icon-search"></i>  搜索</button>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
  <div class="table-panel">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="200">操作</th>
          <th>机构名称</th>
          <th>状态</th>
          <th>描述</th>
          <th>创建人</th>
          <th>创建时间</th>
          <th>修改人</th>
          <th>修改时间</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="coopOrg in coopOrgList"
          ng-if="coopOrgList && coopOrgList.length">
          <td>
            <span class="cur"  ng-click="handlePutCoopOrg(coopOrg)">
              <i class="iconfont icon-edit text-primary"></i>修改
            </span>&nbsp;&nbsp;
            <span class="cur"  ng-click="handleDeleteCoopOrg(coopOrg.id)">
              <i class="iconfont icon-delete text-danger"></i>删除
            </span>&nbsp;&nbsp;
          </td>
          <td>{{coopOrg.coopOrgName}}</td>
          <td>
            <input type="checkbox" 
              bs-switch 
              ng-model="coopOrg.status"
              switch-change="onStatusChange(coopOrg)"
              ng-true-value="1"
              ng-false-value="2"
            >
          </td>
          <td>{{coopOrg.description}}</td>
          <td>{{coopOrg.create_user_name}}</td>
          <td>{{coopOrg.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{coopOrg.update_user_name}}</td>
          <td>{{coopOrg.update_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
      </tbody>
    </table>
    <ng-pagination conf="paginationConf"></ng-pagination>
    <!-- Modal -->
    <div id="erpSystemCommonCoopOrgPanel" class="modal fade klxx-modal-primary"
      tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <form class="klxx-erp-form form-horizontal" name="coopOrgForm" novalidate>
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">合作机构{{optype=='add'?'添加':'修改'}}</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="hide">
                  <input type="text" ng-model='coopOrg.id'>
                </div>
                <div class="klxx-erp-form-item-label form-group">
                  <label class="klxx-erp-form-item-required col-sm-2 control-label">机构名称</label>
                  <div class="col-sm-10" ng-class="{'has-error': coopOrgForm.coopOrgName.$invalid && coopOrgForm.coopOrgName.$dirty}">
                    <input type="text" name="coopOrgName" class="klxx-erp-input form-control"
                     ng-model='coopOrg.coopOrgName' required>
                     <div ng-show="coopOrgForm.coopOrgName.$invalid && coopOrgForm.coopOrgName.$dirty && coopOrgForm.coopOrgName.$error.required" class="has-error klxx-erp-form-explain">合作机构名称必填</div>
                  </div>
                </div>
                <div class="klxx-erp-form-item-label form-group">
                  <label class="col-sm-2 control-label">描述</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="4" 
                     ng-model="coopOrg.description"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" 
                ng-click="handleModalCancel()">取消</button>
              <button type="submit" class="btn btn-primary"
                ng-click="handleModalConfirm()"
                ng-disabled="coopOrgForm.$invalid"
              >确定</button>
            </div>
          </div><!-- .modal-content end-->
        </form>
        <!-- .klxx-erp-from end-->
      </div>
    </div>


  </div>
</div>