<div ng-controller="BSAccountMgrCtrl">
    <div class="panel panel-default" style="margin-bottom: 10px;">
        <div class="panel-heading font-bold">
            会员账户
        </div>
        <div class="panel-body" style="padding: 15px;">
            <form class="ng-pristine ng-valid" role="form">
                <div class="col-lg-2">
                    <select class="form-control" ng-model="selectedCompany" ng-options="company.name for company in companys">
                    </select>
                </div>
                <div class="col-lg-2">
                    <select class="form-control" ng-model="selectedBranch"  ng-click="selectParam('branchId',null)" ng-options="branch.name for branch in branchsList">
                    </select>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <input class="form-control" id="appendedInputButtons" type="text" ng-model="search_info">
                        <span class="input-group-addon cur" type="button" ng-click="queryInfo()">查询</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div class="panel-heading font-bold">
                账户流水
                <div class="fr">
                    <div class="fl cur" ng-click="toOpenAccountRechargePanel()" style="margin-right: 15px;">
                        <i class="fa fa-cny"></i> 充值
                    </div>
                    <div class="fl cur" ng-click="studentTransferStudentAccountPanel()" style="margin-right: 15px;">
                        <i class="fa fa-exchange"></i> 转账
                    </div>
                    <div class="fl cur" ng-click="openWithdrawPanel()" style="margin-right: 15px;">
                        <i class="fa fa-folder-open"></i> 取款
                    </div>
                    <div class="fl cur" ng-click="openSettlementOfClaims()" >
                        <i class="fa fa-file-zip-o"></i> 理赔
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding: 15px;">
                <table class="table table-striped table-hover table-bordered" style="margin-bottom: 10px;">
                    <col width="5%">
                    <col width="15%">
                    <col width="15%">
                    <col width="5%">
                    <col width="5%">
                    <col width="5%">
                    <col width="20%">
                    <col width="20%">
                    <col width="10%">
                    <tr>
                        <th>id</th>
                        <th>学员编码</th>
                        <th>学员姓名</th>
                        <th>类型</th>
                        <th>子类型 </th>
                        <th>金额 </th>
                        <th>发生时间</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>

                    <tr ng-repeat="account in accountChangeList" ng-if = "accountChangeList && accountChangeList.length>0" ng-click="checked(account)" class="{{account.checked?'success':''}}">
                        <td>{{account.id}}</td>
                        <td>{{account.studentEncoding}}</td>
                        <td>{{account.studentName}}</td>
                        <td>{{account.dynamicType}}</td>
                        <td>{{account.payMode}}</td>
                        <td>{{account.money}}</td>
                        <td>{{account.createDate}}</td>
                        <td>{{account.remark}}</td>
                        <td>
                            <a  href="javascript:void(0)" ng-click="toUpdateAccountPanel(account)">修改</a>
                            <a  href="javascript:void(0)" ng-click="toDeleteAccountPanel(account)">作废</a>
                        </td>
                    </tr>

                    <tr ng-if="!accountChangeList||!accountChangeList.length">
                        <td colspan="9" align="center">暂无数据.</td>
                    </tr>

                    <tr ng-if="isLoadingOrders == 'loading...'">
                        <td colspan="9" align="center">
                            <img src="img/icons/big_load.gif">
                        </td>
                    </tr>
                </table>
          </div>
	        <div class="fr"  ng-if="totalPage>=1" >
	            <ul class="pagination">
	             <li ng-model="currentPage" ng-if="totalPage>=1"  ng-click="queryIndex(1)">
	                    <span >首页</span>
	                </li>
	                  <li    ng-if="currentPage>1"    ng-click="queryIndex(currentPage-1)" >
	                    <span>上一页</span>
	                </li>
	                <li     ng-repeat="i in paginationBars track by $index" class="{{ i==currentPage ? 'active':'' }}"  >
	                    <span ng-click="queryIndex(i)" >{{i}}</span>
	                </li>
	                <li ng-model="currentPage"  ng-if="currentPage<totalPage"    ng-click="queryIndex(currentPage+1)">
	                    <span >下一页</span>
	                </li>
	                <li ng-model="totalPage"    ng-click="queryIndex(totalPage)">
	                    <span >尾页</span>
	                </li>
	                
	            </ul>
	        </div>
        </div>
    </div>


    <div ng-include="'templates/segment/student_account_2.html'"></div>
</div>