<div>
    <div class="col-lg-10">
        <div style=" float:left; margin-top:100px; margin-left:100px; ">

            <div class="col-lg-12">
                <div class="titlebox">
                    <a href="#/businessSystem/orderMgr" target="_blank" style="color: #333;"><i class="fa fa-edit"></i> 报班业务</a>
                </div>
                <div class="titlebox"> <a href="#/businessSystem/refundMgr" target="_blank" style="color: #333;"><i class="fa fa-external-link"></i> 退费业务</a></div>
                <div class="titlebox"><a href="#/businessSystem/BStransferClassMgr" target="_blank" style="color: #333;"><i class="fa fa-exchange"></i> 转班业务</a></div>
                <div class="titlebox">
                    <a href="#/businessSystem/BSattendanceMgr" target="_blank" style="color: #333;">
                        <i class="fa fa-credit-card"></i> 考勤业务
                    </a>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="titlebox">
                    <a href="#/businessSystem/PUBBSaccountMgr" target="_blank" style="color: #333;">
                        <i class="fa fa-cny"></i> 充值业务
                    </a>
                </div>
                <div class="titlebox">
                    <a href="#/businessSystem/PUBBSaccountMgr" target="_blank" style="color: #333;">
                        <i class="fa fa-folder-open-o"></i> 取现业务
                    </a>
                </div>
                <div class="titlebox">
                    <a href="#/businessSystem/PUBBSaccountMgr" target="_blank" style="color: #333;">
                        <i class="fa fa-legal"></i> 理赔业务
                    </a>
                </div>
                <div class="titlebox">
                    <a href="#/businessSystem/PUBBSaccountMgr" target="_blank" style="color: #333;">
                        <i class="fa fa-mail-forward"></i> 转账业务
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">

    </div>
</div>
