<!-- 题目类型的选择 -->
<section class="mgp-paper-tag">
  <div class="tag-item layout-row">
    <p class="tag-title m-0 w-60" >题型:</p>
    <div class="layout-row flex layout-align-space-between">
      <section class="tag-conbox">
        <ul class="m-0 layout-row p-0">
          <li class="pr-10" ng-class="{'active': Mgp.itemFilter.itemType.length === 0}"><a href="javascript:;" ng-click="Mgp.selectAllType('itemType')">不限</a></li>
          <li class="pr-10" ng-class="{'active': Mgp.checkActive(item.id, Mgp.itemFilter.itemType)}" ng-repeat="item in Mgp.itemTypeList track by item.id"><a href="javascript:;" ng-click="Mgp.toggleTypeId('itemType', item.id)">{{item.typeName}}</a></li>
          <!-- <li class="pr-10"><a href="javascript:;">填空题</a></li> -->
          <!-- <li class="pr-10"><a href="javascript:;">解答题</a></li> -->
        </ul>
      </section>
      <div class="tag-btn layout-column layout-align-center-center">
        <span ng-click="Mgp.itemFilter.itemTypeMulti = !Mgp.itemFilter.itemTypeMulti">
          <a href="javascript:;" ng-hide="Mgp.itemFilter.itemTypeMulti">多选</a>
          <a href="javascript:;" ng-show="Mgp.itemFilter.itemTypeMulti">取消多选</a>
        </span>
      </div>
      
    </div>
  </div>
  <div class="tag-item layout-row mt-5">
    <p class="tag-title m-0 w-60">地区:</p>
    <div class="layout-row flex layout-align-space-between">
      <section class="tag-conbox flex-1" >
        <ul class="m-0 layout-row p-0">
          <li class="pr-10 active" ng-class="{'active': Mgp.itemFilter.regionList.length === 0}"><a href="javascript:;" ng-click="Mgp.selectAllType('regionList')">不限</a></li>
          <li class="pr-10" ng-if="Mgp.itemFilter.regionListMore" ng-repeat="item in Mgp.regionList track by item.id" ng-class="{'active': Mgp.checkActive(item.id, Mgp.itemFilter.regionList)}"><a href="javascript:;" ng-click="Mgp.toggleTypeId('regionList', item.id)">{{item.provinceName}}</a></li>
          <li class="pr-10" ng-if="!Mgp.itemFilter.regionListMore" ng-repeat="item in Mgp.regionList | limitTo: 7" ng-class="{'active': Mgp.checkActive(item.id, Mgp.itemFilter.regionList)}"><a href="javascript:;" ng-click="Mgp.toggleTypeId('regionList', item.id)">{{item.provinceName}}</a></li>
          <!-- <li class="pr-10"><a href="javascript:;">中档题</a></li> -->
          <!-- <li class="pr-10"><a href="javascript:;">难题</a></li> -->
        </ul>
      </section>
      <div class="tag-btn layout-row layout-align-end-start w-150">
        <span ng-click="Mgp.itemFilter.regionListMulti = !Mgp.itemFilter.regionListMulti" class="tr-gray-bg">
          <a href="javascript:;" ng-hide="Mgp.itemFilter.regionListMulti">多选</a>
          <a href="javascript:;" ng-show="Mgp.itemFilter.regionListMulti">取消多选</a>
        </span>
        <span ng-click="Mgp.toggleMoreRegion(Mgp.itemFilter.regionList)" class="min-width-30 tr-gray-bg">
          <a href="javascript:;">
            更多
            <i class="fa fa-caret-down" ng-show="!Mgp.itemFilter.regionListMore"></i>
            <i class="fa fa-caret-up" ng-show="Mgp.itemFilter.regionListMore"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</section>
  
<!--  -->
<section class="mgp-paper-action mt-10">
  <div class="layout-row layout-align-end-center">
    <p class="m-0 pr-10">共计: <span style="color: #0c72ce;">567</span>题</p>
    <button class="btn btn-primary">本页全部加入试题卷</button>
  </div>
</section>
<!-- -->
<section class="mgp-paper-exam-list mt-10">
  <div ng-include="'./templates/tr/template/mgp-body-question-list.html'"></div>
</section>