<div id="tr-my-course-class" class="erp tr" ng-controller="frMyCourseClassCtrl as myCourseClass">
  <!--  -->
  <div class="panel panel-primary mb-1">
<!--     <div class="panel-heading font-bold layout-row">
      <div ng-click="myCourseClass.back()" class="mr-10">
        <a href="javascript:;" class="tr-primary-fg">
          <i class="fa fa-angle-left fa-lg"></i>
          <span>返回</span>
        </a>
      </div>
      <p class="title">我的课程 / 我的课次</p>
    </div> -->
    <div class="panel-heading">
      <span class="title">
        <span class="cur text-primary" ng-click="myCourseClass.back()">&lt; 返回</span> | 我的课程 / 我的课次
      </span>
    </div>
  </div>
  <!-- 课次表格 -->
  <div class="table-panel">
    <div style="text-align: center;" ng-if="myCourseClass.loading">
      <img src="img/erp/loading2.gif" />
    </div>
    <div ng-if="!myCourseClass.loading">
      <table class="table table-striped">
        <tr>
          <th>课次名称</th>
          <th>上课状态</th>
          <th>上课日期</th>
          <th>课前预习</th>
          <th>入门测试</th>
          <th>课中例题</th>
          <th>课堂测试</th>
          <th>课后作业</th>
          <th>考试</th>
        </tr>
        <tr ng-repeat="courseClass in myCourseClass.courseClassInfoList" ng-if="myCourseClass.courseClassInfoList && myCourseClass.courseClassInfoList.length">
          <td>{{::courseClass.classTitle}}</td>
          <td>{{::courseClass.status}}</td>
          <td>{{::courseClass.startDate}}</td>
          <td>
            <div ng-if="courseClass.preWork.workId" class="flex-box layout-align-center-center">
              <div ng-if="courseClass.preWork.videoFlag" class="mr-5">
                <i class="iconfont icon-subject_video" style="color: #3b9ef6;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/view', courseClass.preWork.workId, 'video')">视频</span>
              </div>
              <div ng-if2="courseClass.preWork.paperFlag">
                <i class="iconfont icon-subject_task" style="color:#05c9c5;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/view', courseClass.preWork.workId, 'paper')">作业</span>
              </div>
            </div>
            <span ng-if="!courseClass.preWork.workId">未布置</span>
          </td>
          <td>
            <div ng-if="courseClass.entryWork.workId">
              <div ng-if="courseClass.entryWork.videoFlag">
                <i class="iconfont icon-subject_video" style="color: #3b9ef6;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/video', courseClass.entryWork.workId, 'video')">视频</span>
              </div>
              <div ng-if="courseClass.entryWork.paperFlag">
                <i class="iconfont icon-subject_task" style="color:#05c9c5;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/view', courseClass.entryWork.workId, 'paper')">作业</span>
              </div>
            </div>
            <span ng-if="!courseClass.entryWork.workId">未布置</span>
          </td>
          <td>
            <div ng-if="courseClass.inClassWork.workId">
              <div ng-if="courseClass.inClassWork.videoFlag">
                <i class="iconfont icon-subject_video" style="color: #3b9ef6;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/video', courseClass.inClassWork.workId, 'video')">视频</span>
              </div>
              <div ng-if="courseClass.inClassWork.paperFlag">
                <i class="iconfont icon-subject_task" style="color:#05c9c5;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/view', courseClass.inClassWork.workId, 'paper')">作业</span>
              </div>
            </div>
            <span ng-if="!courseClass.inClassWork.workId">未布置</span>
          </td>
          <td>
            <div ng-if="courseClass.classTestWork.workId">
              <div ng-if="courseClass.classTestWork.videoFlag">
                <i class="iconfont icon-subject_video" style="color: #3b9ef6;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/video', courseClass.classTestWork.workId, 'video')">视频</span>
              </div>
              <div ng-if="courseClass.classTestWork.paperFlag">
                <i class="iconfont icon-subject_task" style="color:#05c9c5;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/view', courseClass.classTestWork.workId, 'paper')">作业</span>
              </div>
            </div>
            <span ng-if="!courseClass.classTestWork.workId">未布置</span>
          </td>
          <td>
            <div ng-if="courseClass.afterClassWork.workId">
              <div ng-if="courseClass.afterClassWork.videoFlag">
                <i class="iconfont icon-subject_video" style="color: #3b9ef6;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/video', courseClass.afterClassWork.workId, 'video')">视频</span>
              </div>
              <div ng-if="courseClass.afterClassWork.paperFlag">
                <i class="iconfont icon-subject_task" style="color:#05c9c5;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/view', courseClass.afterClassWork.workId, 'paper')">作业</span>
              </div>
            </div>
            <span ng-if="!courseClass.afterClassWork.workId">未布置</span>
          </td>
          <td>
            <div ng-if="courseClass.exam.workId">
              <div ng-if="courseClass.exam.videoFlag">
                <i class="iconfont icon-subject_video" style="color: #3b9ef6;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/video', courseClass.exam.workId, 'video')">视频</span>
              </div>
              <div ng-if="courseClass.exam.paperFlag">
                <i class="iconfont icon-subject_task" style="color:#05c9c5;"></i>
                <span ng-click="myCourseClass.go('/workManagement/work/view', courseClass.exam.workId, 'paper')">作业</span>
              </div>
            </div>
            <span ng-if="!courseClass.exam.workId">未布置</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>