
<div ng-controller=AccountSecurityCtrl>

	<div align="center" class="col-lg-12">
		<h3 style="margin-right: 25%; margin-bottom: 30px;">修改密码</h3>
	</div>
	<div class=form-group>
		<label class="col-sm-3 fl" style="line-height: 34px;"> 当前登录密码:</label>
		<div class="col-sm-6 input-group">
			<input type="password" class=form-control style="width: 50%;" 
				 ng-model=nowPassword id="nowPassword" placeholder="当前登录密码">
		</div>
	</div>

	<div class=form-group>
		<label class="col-sm-3 fl" style="line-height: 34px;"> 新的登陆密码:</label>
		<div class="col-sm-6 input-group">
			<input type="password" class=form-control style="width: 50%;" 
				 	ng-model=newAccountPassword placeholder="新的登陆密码" >
		</div>
	</div>

	<div class=form-group>
		<label class="col-sm-3 fl" style="line-height: 34px;">确认新的登录密码:</label>
		<div class="col-sm-6 input-group">
			<input type="password" class=form-control ng-value=confirmPassword ng-model=confirmPassword style="width: 50%;" placeholder="确认新的登录密码" >
		</div>
	</div>

	<div align="center" class="col-lg-12">
		<button ng-click="clickUpdateCurrentAccount()" class="btn btn-default"
			type="button" style="margin-right: 25%; margin-top: 10px; padding-right: 30px; padding-left: 30px;">修改</button>
	</div>

</div>