<!-- Modal -->
<div id="selectedCourseTimesPanel" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="selectedCourseTimesLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="selectedCourseTimesLabel">{{currentCourse.courseName}}</h3>
    </div>
	<div class="modal-body">
		<div class="row">
			<input type="checkbox" ng-click="toggleAll(currentCourse)"
				ng-model="checkAll" /> <label for="checkbox3"> 全选 </label>
		</div>
		<div class="row">
			<!-- start repeat -->
			<div
				ng-if="currentCourse.courseTimes&&currentCourse.courseTimes.length"
				ng-repeat="item in currentCourse.courseTimes">
				<div class="col-md-3">
					<input id="checkbox3" type="checkbox" ng-click="checkedRow(item)"checked ng-if="item.checked&&!item.disabled"> 
					<input id="checkbox3" type="checkbox" ng-click="checkedRow(item)"disabled="disabled" ng-if="item.disabled"> 
					<input type="checkbox" ng-click="checkedRow(item)" ng-if="!item.checked&&!item.disabled" /> 
					 <label>
						第{{item.time}}课次 </label>
				</div>
			</div>
		</div>
	</div>