<div ng-controller="EmployeeExtCtrl">
    <div class="panel panel-primary" style="margin-bottom: 10px;">
        <div class="panel-heading">
            <span class="title">员工扩展信息</span>
        </div>

        <div class="panel-body" style="padding: 15px;" id="panelBody">
            <form class="ng-pristine ng-valid" role="form">
				<div class="col-lg-12">
                    <div>
                        <h3>员工档案定义表<div class="fr cur btn btn-primary btn-circle" ng-click="toAddEmployeeExt()"><i class="iconfont icon-add"></i> 添加</div></h3>
                    </div>
                    <table class="table table-striped table-hoverbordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>字段名称</th>
                                <th>字段关键字</th>
                                <th>字段状态</th>
                                <th>字段值类型</th>
                                <th>数据字典</th>
                                <th>备注</th>
                                <th>创建人</th>
                                <th>创建时间</th>
                                <th>修改人</th>
                                <th>修改时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ext in employeeExtDatas" ng-if="employeeExtDatas&&employeeExtDatas.length" class="{{ext.checked?'success':''}}">
                                <td>{{ext.id}}</td>
                                <td>{{ext.fieldName}}</td>
                                <td>{{ext.fieldKey}}</td>
                                <td>{{ext.status}}</td>
                                <td>{{ext.fieldType}}</td>
                                <td>{{ext.dictTypeName}}</td>
                                <td>{{ext.remark}}</td>
                                <td>{{ext.createId}}</td>
                                <td>{{ext.createTime}}</td>
                                <td>{{ext.updateId}}</td>
                                <td>{{ext.updateTime}}</td>
                                <td>
                                    <a ng-if="ext.fieldStatus != 2" ng-click="toUpdateItem(ext)" href="javascript:void(0)">修改</a>
                                    <a ng-if="ext.fieldStatus == 0" ng-click="toDeleteItem(ext)" href="javascript:void(0)">启用</a>
                                    <a ng-if="ext.fieldStatus == 1" ng-click="toDeleteItem(ext)" href="javascript:void(0)">禁用</a>
                                </td>                           
                            </tr>
                            <tr ng-if="!employeeExtDatas||!employeeExtDatas.length">
                                <td colspan="12">暂无数据</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        </div>
       
    </div>
    <div ng-include="'templates/hrm/employee/employeeExt_item.html'"></div>
    <div ng-include="'templates/hrm/employee/employeeExt_delete_item.html'"></div>
</div>