<!-- Modal -->
<div ng-controller="hrmEmployeeInfoCtrl">
  <div ng-if="!employeeId">
    未找到员工，请联系管理员！
  </div>
  <div ng-if="employeeId">
    <!--tabs-left:选项卡在左边显示  -->
    <div class="table-panel">
      <!--nav-pills，nav-tabs，nav-stacked :改变选项卡的样式-->
      <ul class="nav nav-tabs" ng-init="model_tab='tab1'">
        <li class="{{model_tab=='tab1'?'active':''}}"><a href="javascript:void(0);" ng-click="model_tab='tab1'">基本信息</a>
        </li>
        <li class="{{model_tab=='tab2'?'active':''}}"><a href="javascript:void(0);" ng-show="!addEmp" ng-click="model_tab='tab2'">教育经历</a>
        </li>
        <li class="{{model_tab=='tab3'?'active':''}}"><a href="javascript:void(0);" ng-show="!addEmp" ng-click="model_tab='tab3'">工作经历</a>
        </li>
        <li class="{{model_tab=='tab4'?'active':''}}"><a href="javascript:void(0);" ng-show="!addEmp" ng-click="model_tab='tab4'">工作总结</a>
        </li>
        <li class="{{model_tab=='tab5'?'active':''}}"><a href="javascript:void(0);" ng-show="!addEmp" ng-click="model_tab='tab5'">奖惩信息</a>
        </li>
      </ul>
      <!-- 选项卡相对应的内容 -->
      <div class="tab-content">
        <div class="tab-pane {{model_tab=='tab1'?'active':''}}" id="tab1">
          <div class="row">
            <div class="col-lg-4" align="center">
              <p style="margin-top: 50px;">
                <img src="{{selectedEmp.staff_head?selectedEmp.staff_head:'img/hrm/Teacher_0.jpg'}}" class="img-circle" style="width:150px; height:150px;" />
              </p>
              <p ng-if="!addEmp">
                <button class="btn btn-default mt10" ng-click="showUploadModal(selectedEmp)">修改头像</button>
              </p>
              <p ng-if="addEmp">
                <a href="javascript:void(0);" class="btn btn-default" type="button">请添加完信息以后，修改头像</a>
              </p>
            </div>
            <div class="col-lg-8 form-horizontal" style="margin-top: 50px;">
              <div class="form-group col-lg-6" >
                <label class="col-sm-4 text-right" style="line-height: 34px;">姓名：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="selectedEmp.employee_name" ng-readonly=" queryType == 'self'" />
                </div>
              </div>
              <div class="form-group col-lg-6" >
                <label class="col-sm-4 text-right" style="line-height: 34px;">工号：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="selectedEmp.encoding" ng-readonly=" queryType == 'self'" />
                </div>
              </div>
              <div class="form-group col-lg-6" >
                <label class="col-sm-4 text-right" style="line-height: 34px;">身份证：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="selectedEmp.id_ID" ng-readonly=" queryType == 'self'" />
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label class="col-sm-4 text-right" style="line-height: 34px;">业务线：</label>
                <div class="col-sm-8">
                  <select class="form-control"   ng-model="selectedEmp.business"  ng-options="p.id as p.name for p in productLineList"   ng-readonly=" queryType == 'self'">
                    <option value="">-- 请选择 --</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label class="col-sm-4 text-right" style="line-height: 34px;">部门：</label>
                <div class="col-sm-8">
                  <select class="form-control"   ng-model="selectedEmp.dept"  ng-options="d.id as d.name for d in departmentList"   ng-readonly=" queryType == 'self'">
                    <option value="">-- 请选择 --</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label class="col-sm-4 text-right required" style="line-height: 34px;">手机号：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="selectedEmp.phone" ng-readonly=" queryType == 'self'" />
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label class="col-sm-4 text-right" style="line-height: 34px;">岗位：</label>
                <div class="col-sm-8">
                  <!-- <select class="form-control" ng-options="m.id as m.post_name for m in postList"  ng-model="selectedEmp.post" ng-readonly=" queryType == 'self'">
                                         <option  value="">-- 请选择 --</option>
                                     </select> -->
                  <input type="text" class="form-control" ng-disabled="true">{{postListToStr}}</input>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label class="col-sm-4 text-right" style="line-height: 34px;">等级：</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-options="m.id as m.name for m in poslevelList" ng-model="selectedEmp.poslevel" ng-readonly=" queryType == 'self'">
                    <option value="">-- 请选择 --</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label class="col-sm-4 text-right" style="line-height: 34px;">在职类型：</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-options="m.id as m.name for m in enterTypeList" ng-model="selectedEmp.enterType" ng-readonly=" queryType == 'self'">
                    <option value="">-- 请选择 --</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-lg-6">
                  <label class="col-sm-4 text-right" style="line-height: 34px;">入职时间：</label>
                  <div class="col-sm-8"> 
                    <rd-date-picker-popup ng-model="selectedEmp.entryDate" ng-change="determineDate()"></rd-date-picker-popup>
                  </div>
              </div>
              <div class="form-group col-lg-6" ng-repeat="empInfo in temp">
                  <label class="col-sm-4 text-right" style="line-height: 34px;">{{empInfo.fieldName}}：</label>
                  <div class="col-sm-8">
                    <input class="form-control" ng-if="empInfo.fieldType=='字符串'" ng-model="empInfo.fieldKeys">
                    <select class="form-control" ng-options="m.code as m.name for m in empInfo.selected" ng-if="empInfo.fieldType=='数据字典'" ng-model="empInfo.fieldKeys">
                    </select>
                  </div>
                  <div class="col-sm-8" ng-controller="DatepickerDemoCtrl" ng-if="empInfo.fieldType=='日期'">
                    <input type="text" class="form-control" ng-model="empInfo.fieldKeys" uib-datepicker-popup="{{format}}" current-text="今天" close-text="关闭" clear-text="清理" is-open="opened" ng-readonly="true" id="beginDate" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                  </div>
              </div>
            </div>
          </div>
          <!-- 动态字典内容展示（先屏蔽）By: baiqb@klxuexi.org  2017/5/16 15:39:31-->
           <!--<div style=" height:auto;" class="col-lg-12">
             <div class="col-lg-8 form-horizontal" style=" height:auto; display:inline" ng-repeat="empInfo in temp" class="">

              <div class="form-group">
                <label class="col-sm-2 text-right" style="line-height: 34px;">{{empInfo.fieldName}}：</label>
                <div class="col-sm-4">
                  <input class="form-control" ng-if="empInfo.fieldType=='字符串'" ng-model="empInfo.fieldKeys">
                  <select class="form-control" ng-options="m.code as m.name for m in empInfo.selected" ng-if="empInfo.fieldType=='数据字典'" ng-model="empInfo.fieldKeys">
                    <option value="">&#45;&#45; 请选择 &#45;&#45;</option>
                  </select>
                </div>
                <div class="col-sm-4" ng-controller="DatepickerDemoCtrl" ng-if="empInfo.fieldType=='日期'">
                  <input type="text" class="form-control" ng-model="empInfo.fieldKeys" uib-datepicker-popup="{{format}}" current-text="今天" close-text="关闭" clear-text="清理" is-open="opened" ng-readonly="true" id="beginDate" />
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)">
                          <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                  </span>
                </div>
              </div>
            </div>
          </div>-->

          <div class="mt20" align="center" ng-if="queryType != 'self'">
            <button class="btn btn-primary" type="button" ng-show="addEmp" ng-click="addEmployee()">确定添加</button>
            <button class="btn btn-primary" type="button" ng-show="!addEmp" ng-click="updateEmployee()">确定修改</button>
          </div>
        </div>
        <!-- 教育经历 -->
        <div class="tab-pane {{model_tab=='tab2'?'active':''}}" id="tab2">
          <div class="panel-body" style="padding: 15px;" id="panelBody">
            <form class="ng-pristine ng-valid" role="form">
              <div class="col-lg-12">
                <div>
                  <h3>教育经历<div class="fr cur" ><button type="button" style="margin-bottom: 5px;" class="btn btn-default" ng-click="toAddEdu()"  ng-if="queryType != 'self'"><i class="fa fa-plus"></i> 添加</button></div></h3>
                </div>
                <table class="table table-striped table-hover table-bordered">
                  <tr>
                    <th>开始时间</th>
                    <th>截止时间</th>
                    <th>学校</th>
                    <th>专业</th>
                    <th>学位</th>
                    <th>学历</th>
                    <th>学制</th>
                    <th>附件</th>
                    <th>备注</th>
                    <th>操作</th>
                  </tr>
                  <tr ng-repeat="edu in employeeEdu" ng-if="employeeEdu&&employeeEdu.length" class="{{edu.checked?'success':''}}">
                    <td>{{edu.begin_time|date:'yyyy-MM-dd'}}</td>
                    <td>{{edu.end_time|date:'yyyy-MM-dd'}}</td>
                    <td>{{edu.school}}</td>
                    <td>{{edu.profession}}</td>
                    <td>{{edu.degree}}</td>
                    <td>{{edu.certificate}}</td>
                    <td>{{edu.length_school}}</td>
                    <td>{{edu.enclosure}}</td>
                    <td>{{edu.remark}}</td>
                    <td>
                      <a ng-click="toUpdateEdu(edu)" href="javascript:void(0)" ng-if="queryType != 'self'">修改</a>
                      <a data-toggle="modal" data-target="#DelModal" ng-click="toDeleteEdu(edu)" href="javascript:void(0)" ng-if="queryType != 'self'">删除</a>
                    </td>
                  </tr>
                  <tr ng-if="!employeeEdu||!employeeEdu.length">
                    <td colspan="12">暂无数据</td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
          <!-- 模态框（Modal） -->
          <div class="modal fade" id="eduModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" ng-if="queryType != 'self'" aria-hidden="true">
                    &times;
                  </button>
                  <h4 ng-show="!eduUpdate" class="modal-title" id="myModalLabel">
					               添加教育经历
					            </h4>
                  <h4 ng-show="eduUpdate" class="modal-title" id="myModalLabel">
					               修改教育经历
					            </h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="span5">
                      <form role="form" name="userForm">
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">开始时间：</label>
                          <div class="col-sm-6 input-group" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control" ng-model="selectedEdu.begin_time" placeholder="请输入开始时间" uib-datepicker-popup="{{format}}" current-text="今天" close-text="关闭" clear-text="清理" is-open="opened" ng-readonly="true" id="beginDate" />
                            <span class="input-group-btn">
				                            <button type="button" class="btn btn-default" ng-click="open($event)">
				                                <i class="glyphicon glyphicon-calendar"></i>
				                            </button>
				                        </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">截止时间：</label>
                          <div class="col-sm-6 input-group" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control" ng-model="selectedEdu.end_time" placeholder="请输入截止时间" required uib-datepicker-popup="{{format}}" current-text="今天" close-text="关闭" clear-text="清理" is-open="opened" ng-readonly="true" id="beginDate" />
                            <span class="input-group-btn">
				                            <button type="button" class="btn btn-default" ng-click="open($event)">
				                                <i class="glyphicon glyphicon-calendar"></i>
				                            </button>
				                        </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">学校：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedEdu.school" placeholder="请输入学校" required/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">专业：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedEdu.profession" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">学位：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedEdu.degree" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">学历：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedEdu.certificate" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">学制：</label>
                          <div class="col-sm-6 input-group">
                            <input type="number" class="form-control" ng-model="selectedEdu.length_school" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">附件：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedEdu.enclosure" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">备注：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedEdu.remark" />
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button ng-if="queryType != 'self'" type="button" ng-show="!eduUpdate" class="btn btn-primary" ng-click="addEdu(selectedEdu)">
                      提交添加
                    </button>
                    <button ng-if="queryType != 'self'" type="button" ng-show="eduUpdate" class="btn btn-primary" ng-click="updateEdu(selectedEdu)">
                      提交更改
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- 工作经历 -->
        <div class="tab-pane {{model_tab=='tab3'?'active':''}}" id="tab3">
          <div class="panel-body" style="padding: 15px;" id="panelBody">
            <form class="ng-pristine ng-valid" role="form">
              <div class="col-lg-12">
                <div>
                  <h3>工作经历<div class="fr cur" ><button type="button" style="margin-bottom: 5px;" class="btn btn-default" ng-click='toAddExp()'  ng-if="queryType != 'self'"><i class="fa fa-plus"></i> 添加</button></div></h3>
                </div>
                <table class="table table-striped table-hover table-bordered">
                  <tr>
                    <th>开始时间</th>
                    <th>截止时间</th>
                    <th>公司名称</th>
                    <th>公司性质</th>
                    <th>职位名称</th>
                    <th>工作职责</th>
                    <th>下属人数</th>
                    <th>离职原因</th>
                    <th>是否有证明</th>
                    <th>证明信息</th>
                    <th>附件</th>
                    <th>操作</th>
                  </tr>
                  <tr ng-repeat="exp in employeeExp" ng-if="employeeExp&&employeeExp.length" class="{{exp.checked?'success':''}}">
                    <td>{{exp.begin_time|date:'yyyy-MM-dd'}}</td>
                    <td>{{exp.end_time|date:'yyyy-MM-dd'}}</td>
                    <td>{{exp.company_name}}</td>
                    <td>{{exp.company_type}}</td>
                    <td>{{exp.job_title}}</td>
                    <td>{{exp.responsibility}}</td>
                    <td>{{exp.subordinates}}</td>
                    <td>{{exp.reasons}}</td>
                    <td>{{exp.has_prove==1?"有":"无"}}</td>
                    <td>{{exp.reterence}}</td>
                    <td>{{exp.enclosure}}</td>
                    <td>
                      <a ng-click="toUpdateExp(exp)" href="javascript:void(0)" ng-if="queryType != 'self'">修改</a>
                      <a data-toggle="modal" data-target="#DelModal" ng-click="toDeleteExp(exp)" href="javascript:void(0)" ng-if="queryType != 'self'">删除</a>
                    </td>
                  </tr>
                  <tr ng-if="!employeeExp||!employeeExp.length">
                    <td colspan="12">暂无数据</td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
          <!-- 模态框（Modal） -->
          <div class="modal fade" id="expModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 ng-show="!expUpdate" class="modal-title" id="myModalLabel">
					               添加工作经历
					            </h4>
                  <h4 ng-show="expUpdate" class="modal-title" id="myModalLabel">
					               修改工作经历
					            </h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="span5">
                      <form role="form" name="userForm">
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">开始时间：</label>
                          <div class="col-sm-6 input-group" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control" ng-model="selectedExp.begin_time" placeholder="请输入开始时间" required uib-datepicker-popup="{{format}}" current-text="今天" close-text="关闭" clear-text="清理" is-open="opened" ng-readonly="true" id="beginDate" />
                            <span class="input-group-btn">
				                            <button type="button" class="btn btn-default" ng-click="open($event)">
				                                <i class="glyphicon glyphicon-calendar"></i>
				                            </button>
				                        </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">截止时间：</label>
                          <div class="col-sm-6 input-group" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control" ng-model="selectedExp.end_time" placeholder="请输入截止时间" required uib-datepicker-popup="{{format}}" current-text="今天" close-text="关闭" clear-text="清理" is-open="opened" ng-readonly="true" id="beginDate" />
                            <span class="input-group-btn">
				                            <button type="button" class="btn btn-default" ng-click="open($event)">
				                                <i class="glyphicon glyphicon-calendar"></i>
				                            </button>
				                        </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">公司名称：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedExp.company_name" placeholder="请输入公司名称" required/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">公司性质：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedExp.company_type" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">职位名称：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedExp.job_title" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">工作职责：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedExp.responsibility" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">下属人数：</label>
                          <div class="col-sm-6 input-group">
                            <input type="number" class="form-control" ng-model="selectedExp.subordinates" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">离职原因：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedExp.reasons" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">是否有证明：</label>
                          <div class="col-sm-6 input-group">
                            <select class="form-control" ng-model="selectedExp.has_prove">
                              <option value="1">有</option>
                              <option value="0">无</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">证明信息：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedExp.reterence" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">附件：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedExp.enclosure" />
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button ng-if="queryType != 'self'" type="button" ng-show="!expUpdate" class="btn btn-primary" ng-click="addExp(selectedExp)">
                      提交添加
                    </button>
                    <button ng-if="queryType != 'self'" type="button" ng-show="expUpdate" class="btn btn-primary" ng-click="updateExp(selectedExp)">
                      提交更改
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- 工作总结 -->
        <div class="tab-pane {{model_tab=='tab4'?'active':''}}" id="tab4">
          <div class="panel-body" style="padding: 15px;" id="panelBody">
            <form class="ng-pristine ng-valid" role="form">
              <div class="col-lg-12">
                <div>
                  <h3>工作总结<div class="fr cur" ><button type="button" style="margin-bottom: 5px;" class="btn btn-default" ng-click="toAddSum()"  ng-if="queryType != 'self'"><i class="fa fa-plus"></i> 添加</button></div></h3>
                </div>
                <table class="table table-striped table-hover table-bordered">
                  <tr>
                    <th>开始时间</th>
                    <th>截止时间</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>审批人</th>
                    <th>审批状态</th>
                    <th>审批意见</th>
                    <th>附件</th>
                    <th>操作</th>
                  </tr>
                  <tr ng-repeat="sum in employeeSum" ng-if="employeeSum&&employeeSum.length" class="{{sum.checked?'success':''}}">
                    <td>{{sum.start_time|date:'yyyy-MM-dd'}}</td>
                    <td>{{sum.end_time|date:'yyyy-MM-dd'}}</td>
                    <td>{{sum.title}}</td>
                    <td>{{sum.content}}</td>
                    <td>{{sum.employeeName}}</td>
                    <td>{{sum.approval_status==1?"已读":"未读"}}</td>
                    <td>{{sum.approval_opinion}}</td>
                    <td>{{sum.enclosure}}</td>
                    <td>
                      <a ng-if="queryType != 'self'" ng-click="toUpdateSum(sum)" href="javascript:void(0)">修改</a>
                      <a ng-if="queryType != 'self'" data-toggle="modal" data-target="#DelModal" ng-click="toDeleteSum(sum)" href="javascript:void(0)">删除</a>
                    </td>
                  </tr>
                  <tr ng-if="!employeeSum||!employeeSum.length">
                    <td colspan="12">暂无数据</td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
          <!-- 模态框（Modal） -->
          <div class="modal fade" id="sumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 ng-show="!sumUpdate" class="modal-title" id="myModalLabel">
					               添加工作总结
					            </h4>
                  <h4 ng-show="sumUpdate" class="modal-title" id="myModalLabel">
					               修改工作总结
					            </h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="span5">
                      <form role="form" name="userForm">
                        <div class="form-group">
                          <label class="col-sm-3 fl" style="line-height: 34px;">开始时间：</label>
                          <div class="col-sm-9 input-group" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control" ng-model="selectedSum.start_time" placeholder="请输入开始时间" required uib-datepicker-popup="{{format}}" current-text="今天" close-text="关闭" clear-text="清理" is-open="opened" ng-readonly="true" id="beginDate" />
                            <span class="input-group-btn">
				                            <button type="button" class="btn btn-default" ng-click="open($event)">
				                                <i class="glyphicon glyphicon-calendar"></i>
				                            </button>
				                        </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 fl" style="line-height: 34px;">截止时间：</label>
                          <div class="col-sm-9 input-group" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control" ng-model="selectedSum.end_time" placeholder="请输入截止时间" required uib-datepicker-popup="{{format}}" current-text="今天" close-text="关闭" clear-text="清理" is-open="opened" ng-readonly="true" id="beginDate" />
                            <span class="input-group-btn">
				                            <button type="button" class="btn btn-default" ng-click="open($event)">
				                                <i class="glyphicon glyphicon-calendar"></i>
				                            </button>
				                        </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 fl" style="line-height: 34px;">标题：</label>
                          <div class="col-sm-9 input-group">
                            <input type="text" class="form-control" ng-model="selectedSum.title" placeholder="请输入标题" required/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 fl" style="line-height: 34px;">内容：</label>
                          <div class="col-sm-9 input-group">
                            <input type="text" class="form-control" ng-model="selectedSum.content" />
                          </div>
                        </div>
                        <!-- <div class="form-group">
							      <label class="col-sm-4 fl" style="line-height: 34px;">审批人：</label>
									<div class="col-sm-6 input-group">
										<input type="text" 
										class="form-control" ng-model="selectedSum.approver"/>
									</div>
							   </div> -->
                        <div class="form-group">
                          <label class="col-sm-3 fl" style="line-height: 34px;">审批人:</label>
                          <div class="input-group col-sm-9">
                            <input type="text" class="form-control" ng-model="selectedSum.employeeName" />
                            <p ng-show="(!selectedSum.approver||selectedSum.approver=='')&&isSbumitting==true" class="help-block" style="color:#a94442" desc="员工不能为空">员工不能为空........</p>
                            <span class="input-group-addon cur" id="showSpan" ng-click="showEmployeeQuery()">
					                 <i class="fa fa-edit"></i></span>
                            <!-- 隐藏账户所属员工Id -->
                            <input type="hidden" ng-model="selectedSum.approver" na-value="selectedSum.approver">
                            <div class="associatebox" ng-if="showQuery==true">
                              <ul>
                                <div class="input-group col-sm-12 drop-field" ng-controller="TooltipDemoCtrl">
                                  <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="searchInfo" ng-class="{'has-error' : !selectedSum.approver}" id="employee_search_info" ng-change="queryEmployeeInfo()" tooltip-placement="top" tooltip-placement="{dynamicTooltip}}" uib-tooltip="{{dynamicTooltip}}" tooltip-enable="!selectedSum.approver" placeholder="请输入员工姓名或编码....">
                                  <span id="selectSpan" class="input-group-addon cur" ng-click="queryEmployeeInfo()">
					                 <i class="fa fa-search"></i></span>
                                </div>
                                <!-- 迭代员工 -->
                                <li ng-if="onGoingQuery==true" ng-repeat="employee in employeeListSum" ng-click="selectedEmployee(employee)">
                                  {{employee.ENCODING}}-{{employee.EMPLOYEE_NAME}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 fl" style="line-height: 34px;">审批状态：</label>
                          <div class="col-sm-9 input-group">
                            <select class="form-control" ng-model="selectedSum.approval_status">
                              <option value='1'>已读</option>
                              <option value='0'>未读</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 fl" style="line-height: 34px;">审批意见：</label>
                          <div class="col-sm-9 input-group">
                            <input type="text" class="form-control" ng-model="selectedSum.approval_opinion" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 fl" style="line-height: 34px;">附件：</label>
                          <div class="col-sm-9 input-group">
                            <input type="text" class="form-control" ng-model="selectedSum.enclosure" />
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button ng-if="queryType != 'self'" type="button" ng-show="!sumUpdate" class="btn btn-primary" ng-click="addSum(selectedSum)">
                      提交添加
                    </button>
                    <button ng-if="queryType != 'self'" type="button" ng-show="sumUpdate" class="btn btn-primary" ng-click="updateSum(selectedSum)">
                      提交更改
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- 奖惩信息 -->
        <div class="tab-pane {{model_tab=='tab5'?'active':''}}" id="tab5">
          <div class="panel-body" style="padding: 15px;" id="panelBody">
            <form class="ng-pristine ng-valid" role="form">
              <div class="col-lg-12">
                <div>
                  <h3>奖惩信息<div class="fr cur" ><button ng-if="queryType != 'self'" type="button" style="margin-bottom: 5px;" class="btn btn-default" ng-click="toAddRew()" ><i class="fa fa-plus"></i> 添加</button></div></h3>
                </div>
                <table class="table table-striped table-hover table-bordered">
                  <tr>
                    <th>获奖时间</th>
                    <th>发奖单位</th>
                    <th>奖项名称</th>
                    <th>备注</th>
                    <th>附件</th>
                    <th>操作</th>
                  </tr>
                  <tr ng-repeat="rew in employeeRew" ng-if="employeeRew&&employeeRew.length" class="{{rew.checked?'success':''}}">
                    <td>{{rew.date_time|date:'yyyy-MM-dd'}}</td>
                    <td>{{rew.award_party}}</td>
                    <td>{{rew.award_name}}</td>
                    <td>{{rew.describe}}</td>
                    <td>{{rew.enclosure}}</td>
                    <td>
                      <a ng-if="queryType != 'self'" ng-click="toUpdateRew(rew)" href="javascript:void(0)">修改</a>
                      <a ng-if="queryType != 'self'" data-toggle="modal" data-target="#DelModal" ng-click="toDeleteRew(rew)" href="javascript:void(0)">删除</a>
                    </td>
                  </tr>
                  <tr ng-if="!employeeRew||!employeeRew.length">
                    <td colspan="6">暂无数据</td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
          <!-- 模态框（Modal） -->
          <div class="modal fade" id="rewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 ng-show="!rewUpdate" class="modal-title" id="myModalLabel">
					               添加奖惩信息
					            </h4>
                  <h4 ng-show="rewUpdate" class="modal-title" id="myModalLabel">
					               修改奖惩信息
					            </h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="span5">
                      <form role="form" name="userForm">
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">获奖时间：</label>
                          <div class="col-sm-6 input-group" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control" ng-model="selectedRew.date_time" placeholder="请输入获奖时间" required uib-datepicker-popup="{{format}}" current-text="今天" close-text="关闭" clear-text="清理" is-open="opened" ng-readonly="true" id="beginDate" />
                            <span class="input-group-btn">
				                            <button type="button" class="btn btn-default" ng-click="open($event)">
				                                <i class="glyphicon glyphicon-calendar"></i>
				                            </button>
				                        </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">发奖单位：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedRew.award_party" placeholder="请输入发奖单位" required/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">奖项名称：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedRew.award_name" placeholder="请输入奖项名称" required/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">备注：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedRew.describe" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 fl" style="line-height: 34px;">附件：</label>
                          <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" ng-model="selectedRew.enclosure" />
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button ng-if="queryType != 'self'" type="button" ng-show="!rewUpdate" class="btn btn-primary" ng-click="addRew(selectedRew)">
                      提交添加
                    </button>
                    <button ng-if="queryType != 'self'" type="button" ng-show="rewUpdate" class="btn btn-primary" ng-click="updateRew(selectedRew)">
                      提交更改
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="DelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h4 ng-show="eduDelete" class="modal-title" id="myModalLabel">
					               删除教育经历
					            </h4>
                <h4 ng-show="expDelete" class="modal-title" id="myModalLabel">
					               删除工作经历
					            </h4>
                <h4 ng-show="sumDelete" class="modal-title" id="myModalLabel">
					               删除工作总结
					            </h4>
                <h4 ng-show="rewDelete" class="modal-title" id="myModalLabel">
					               删除奖惩信息
					            </h4>
              </div>
              <div class="modal-body">
                <h3>确定要删除吗？</h3>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                  </button>
                  <button ng-if="queryType != 'self'" ng-show="eduDelete" type="button" class="btn btn-primary" ng-click="deleteEdu()">
                    确定
                  </button>
                  <button ng-if="queryType != 'self'" ng-show="expDelete" type="button" class="btn btn-primary" ng-click="deleteExp()">
                    确定
                  </button>
                  <button ng-if="queryType != 'self'" ng-show="sumDelete" type="button" class="btn btn-primary" ng-click="deleteSum()">
                    确定
                  </button>
                  <button ng-if="queryType != 'self'" ng-show="rewDelete" type="button" class="btn btn-primary" ng-click="deleteRew()">
                    确定
                  </button>
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
    </div>
  </div>
</div>
