<!-- Modal -->
<div id="EmployeeExtPanel" class="modal klxx-modal-primary fade " tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增员工档案定义</h4>
			</div>
			<div class="modal-body">

				<div class="form-group" hidden="hidden">
					<label class="col-sm-3 fl" style="line-height: 34px;">ID</label>
					<div class="col-sm-9 input-group">
						<input type="text" class="form-control" ng-model="selectedItem.id" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 fl" style="line-height: 34px;">字段名称</label>
					<div class="col-sm-9 input-group">
						<input type="text" class="form-control" ng-model="selectedItem.fieldName" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 fl" style="line-height: 34px;">字段关键字</label>
					<div class="col-sm-9 input-group">
						<input type="text" class="form-control" ng-model="selectedItem.fieldKey" onkeyup="this.value=this.value.toUpperCase()"  ng-required="true"/>
					</div>
				</div>
		        
		        <div class="form-group">
		            <label class="col-sm-3 fl" style="line-height: 34px;">字段值类型</label>
		            <div class="col-sm-9 input-group">
		                <select type="text" value="" class="form-control" ng-model="selectedItem.fieldType" ng-options="field for field in fieldType">
		                <option value="" disabled selected>——请选择——</option>
		                </select>
		            </div>
		        </div>
		        
		        <div class="form-group" ng-if="selectedItem.fieldType == '数据字典'">
		            <label class="col-sm-3 fl" style="line-height: 34px;">数据字典</label>
		            <div class="col-sm-9 input-group">
		                <select value="" class="form-control" ng-model="selectedItem.fieldDictType">
		                	<option value="" disabled selected>——请选择——</option>
		                	<option value="{{dic.id}}" ng-repeat="dic in dictDatas">{{dic.name}}</option>
		              	</select>
		            </div>
		        </div>
		        
		        <div class="form-group">
					<label class="col-sm-3 fl" style="line-height: 34px;">备注</label>
					<div class="col-sm-9 input-group">
						<input type="text" class="form-control" ng-model="selectedItem.remark" />
					</div>
				</div>
		        
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button"
					ng-click="saveEmployeeExt()">确定</button>
			</div>
		</div>
	</div>
</div>