						<div ng-if="openPanel=='4'" class="container">
                   				<div align="center" >
								  <h2>个性化教师转正考核表</h2>
								</div>
								<p>&nbsp;</p>
								<p>&nbsp;</p>
								<div class="form-group col-lg-12">
									<strong>
										 <div class="form-group fl">
										     <label class="fl" style="line-height: 34px;">教师姓名：</label>
										    <div class="input-group">
								              <input type="text" class="form-control" ng-model="selecteditem.employeeName"/>
								                  <p   ng-show="(!selecteditem.employeeId||selecteditem.employeeId=='')&&isSbumitting==true"
										               class="help-block" style="color:#a94442" desc="教师姓名不能为空">教师姓名不能为空........</p> 
								               <span class="input-group-addon"  id="showSpan" ng-click="showEmployeeQuery()">
								                 <i class="fa fa-edit"></i></span>
								                 <!-- 隐藏账户所属员工Id -->
								                 <input type="hidden" ng-model="selecteditem.employeeId" na-value="selecteditem.employeeId" > 
								                   <div class="associatebox" ng-if="showQuery==true" >
								                  <ul >
								                <div class="input-group drop-field"  ng-controller="TooltipDemoCtrl" >         
								                <input type="text" class="form-control ng-pristine ng-valid ng-touched" 
								                 ng-model="searchInfo" 
								                 ng-class="{'has-error' : !selecteditem.employeeId}"
								                 id="employee_search_info"
								                 ng-change="queryEmployeeInfo()"
								                 tooltip-placement="top" 
										         tooltip-placement="{dynamicTooltip}}" 
										         uib-tooltip="{{dynamicTooltip}}"  
										         tooltip-enable="!selecteditem.employeeId"
								                 placeholder="请输入教师姓名或编码....">
								                 <span id="selectSpan" class="input-group-addon"   ng-click="queryEmployeeInfo()">
								                 <i class="fa fa-search"></i></span>
								                 </div>
								                 <!-- 迭代员工 -->
								                   <li ng-if="onGoingQuery==true" ng-repeat="employee in employeeList" ng-click="selectedEmployee(employee)">
								                   {{employee.ENCODING}}-{{employee.EMPLOYEE_NAME}}</li>
								                         </ul>
								                     </div>
								            </div>
								   		    </div>
											
										<div class="form-group fl">
											<label class="fl" >科目：</label>
											<div class="input-group">
												<input type="text" class="form-control" ng-model="selecteditem.course"/>
											</div>
										</div>
										<div class="form-group fl col-sm-4 ">
			                    				<label class="col-sm-4 fl" style="line-height: 34px;">转正后等级：</label>
												<div class="col-sm-6 input-group">
					                                <select ng-if="showDetail==1" class="form-control" ng-options="m as m.name for m in poslevelList"  ng-model="selectedEmp.poslevel">
														 <option  value="">-- 请选择 --</option> 
													</select>
													<select ng-if="showDetail==0"  class="form-control" >
														 <option >{{selecteditem.poslevelshow}}</option> 
													</select>
												</div>
			                    		</div>
										<div class="form-group  fl">	
											<label class="fl">入职日期：</label>
											<div class=" input-group fl" ng-controller="DatepickerDemoCtrl">
														<input type="text" 
														 ng-model="selecteditem.entryDate" placeholder="请输入入职时间" required
														uib-datepicker-popup="{{format}}"
					                                   current-text="今天"
					                                   close-text="关闭"
					                                   clear-text="清理"
					                                   is-open="opened"
					                                   ng-readonly="true"
					                                   id="entryDate"/>
					                                  		<span class="input-group-btn">
								                            <button type="button" class="btn btn-default" ng-click="open($event)">
								                                <i class="glyphicon glyphicon-calendar"></i>
								                            </button>
								                        </span>
													</div>
										</div>
										<div class="form-group fl">
											<label class=" fl">拟转正日期：</label>
											<div class="input-group fl" ng-controller="DatepickerDemoCtrl">
														<input type="text" 
														 ng-model="selecteditem.toPostDate" placeholder="请输入拟转正时间" required
														uib-datepicker-popup="{{format}}"
					                                   current-text="今天"
					                                   close-text="关闭"
					                                   clear-text="清理"
					                                   is-open="opened"
					                                   ng-readonly="true"
					                                   id="toPostDate"/>
					                                  		<span class="input-group-btn">
								                            <button type="button" class="btn btn-default" ng-click="open($event)">
								                                <i class="glyphicon glyphicon-calendar"></i>
								                            </button>
								                        </span>
													</div>
										</div>
									</strong>
								</div>
		
								<div class="pull-left">
									<p>&nbsp;</p>
									<p>教研组长考核记录栏中，每项评分规则参考：优秀（10 分） ，良好（8 分） ，一般（5 分） ，较差（3 分） ，差（1 分） 。<br/>
									满分 100 分,得分需高于 70 分（含）， 低于 70 分者延迟转正或解除劳动合同。</p>
								</div>
							<div class="pull-left">
								<table width="975" border="1">
								  <tr>
								    <td width="93"><div align="center"><strong>项目</strong></div></td>
								    <td width="790"><div align="center"><strong>项目描述</strong></div></td>
								    <td width="70"><div align="center"><strong>得分</strong></div></td>
								  </tr>
								  <tr>
								    <td rowspan="10"><div align="center"><strong>
								      教<br />
								      研<br />
								      组<br />
								      长<br />
								      考<br />
								      核<br />
								      考<br />
								      核<br />
								      记<br />
								    录</strong></div></td>
								    <td>1、对企业和团队认可度高，归属感强，遵守公司的规章制度并积极参加集体活动。</td>
								    <td><input type="number" name="score" ng-model="scoreList[0]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td>2、服从工作安排，积极履行岗位工作职责。各种培训和其他事物中表现积极，配合度高。</td>
								    <td><input type="number" name="score" ng-model="scoreList[1]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td>3.个人知识功底扎实，对中高考重难点及考点把握准确。</td>
								    <td><input type="number" name="score" ng-model="scoreList[2]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td>4.月考成绩无 3 次以上（含 3 次）不及格或倒数第一。组内排名有提高。</td>
								    <td><input type="number" name="score" ng-model="scoreList[3]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td>5.授课时及与学生、 家长沟通时注意着装形象， 能够展示经验和方法，给予其信心。</td>
								    <td><input type="number" name="score" ng-model="scoreList[4]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td>6.讲义符合“ 总-分-总”、“ 小循环”规范，重难点清晰，例题配备合适，格式合规范。</td>
								    <td><input type="number" name="score" ng-model="scoreList[5]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td>7.完成 9-12 次有效的试讲评价，授课能力持续提高。</td>
								    <td><input type="number" name="score" ng-model="scoreList[6]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td>8.学生、家长、学管授课反馈满意度高。 </td>
								    <td><input type="number" name="score" ng-model="scoreList[7]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td>9.授课课时在申请转正日期前 1 个月内平均工作量达到 6 小时/周。</td>
								    <td><input type="number" name="score" ng-model="scoreList[8]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td>10.因自身原因引发换教师、退费、点名投诉及其他教学事故不超过 4 次。</td>
								    <td><input type="number" name="score" ng-model="scoreList[9]" min="0" max="10" required/></td>
								  </tr>
								  <tr>
								    <td colspan="2">
								    	<div align="right">
									    	<strong>
									    		<button type="button" ng-click="toSum(scoreList)" class="btn  btn-warning">
													实际得分
												</button> （ 满分 100  分 ）
									    	</strong>
								    	</div>
								    </td>
								    <td>{{selecteditem.total_score}}</td>
								  </tr>
								  <tr>
								    <td height="50%"><p align="center"><strong>考勤情况<br />
								      （人力资源 ）</strong></p>    </td>
								    <td colspan="2">
								    	<strong>迟到：</strong><input type="text" size="10" ng-model="selecteditem.late"/>次共计<input type="text" size="10" ng-model="selecteditem.late_min"/>分钟 </br>
								    	<strong>早退：</strong><input type="text" size="10" ng-model="selecteditem.leave"/>次共计<input type="text" size="10" ng-model="selecteditem.leave_min"/>分钟</br>
								    	<strong> 旷工 ：</strong><input type="text" size="10" ng-model="selecteditem.absence"/>次</br>
								    	<strong>  请假 ：</strong><input type="text" size="10" ng-model="selecteditem.afternoon"/>天<br /></br>
								      <strong>考核标准 ：</strong>无故意旷工、早退迟到累计不超过 5 次，请假累计不超过 7 天  
								    </td>
								   
								  </tr>
								  <tr ng-if="step==1||step==2||step==3||step==4">
								    <td><div align="center"><strong>教研组长<br />意见</strong></div>
								   	</td>
								    <td colspan="2" contentEditable="true">
								    	<div class="form-group">
					                        <label ng-if="step==1" class="col-lg-2 control-label">可选操作</label>
					                        <label ng-if="step!=1" class="col-lg-2 control-label">审批结果</label>
					                        <div class="col-lg-10">
					                            <div class="btn-group">
					                                <label ng-if="step==1" class="btn btn-default"  ng-click="processTask(outcome)" ng-repeat="outcome in outcomeList">{{outcome}}</label>
					                                <label   ng-if="step!=1">{{handler_opinionList[0]}}</label>
					                            </div>
					                        </div>
					                    </div>
					                    <div>
						                    <div>
						                    	<label class="col-lg-2 control-label">操作备注</label>
						                    	<div class="col-lg-10">
								                    <textarea ng-model="remark[0]" class="form-control" style="width: 300px;height: 100px;">
													</textarea>
												</div>
											</div>
											<div class="pull-right">
												<div >
													{{handler_nameList[0]}}
												</div>
												<div >
													{{last_update_timeList[0]|date:'yyyy-MM-dd HH:mm:ss'}}
												</div>
											</div>
										</div>
									</td>
								  </tr> 
								  <tr ng-if="step==2||step==3||step==4">
								    <td><div align="center"><strong>教学总监<br />意见</strong></div>
								    </td>
								    <td colspan="2">
								    	<div class="form-group">
					                        <label ng-if="step==2" class="col-lg-2 control-label">可选操作</label>
					                        <label ng-if="step!=2" class="col-lg-2 control-label">审批结果</label>
					                        <div class="col-lg-10">
					                            <div class="btn-group">
					                                <label ng-if="step==2" class="btn btn-default"  ng-click="processTask(outcome)" ng-repeat="outcome in outcomeList">{{outcome}}</label>
					                                <label   ng-if="step!=2">{{handler_opinionList[1]}}</label>
					                            </div>
					                        </div>
					                    </div>
					                    <div>
						                    <div>
						                    	<label class="col-lg-2 control-label">操作备注</label>
						                    	<div class="col-lg-10">
								                    <textarea ng-model="remark[1]" class="form-control" style="width: 300px;height: 100px;">
													</textarea>
												</div>
											</div>
											<div class="pull-right">
												<div >
													{{handler_nameList[1]}}
												</div>
												<div >
													{{last_update_timeList[1]|date:'yyyy-MM-dd HH:mm:ss'}}
												</div>
											</div>
										</div>
								     </td>
								  </tr>  
								   <tr ng-if="step==3||step==4">
									    <td><div align="center"><strong>人力资源<br />
									    意见</strong></div></td>
									    <td colspan="2">
									    	<div class="form-group">
						                        <label ng-if="step==3" class="col-lg-2 control-label">可选操作</label>
						                        <label ng-if="step!=3" class="col-lg-2 control-label">审批结果</label>
						                        <div class="col-lg-10">
						                            <div class="btn-group">
						                                <label ng-if="step==3" class="btn btn-default"  ng-click="processTask(outcome)" ng-repeat="outcome in outcomeList">{{outcome}}</label>
						                                <label   ng-if="step!=3">{{handler_opinionList[2]}}</label>
						                            </div>
						                        </div>
						                    </div>
						                    <div>
							                    <div>
							                    	<label class="col-lg-2 control-label">操作备注</label>
							                    	<div class="col-lg-10">
									                    <textarea ng-model="remark[2]" class="form-control" style="width: 300px;height: 100px;">
														</textarea>
													</div>
												</div>
												<div class="pull-right">
													<div >
													{{handler_nameList[2]}}
													</div>
													<div >
													{{last_update_timeList[2]|date:'yyyy-MM-dd HH:mm:ss'}}
													</div>
												</div>
											</div>
									    </td>
								  </tr>
								</table>
							</div>
						</div>
