 <div class="common_pop_window" id="recMoreInfo"> 
	   <div id="title" class="pop_title"><img src="../img/close01.jpg" alt="关闭" class="cursor_pointer" ng-click="closeSearchAdvWindow($event.target)" />更多信息</div> 
		<div class="pop_content">
		   <table>
		      <tr><td nowrap="nowrap" class="form_right" >团队名称：</td><td>{{moreInfo.company_name}}</td></tr>
		      <tr><td nowrap="nowrap" class="form_right" >QQ：</td><td>{{moreInfo.resc.qq}}</td></tr>
		      <tr><td nowrap="nowrap" class="form_right">生日：</td><td>{{moreInfo.resc.birthday|date:'yyyy-MM-dd'}}</td></tr>
		   </table>
		</div> 
</div> 