<div ng-switch on="passwordDialog">
	<style ng-switch-when="open.password.dialog">
		.pwd-jz-window{
			font-size: 12px;width:280px; height:240px; border:7px solid #767576; 
			position:absolute; right:2px; top:30px; z-index:1000; background:#fff;
			-webkit-box-shadow: #666 0px 0px 10px; 
			-moz-box-shadow: #666 0px 0px 10px; 
			box-shadow: #666 0px 0px 10px; display:block; 
			}
		.pwd-window-tit {
		    background: none repeat scroll 0 0 #edf0f7;
		    border-bottom: 1px solid #ccc;
		    height: 28px;
		    line-height: 28px;
		    width: 100%;
		}
		.pwd-window-content{
			height: auto;
    		margin: 10px 0 5px 10px;
		}
		.pwd-con-list {
		    height: auto;
		    padding-bottom: 10px;
		    width: 100%;
		}
		.pwd-cl {
		    clear: both;
		    display: block;
		}
		.pwd-spt{
			font-weight: 900;float: left;display:inline; margin-left: 5px;
		}
		.pwd-spi{
			 margin-bottom: 10px; width: 150px; display: block;
		}
		.pwd-bt-areac{
			width: 100%; height: 15%; position: absolute; bottom: 0px; text-align: center;
		}
		.cz-window-close {
		    background: url("../img/Erpicon.png") no-repeat scroll -218px -1477px rgba(0, 0, 0, 0);
		    cursor: pointer;
		    display: block;
		    height: 15px;
		    width: 15px;
		}
		.window-btn-reset {
		    background: none repeat scroll 0 0 #efefef;
		    border: 1px solid #b3b3b3;
		    border-radius: 2px;
		    display: inline-block;
		    height: 22px;
		    line-height: 22px;
		    width: 42px;
		}
		.window-btn-send {
		    background: none repeat scroll 0 0 #f4a41e;
		    border: 1px solid #f6b239;
		    display: inline-block;
		    line-height: 20px;
		    text-align: center;
		    width: 40px;
		}
		.ml10 {
		    margin-left: 10px;
		}
		.fl {
		    float: left;
		}
		.cl {
		    clear: both;
		    display: block;
		}
		.fr {
		    float: right;
		}
		.mt10 {
		    margin-top: 10px;
		}
		.mr10 {
		    margin-right: 10px;
		}
		.cur{
			cursor: pointer;;
		}
		.select-line{}
		.select-line:hover{ background-color: #CCC; }
	</style>
	<div class="pwd-jz-window" ng-switch-when="open.password.dialog">
		<div class="pwd-window-tit">
	        <span class="ml10 fl">修改您的登录密码！</span>
	        <i class="cz-window-close mt10 mr10 fr select-line" ng-click="closePasswordDialog();" ></i>
        </div>
	 	<div class="pwd-window-content">
            <div class="pwd-con-list cl">
                 <span class="pwd-spt"> 原密码	&nbsp;&nbsp;&nbsp;：</span><input class="pwd-spi" type="password" ng-model="Password.old_password" autocomplete="false" focus="{{Password.old_password_focus}}"/>
                 <span class="pwd-spt"> 新密码	&nbsp;&nbsp;&nbsp;：</span><input class="pwd-spi" type="password" autocomplete="false" ng-model="Password.new_password1" />
                 <span class="pwd-spt"> 确认密码：</span>			<input class="pwd-spi" type="password" autocomplete="false" ng-model="Password.new_password2"/>
            </div>
        </div>
        <div style="width: 100%; height: 28px; text-align: center; color: red;">
        	{{Password.message}}
        </div>
        <div class="pwd-bt-areac">
               <span class="window-btn-send cur select-line" ng-click="updatePassword()">确认</span>
               <span class="window-btn-reset cur select-line" ng-click="resetPassword()">重置</span>
        </div>
	</div>
</div>
