<div class="workbench row">
    <div class="dropdown-header workbench-dropdown-header " style="text-align: left">
        ERP
    </div>
    <div class="divider"></div>
    <div class="workbench_menu">
        <div  class="row">
            <div  class=" col-md-3">
                <a href="#">大小班报班</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">大小版考勤</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">大小班报表</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">大小班财务</a>
            </div >
        </div>
    </div>

    <div class="dropdown-header workbench-dropdown-header" style="text-align: left">
        CRM
    </div>
    <div class="divider"></div>
    <div class="workbench_menu">
        <div  class="row">
            <div  class=" col-md-3">
                <a href="#">资源列表</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">资源分配</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">资源跟踪</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">跟踪报表</a>
            </div >
        </div>
    </div>

    <div class="dropdown-header workbench-dropdown-header" style="text-align: left">
        微信公众服务号
    </div>
    <div class="divider"></div>
    <div class="workbench_menu">
        <div  class="row">
            <div  class=" col-md-3">
                <a href="#">资源列表</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">资源分配</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">资源跟踪</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">跟踪报表</a>
            </div >
        </div>
    </div>


    <div class="dropdown-header workbench-dropdown-header" style="text-align: left">
        微信企业号
    </div>
    <div class="divider"></div>
    <div class="workbench_menu">
        <div  class="row">
            <div  class=" col-md-3">
                <a href="#">资源列表</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">资源分配</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">资源跟踪</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">跟踪报表</a>
            </div >
        </div>
    </div>

    <div class="dropdown-header workbench-dropdown-header" style="text-align: left">
        统计报表
    </div>
    <div class="divider"></div>
    <div class="workbench_menu">
        <div  class="row">
            <div  class=" col-md-3">
                <a href="#">资源列表</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">资源分配</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">资源跟踪</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">跟踪报表</a>
            </div >
        </div>
    </div>

    <div class="dropdown-header workbench-dropdown-header" style="text-align: left">
        财务处理
    </div>
    <div class="divider"></div>
    <div class="workbench_menu">
        <div  class="row">
            <div  class=" col-md-3">
                <a href="#">学员取款</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">发票管理</a>
            </div >
        </div>
    </div>

    <div class="dropdown-header workbench-dropdown-header" style="text-align: left">
        运维平台
    </div>
    <div class="divider"></div>
    <div class="workbench_menu">
        <div  class="row">
            <div  class=" col-md-3">
                <a href="#">学员取款</a>
            </div >
            <div  class=" col-md-3">
                <a href="#">发票管理</a>
            </div >
        </div>
    </div>

</div>