<div ng-controller="BSattendanceMgrCtrl">
    <div class="panel panel-default" style="margin-bottom: 10px;">
        <div class="panel-heading font-bold">
            考勤业务
        </div>
        <div class="panel-body" style="padding: 15px;">
            <div class="col-lg-2">
                <select class="form-control" ng-click="selectParam('companyId',null)"  ng-model="selectedCompany" ng-options="company.name for company in companys">
                </select>
            </div>
            <div class="col-lg-2">
                <select class="form-control" ng-model="selectedBranch" ng-click="selectParam('branchId',null)" ng-options="branch.name for branch in branchsList">
                </select>
            </div>
            <div class="col-lg-2">
                <select class="form-control" ng-model="selectedSeason" ng-click="selectParam('seasonId',null)" ng-options="season.course_season_name for season in seasonList">
                </select>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <input class="form-control" id="appendedInputButtons" type="text" ng-model="queryParam.search_info">
                    <span class="input-group-addon cur" type="button" ng-click="queryInfo()">查询</span>
                </div>
            </div>
            <div class="col-lg-4" align="right">
                <button type="submit" class="btn btn-default" ng-click="showSeniorQuery()">高级搜索</button>
            </div>
            <div class=" col-sm-12  col-md-12 col-lg-12" ng-if="isShowSeniorQuery" style="padding-top: 5px;">
                <div class=" col-sm-12  col-md-12 col-lg-12" style="border-bottom: 1px dashed #ddd;border-top: 1px dashed #ddd;height:34px;line-height:34px;">
                    <label class="fl col-sm-2  col-md-2  col-lg-2 " >年级 : </label>
                    <div class="input-group col-sm-9  col-md-9  col-lg-9 ">
                        <a class="condition_item {{queryParam['gradeId']== null?'condition_item_checked':''}}" style="margin-right: 20px;width:100px;"  ng-click="selectParam('gradeId',null)" >不限</a>
                        <a class="condition_item {{queryParam['gradeId']== grade.id?'condition_item_checked':''}}" style="margin-right: 20px;width:100px;"  ng-click="selectParam('gradeId',grade.id)"  ng-repeat="grade in gradeList">{{grade.name}}</a>
                    </div>
                </div>
                <div class=" col-sm-12  col-md-12 col-lg-12" style="border-bottom: 1px dashed #ddd;height:34px;line-height:34px;">
                    <label class="fl col-sm-2  col-md-2  col-lg-2 ">科目 : </label>
                    <div class="input-group col-sm-9  col-md-9  col-lg-9 ">
                        <a class="condition_item {{queryParam['subjectId']== null?'condition_item_checked':''}}" style="margin-right: 20px;width:100px;"  ng-click="selectParam('subjectId',null)" >不限</a>
                        <a class="condition_item {{queryParam['subjectId']== subject.id?'condition_item_checked':''}}" style="margin-right: 20px;width:100px;"  ng-click="selectParam('subjectId',subject.id)"  ng-repeat="subject in subjectList">{{subject.name}}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="panel panel-default" style="margin-bottom: 10px;">
        <div class="panel-body" style="padding: 15px;">
          <table class="table table-striped table-hover table-bordered">
                <col width="30%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="10%">
                <tr>
                    <th>课程</th>
                    <th>年级</th>
                    <th>科目</th>
                    <th>老师</th>
                    <th>时间</th>
                    <th align="center" style="text-align: center;">操作</th>
                </tr>
                <tr ng-repeat="attendClass in attendClassList " ng-if=" attendClassList && attendClassList.length ">
                    <td colspan="6" style="padding-left: 0px;padding-right: 0px;">
                        <table style="width:100%;">
                            <col width="30%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="10%">
                            <tr>
                                <td style="padding-left: 8px;padding-right: 8px;">{{attendClass.course_name}}</td>
                                <td style="padding-left: 8px;padding-right: 8px;">{{attendClass.grade_name}}</td>
                                <td style="padding-left: 8px;padding-right: 8px;">{{attendClass.subject_name}}</td>
                                <td style="padding-left: 8px;padding-right: 8px;">{{attendClass.teacher_name}}</td>
                                <td style="padding-left: 8px;padding-right: 8px;">{{attendClass.time_calender}}</td>
                                <td style="padding-left: 8px;padding-right: 8px;" align="center">
                                    <i class="fa fa-arrow-circle-right cur" ng-click="showCourseTimes(attendClass)" ng-if="!attendClass.isShowCourseTimes"></i>
                                    <i class="fa fa-arrow-circle-o-down cur" ng-click="showCourseTimes(attendClass)" ng-if="attendClass.isShowCourseTimes"></i>
                                </td>
                            </tr>
                        </table>
                        <table style="width:100%;" class="table" ng-if="attendClass.isShowCourseTimes">
                            <tr>
                                <th>课次</th>
                                <th>排课日期</th>
                                <th>应到</th>
                                <th>实到</th>
                                <th>挂起</th>
                                <th>试听</th>
                                <th>出勤率</th>
                                <th align="center" style="text-align: center;">操作</th>
                            </tr>
                            <tr ng-repeat="courseTimeInfo in attendClass.courseTimeInfoList" ng-if="attendClass.courseTimeInfoList&&attendClass.courseTimeInfoList.length">
                                <td>{{courseTimeInfo.courseTime}}</td>
                                <td>{{courseTimeInfo.courseDate}}</td>
                                <td>{{courseTimeInfo.attendancePlan}}</td>
                                <td>{{courseTimeInfo.actualAttendace}}</td>
                                <td>{{courseTimeInfo.hangUp}}</td>
                                <td>{{courseTimeInfo.listeningTraining}}</td>
                                <td>{{courseTimeInfo.attendanceRate}}</td>
                                <td align="center"><a href="javascript:void(0)" ng-click="toAttendListPanel(attendClass,courseTimeInfo)">去考勤</a></td>
                            </tr>
                            <tr ng-if="isAttendClassTime == 'loading...'">
                                <td colspan="7"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-if="!isLoadingAttendClass&&(!attendClassList||!attendClassList.length)">
                    <td colspan="6" >
                        <div align="center">暂无数据.</div>
                    </td>
                </tr>
                <tr ng-if ="isLoadingAttendClass == 'loading...'">
                    <td colspan="6" align="center">
                        <img src="img/icons/big_load.gif">
                    </td>
                </tr>
            </table>
        </div>
        <div class="fr"  ng-if="totalPage>=1" >
            <ul class="pagination">
             <li ng-model="currentPage" ng-if="totalPage>=1"  ng-click="queryIndex(1)">
                    <span >首页</span>
                </li>
                  <li    ng-if="currentPage>1"    ng-click="queryIndex(currentPage-1)" >
                    <span>上一页</span>
                </li>
                <li     ng-repeat="i in paginationBars track by $index" class="{{ i==currentPage ? 'active':'' }}"  >
                    <span ng-click="queryIndex(i)" >{{i}}</span>
                </li>
                <li ng-model="currentPage"  ng-if="currentPage<totalPage"    ng-click="queryIndex(currentPage+1)">
                    <span >下一页</span>
                </li>
                <li ng-model="totalPage"    ng-click="queryIndex(totalPage)">
                    <span >尾页</span>
                </li>
                
            </ul>
        </div>
    </div>

    <div ng-include="'templates/segment/attendance-list.html'"></div>
</div>