<div class="head_logo_bar" ng-controller="TopHeadCtrl">
    <div>
        <div class="row col-lg-12">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10">
                <span class="logo">{{project.name}}</span>|
                <div class=" btn-group">
                    <a href="javascript:void(0)" class="top_org dropdown-toggle" data-toggle="dropdown" ng-click="toChangeOrg()">{{selectedNode.text?selectedNode.text:rootNode.text}} <i class="fa fa-caret-square-o-down"></i></a>
                    <div class="dropdown-menu">
                        <div id="org_tree" class="org_tree"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-2">

                <div class="row col-lg-12 top_bar">
                    <div class="btn-group top_bar_item cur ml list-alt">
                        <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-list"></i> </a>
                        <ul class="dropdown-menu text_align_center" role="menu">
                            <li role="presentation" ng-repeat="topMenu in topMenus"><a role="menuitem" href="javascript:void(0);" ng-click="selectSystem(topMenu)">{{topMenu.name}}</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{systemParam.casServerLogoutUrl}}"> <i class="active_arrow"></i> 退出</a></li>
                        </ul>
                    </div>

                    <div class="top_bar_item ml {{topMenu.active=='true'||curSystem.key==topMenu.key?'top_bar_item_active':''}}" ng-repeat="topMenu in topMenus" ng-if="topMenu.showMenu!='false'">
                        <div >
                            <a href="javascript:void(0);" ng-click="selectSystem(topMenu)" class="top_menu_item" id="{{topMenu.path}}">
                               <span>{{topMenu.name}}</span>
                            </a>
                        </div>
                        <div >
                            <i class="active_arrow"></i>
                        </div>
                    </div>

                    <div class="top_bar_item mr power-off btn-group">
                        <span class="user_info cur dropdown-toggle" data-toggle="dropdown">
                            <span>{{employee.employeeName}} <i class="fa fa-sort-down"></i> </span>
                            <img src="img/photos/b0.jpg" class="top_photos">
                        </span>
                        <ul class="dropdown-menu self_lnfo_list text_align_center" role="menu" style="right: 0px;">
                            <li class="dropdown-header">
                                {{employee.employeeName}}
                            </li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0);" ng-click="selectUserNav(userMenus.menus[0])">账户安全</a></li>
                            <li><a href="javascript:void(0);" ng-click="selectUserNav(userMenus.menus[1])">个人信息</a></li>
                            <li class="divider"></li>
                            <li><a href="{{systemParam.casServerLogoutUrl}}">退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
