<div class="panel panel-default" style="margin-bottom: 10px;">
    <div class="panel-heading font-bold">
        树形结构
    </div>
    <div class="panel-body" style="padding: 15px;">
        <p>
            1、引用资源：
        </p>
        <p>
            js:"components/jstree/dist/jstree.min.js"
        </p>
        <p>
            css:"components/jstree/dist/themes/default/style.min.css"
        </p>
        <p>
        注意:因该样式需要额外的图片资源，现已经将资源copy到less\common\style.css，图片资源位置：img\jstree。故，现已不需要再引入资源了。
        </p>

        <p>2、使用示例：</p>
        <p>html:<br><textarea readonly style="width:100%;"><div id='tree'></div></textarea></p>
        <p>
            js数据格式：
            <textarea cols="100" rows="20">
                {
                    "id":"1",
                    "text":"厦门地区文灶分公司",
                    "type":"menus",
                    "parent_id":"0",
                    "state" : {
                        "opened" :  "true"
                    },
                    "children":[
                        {
                            "id":"1001",
                            "type":"leaf",
                            "state" : {
                                "opened" :  "true",
                                "selected" : "true"
                            },
                            "text":"厦门文灶大小班1"
                        },{
                            "id":"1002",
                            "text":"厦门文灶大小班2",
                            "state" : {
                                "opened" :  "true"
                                },
                            "type":"leaf",
                            "checked":"true"
                        }
                    ]
                }
            </textarea>
        </p>
        <p>
            js实现：
            <textarea cols="100" rows="20">
                $("#org_tree").jstree({
                    "plugins" : ["types"],
                    "types" : {
                        "menus" : {
                            "icon" : "fa fa-folder-o"
                        },
                        "leaf" : {
                            "icon" : "fa fa-file-text-o"
                        }
                    },
                    'core' : {
                        'data' : resp.data,
                        "check_callback" : function (operation, node, parent, position, more) {
                            //TODO
                        }
                    }
                });

                $("#org_tree").bind('click.jstree', function(event) {
                    var eventNodeName = event.target.text;
                    $log.log(eventNodeName);
                    checkedOrg(event.target);
                })
                //双击  确定jstree.js中已经添加双击事件
                $("#org_tree").bind('dblclick.jstree',function(event){
                    var eventNodeName = event.target.text;
                    $log.log(eventNodeName);
                    checkedOrg(event.target);
                });
            </textarea>
        </p>
    </div>
</div>