<div style="text-align: center;" ng-if="mgtWorkView.loading">
  <img src="img/erp/loading2.gif" />
</div>
<div class="p-20 tr-white-bg layout-row min-height-500" ng-if="!mgtWorkView.loading">
  <div class="ques-left layout-column layout-align-center-center w-150"
    ng-click="mgtWorkView.previous()" ng-class="{'tr-disabled': !mgtWorkView.hasPrevious()}">
    <span class="circle flex-box layout-row layout-align-center-center">
      <i class="fa fa-angle-left fa-2x"></i>
    </span>
  </div>
  <div class="ques-center flex layout-column">
    <div class="ques-container flex">
      <!-- 作业标题 -->
      <div class="title layout-row layout-align-space-around-center h-100">
        <div class="layout-row layout-align-space-around-center">
          <span class="mgtBtn" ng-click="mgtWorkView.prePaper()" ng-class="{'tr-disabled': !mgtWorkView.hasPaperPrevious()}">上一份</span>
          <span style="font-size: 20px; font-weight: bold;padding:0 35px;">{{mgtWorkView.paperName}}</span>
          <span class="mgtBtn" ng-click="mgtWorkView.nextPaper()" ng-class="{'tr-disabled': !mgtWorkView.hasPaperNext()}">下一份</span>
        </div>
      </div>
      <!-- paper item -->
      <div ng-repeat="item in mgtWorkView.paperInfo track by item.itemId" ng-show="$index === (mgtWorkView.page-1)">
        <div class="ques-body layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-60"><i class="iconfont icon-subject_title tr-primary-fg pr-10"></i>题目:</div>
          <div class="dd">
            <div class="content flex-box layout-wrap" latex ng-bind-html="item.content | trustHtml" style="display: inline-block;"></div>
            <div class="options mt-10" ng-show="item.options.length">
              <p ng-repeat="option in item.options track by option.id">
              {{option.optionCode}}&nbsp;&nbsp;<span latex ng-bind-html="option.content | trustHtml"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="auxiliary">
          <!-- 题型 -->
          <div class="ques-type layout-row layout-align-start mv-20 mh-80">
            <div class="dt mr-10 w-60"><i class="iconfont icon-subject_category tr-primary-fg pr-10"></i>类型:</div>
            <div class="dd">{{item.itemType.typeName}}</div>
          </div>
          <!-- 难度 -->
          <div class="ques-difficulty layout-row layout-align-start mv-20 mh-80" ng-if="item.stars.length > 0">
            <div class="dt mr-10 w-60"><i class="iconfont icon-subject_difficulty tr-primary-fg pr-10"></i>难度:</div>
            <div class="dd">
              <ul class="p-0 layout">
                <li ng-repeat="star in item.stars track by star.id" class="pr-5">
                  <i class="fa fa-star tr-primary-fg"></i>
                </li>
              </ul>
            </div>
          </div>
          <!-- 答案 -->
          <div class="ques-ans layout-row layout-align-start mv-20 mh-80">
            <div class="dt mr-10 w-60"><i class="iconfont icon-subject_answer tr-primary-fg pr-10"></i>答案:</div>
            <div class="dd" latex>{{item.answer}}</div>
          </div>
          <!-- 解析 -->
          <div class="-ques-analysis layout-row layout-align-start mv-20 mh-80">
            <div class="dt mr-10 w-60"><i class="iconfont icon-subject_analysis tr-primary-fg pr-10"></i>解析:</div>
            <div class="dd" latex ng-bind-html="item.detail | trustHtml"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="ques-footer layout-row layout-align-space-around-center h-100">
      <div class="ques-footer layout-row layout-align-space-around-center w-300">
        <span class="mgtBtn" ng-click="mgtWorkView.previous()" ng-class="{'tr-disabled': !mgtWorkView.hasPrevious()}">上一题</span>
        <span>{{mgtWorkView.page}}/{{mgtWorkView.total}}</span>
        <span class="mgtBtn" ng-click="mgtWorkView.next()" ng-class="{'tr-disabled': !mgtWorkView.hasNext()}">下一题</span>
      </div>
    </div>
  </div>
  <div class="ques-right layout-column layout-align-center-center w-150"
    ng-click="mgtWorkView.next()" ng-class="{'tr-disabled': !mgtWorkView.hasNext()}">
    <span class="circle flex-box layout-row layout-align-center-center">
      <i class="fa fa-angle-right fa-2x"></i>
    </span>
  </div>
</div>
