<!-- 选择作业要匹配的课次 -->
<rd-modal ng-form="classWorkModalForm" class="class-work-madal tr">
  <rd-modal-title>选择作业要匹配的课次</rd-modal-title>
  <rd-modal-body>
    <div class="form form-horizontal layout-row" style="min-height: 500px;">
     <div class="flex">
      <!-- .search-bar -->
      <div class="searchbar">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group w-400">
              <input type="text" class="form-control" ng-model="classWorkModal.key" placeholder="请输入课程名">
              <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="classWorkModal.search(classWorkModal.key)">
                  <i class="">搜索</i>
                </button>
              </span>
            </div>
          </div>
        </form>
      </div><!-- end .search-bar -->
      <!-- class-info-list -->
      <div class="info-list" style="max-height: 500px; overflow-y: auto;">
        <ul class="course-list m-0 p-0">
          <li class="course" ng-repeat="course in classWorkModal.courseList">
            <div ng-click="classWorkModal.toggleCourseClass(course)">
              <i class="fa fa-caret-right w-10" ng-if="!course.open"></i>
              <i class="fa fa-caret-down w-10" ng-if="course.open"></i>
              {{::course.courseTitle}}
            </div>
            <ul class="course-class-list" ng-if="course.open && course.courseClassList && course.courseClassList.length">
              <li class="course-class mr-20 mb-1" ng-repeat="courseClass in course.courseClassList" ng-click="classWorkModal.select(courseClass, course.id, course.courseTitle)" ng-class="{'selected': classWorkModal.isSelected(courseClass)}">
                {{::courseClass.classTitle}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="pagination">
        <ng-pagination conf="classWorkModal.paginationConf"></ng-pagination>
      </div>
     </div>
     <div style="width: 1px; border: 1px solid #eee;"></div>
     <div class="flex">
      <div class="mt-10 ml-10 right-bar-header layout-row layout-align-space-between-center">
        <div>
          已选的课次( <span>{{classWorkModal.showSelectCourseClass.length}}</span>)
        </div>
        <div ng-click="classWorkModal.clearAll()">
          <i class="iconfont icon-delete text-danger"></i>
          清空
        </div>
      </div>
      <ul class="right-bar-body ml-10 mt-10 p-0">
        <li ng-repeat="item in classWorkModal.showSelectCourseClass" class="layout-row layout-align-space-between-center">
          <span>{{item.classTitle}}</span>
          <i class="fa fa-close tr-primary-fg mr-10" ng-click="classWorkModal.delete(item)"></i>
        </li>
      </ul>
     </div>
    </div>
  </rd-modal-body>
  <rd-modal-footer>
    <button type="button" class="btn btn-default" ng-click="classWorkModal.handleModalCancel()">取消</button>
    <button type="button" class="btn btn-primary" ng-disabled="classWorkModalForm.$invalid" ng-click="classWorkModal.handleModalConfirm()">提交</button>
  </rd-modal-footer>
</rd-modal>
