<div ng-controller="ChangeEventCtrl">
  <div class="panel panel-primary" style="margin-bottom: 10px;">
    <div class="panel-heading">
      <span class="title">人事异动</span>
    </div>
    <div class="panel-body" style="padding: 15px;">
      <div class="toolbar">
        <button type="button" class="btn btn-primary btn-circle" ng-click="toAddChangeEventPanel()"><i class="iconfont icon-add"></i> 新申请</button>
      </div>
      <hr>
      <form class="toolbar form-inline ng-valid" role="form">
        <div class="form-group">
          归属团队：
          <select class="form-control" ng-change="queryBranchsWithId(changeBuId)" ng-model="changeBuId" ng-selected="changeBuId" ng-options="bu.id as bu.org_name for bu in buList" />
        </div>
        <div class="form-group">
          归属校区：
          <select class="form-control" ng-model="changeBranchId" ng-selected="changeBranchId" ng-options="branch.id as branch.org_name for branch in branchsList" />
        </div>
        <div class="form-group">
          类型：
          <select class="form-control" ng-model="changeType" ng-selected="changeType" ng-options="application.id as application.type_name for application in applicationList" />
        </div>
        <div class="form-group">
          搜索关键字：
          <input type="text" class="form-control" ng-model="changeSeacherinfo" />
          <button type="submit" class="btn btn-primary" ng-click="queryInfo(1)"><i class="iconfont icon-search"></i> 查询</button>
        </div>
      </form>
    </div>
  </div>
  <div class="table-panel">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>时间</th>
            <th>团队</th>
            <th>校区</th>
            <th>员工</th>
            <th>类型</th>
            <th>当前处理人</th>
            <th>发起人</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="changeevent in changeList" ng-if="changeList && changeList.length">
            <td>{{changeevent.application_time|date:'yyyy-MM-dd'}}</td>
            <td>{{changeevent.bu_name}}</td>
            <td>{{changeevent.branch_name}}</td>
            <td>{{changeevent.employee_name}}</td>
            <td>{{changeevent.application_name}}</td>
            <td>{{changeevent.handler_name}}</td>
            <td>{{changeevent.organiser_name}}</td>
            <td>
              <a href="javascript:void(0)" ng-click="detail(changeevent)">详情</a>
              <a href="javascript:void(0)" ng-if="changeevent.tha_is_effect == 1" ng-click="updateFollow(changeevent)">取消关注</a>
              <a href="javascript:void(0)" ng-if="changeevent.tha_is_effect !== 1" ng-click="updateFollow(changeevent)">关注</a>
            </td>
          </tr>
          <tr ng-if="!changeList||!changeList.length">
            <td colspan="9">暂无数据.</td>
          </tr>
          <tr ng-if="isLoading == 'loading...'">
            <td colspan="9" align="center">
              <img src="img/icons/big_load.gif">
            </td>
          </tr>
        </tbody>
    </table>
    <div class="center" ng-if="pageParam.pages>=1">
      <ul class="pagination">
        <li ng-model="pageParam.pageNum" ng-if="pageParam.pages>=1" ng-click="queryInfo(1)">
          <span>首页</span>
        </li>
        <li ng-if="pageParam.pageNum>1" ng-click="queryInfo(pageNum-1)">
          <span>上一页</span>
        </li>
        <li ng-repeat="i in paginationBars track by $index" class="{{ i==pageParam.pageNum ? 'active':'' }}">
          <span ng-click="queryInfo(i)">{{i}}</span>
        </li>
        <li ng-model="pageParam.pageNum" ng-if="pageParam.pageNum<pageParam.pages" ng-click="queryInfo(pageNum+1)">
          <span>下一页</span>
        </li>
        <li ng-model="pageParam.pages" ng-click="queryInfo(pageParam.pages)">
          <span>尾页</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- 模态框（Modal） -->
  <div class="modal klxx-modal-primary fade" tabindex="-1" id="chooseChange" role="dialog" aria-labelledby="chooseChangeLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">选择人事类型</h4>
        </div>
        <div class="modal-body">
          <div class="row col-sm-offset-1 mb-10">
            <div class="btn btn-default col-sm-3 m-10">
              <a href="#/hrm/hrmChangeEvent/hrmEmployeeCheck" ng-click="chooseChangeEvent()" target="_blank">转正考核</a>
            </div>
            <div class="btn btn-default col-sm-3 m-10">
              <a href="#/hrm/hrmChangeEvent/hrmEmployeeCheck" ng-click="chooseChangeEvent()" target="_blank">部门调动</a>
            </div>
            <div class="btn btn-default col-sm-3 m-10">
              <a href="#/hrm/hrmChangeEvent/hrmEmployeeCheck" ng-click="chooseChangeEvent()" target="_blank">转岗办理</a>
            </div>
            <div class="btn btn-default col-sm-3 m-10">
              <a href="#/hrm/hrmChangeEvent/hrmEmployeeCheck" ng-click="chooseChangeEvent()" target="_blank">地区调动</a>
            </div>
            <div class="btn btn-default col-sm-3 m-10">
              <a href="#/hrm/hrmChangeEvent/hrmEmployeeCheck" ng-click="chooseChangeEvent()" target="_blank">晋升办理</a>
            </div>
            <div class="btn btn-default col-sm-3 m-10">
              <a href="#/hrm/hrmChangeEvent/hrmEmployeeCheck" ng-click="chooseChangeEvent()" target="_blank">离职办理</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button"
            data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="showModel">
    <div class="panel panel-default" style="position:absolute;height: auto;width:100%;left:0px;top:0px;z-index: 999;">
      <div class="panel-heading font-bold">流程基本信息 <i class="fa fa-close cur fr" ng-click="toClosePanel()"></i></div>
      <div class="panel-body">
        <div ng-include="'templates/hrm/model/change_post/DXB_school_post.html'"></div>
        <div ng-include="'templates/hrm/model/change_post/DXB_teacher_post.html'"></div>
        <div ng-include="'templates/hrm/model/change_post/GXH_teacher_post.html'"></div>
        <div ng-include="'templates/hrm/model/change_post/GXH_teaching_dept_360.html'"></div>
        <div ng-include="'templates/hrm/model/change_post/GXH_teaching_dept_lecture.html'"></div>
        <div ng-include="'templates/hrm/model/change_post/GXH_teaching_dept_post.html'"></div>
        <div ng-include="'templates/hrm/model/change_post/GXH_consulting_dept_360.html'"></div>
        <div ng-include="'templates/hrm/model/change_post/GXH_consulting_dept_post.html'"></div>
      </div>
    </div>
  </div>
</div>
