<div class="container-fluid erp orders-index">
  <div class="container-fluid" style="min-width: 1200px;">
    <div class="row shortcuts">
      <div class="col-sm-3">
        <a class="ordersMgrOrders" href="#/orders/ordersMgr/ordersMgrOrders" target="_blank">
        <img src="img/erp/orders/order-index-bbgl.png">
        报班管理</a>
      </div>
      <div class="col-sm-3">
        <a class="orderChangeTransfer" href="#/orders/orderChangeTransfer" target="_blank" >
        <img src="img/erp/orders/order-index-zbgl.png">
        转班管理</a>
      </div>
      <div class="col-sm-3">
        <a class="classesSchedule" href="#/orders/classesSchedule" target="_blank">
        <img src="img/erp/orders/order-index-pkgl.png">
        排课管理</a>
      </div>
      <div class="col-sm-3">
        <a class="attendanceMgr" href="#/orders/attendanceMgr" target="_blank" class="titlebox">
        <img src="img/erp/orders/order-index-kqgl.png">
        考勤管理</a>
      </div>
      <div class="col-sm-3">
        <a class="ordersMgrBasic" href="#/orders/ordersMgr/ordersMgrMTCourse" target="_blank">
        <img src="img/erp/orders/order-index-jcda.png">
        基础档案</a>
      </div>
      <div class="col-sm-3">
        <a class="classesRoom" href="#/orders/classesRoomMgr" target="_blank">
        <img src="img/erp/orders/order-index-jsgl.png">
        教室管理</a>
      </div>
      <div class="col-sm-3">
        <a class="classesRefund" href="#/orders/classesRefund" target="_blank">
        <img src="img/erp/orders/order-index-tfgl.png">
        退费管理</a>
      </div>
      <div class="col-sm-3">
        <a class="classesFrozen" href="#/orders/classesFrozen" target="_blank">
        <img src="img/erp/orders/order-index-djgl.png">
        冻结管理</a>
      </div>
    </div>
  </div>
</div>
