<div class="erp order" ng-controller="erp_orderChangeTransferController">
  <div class="panel panel-primary" style="margin-bottom: 10px;">
    <div class="panel-heading">
      <span class="title">转班<span ng-if="student&&student.student_name">(学员：{{student.student_name}}，年级：{{student.grade_name}})</span></span>
    </div>
    <div class=panel-body style="padding: 15px 15px 0 15px">
      <div style="float: left; width: 98%; margin-top: 10px;">
        <div class=step>第一步 选择学员</div>
        <div class=step>
          <span ng-if="businessType == 1">第二步 转出课程</span>
          <span ng-if="businessType == 2">第二步 转出课时</span>
        </div>
        <div class=step>
          <span ng-if="businessType == 1">第三步 转入课程</span>
          <span ng-if="businessType == 2">第三步 转入校区</span>
        </div>
        <div class=step>第四步 转班确认</div>
      </div>
      <div style="float: left; width: 98%; margin-left: 10px; margin-top: 10px;">
        <div class="progress kl-progress">
          <div class=progress-bar role=progressbar aria-valuenow=60 aria-valuemin=0 aria-valuemax=200 style="width: {{step*25}}%; "></div>
        </div>
      </div>
    </div>
  </div>
  <!--搜索学员begin-->
  <div class="panel panel-primary" style="margin-bottom: 10px;" ng-if="step == 1">
    <div class="panel-heading"><span class="title">第一步 选择学员</span></div>
    <div class=panel-body style="padding: 15px;">
      <div ng-if="(!temporaryOrder||temporaryOrder.check_status==1)">
        <div class="form-inline mb15">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="studentQueryInfo.searchInfo" placeholder="请输入搜索关键字.">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-click=queryStudents()>
                <i class="iconfont icon-search"></i> 搜索学员</button>
            </span>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th></th>
            <th width="10%">学员姓名</th>
            <th>学员编码</th>
            <th width="16%">就读学校</th>
            <th>年段</th>
            <th>联系方式</th>
            <th ng-if="productLine != 2">积分</th>
            <th ng-if="productLine != 2">老学员</th>
            <th>所属校区</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stu in studentList" 
            ng-if="!isQueryStudent && studentList && studentList.length && ((student&&student.checked&&student.id==stu.id)||!student)" ng-click=checkedStudent(stu)>
            <td ng-if="(!temporaryOrder||temporaryOrder.check_status==1)">
              <input type=checkbox checked ng-if=stu.checked>
              <input type=checkbox ng-if=!stu.checked>
            </td>
            <td style="color: red;">{{stu.student_name}}</td>
            <td>{{stu.encoding}}</td>
            <td>{{stu.attend_school_name}}</td>
            <td>{{stu.grade_name}}</td>
            <td>{{stu.phone}}</td>
            <td ng-if="productLine != 2"><a href="?studentId={{stu.id}}#/studentMgr/studentMgrIntegral">{{stu.integral ? stu.integral : 0}}</a></td>
            <td ng-if="productLine != 2">{{stu.is_old_student?'是':'否'}}</td>
            <td>{{stu.branch_name}}</td>
          </tr>
          <tr ng-if="isQueryStudent">
            <td colspan="{{productLine != 2 ? 9: 7}}" align="center">
              <img src="img/erp/loading2.gif">
            </td>
          </tr>
          <tr ng-if="!isQueryStudent && (studentList == null || studentList.length == 0)">
            <td colspan="{{productLine != 2 ? 9: 7}}" align="center">暂无数据.</td>
          </tr>
        </tbody>
      </table>
      <div style="width: 200px; margin: auto; text-align: center;">
        <button type=button class="btn btn-primary" style="width: 200px;" ng-click=nextStep(1,2) ng-disabled=!curStudent>下一步</button>
      </div>
    </div>
  </div>
  <!--搜索学员end-->
  <!--选择转出课程-->
  <div class="panel panel-primary" style="margin-bottom: 10px;" ng-if="step == 2">
    <div class="panel-heading" ng-if="businessType == 1"><span class="title">第二步 转出课程</span></div>
    <div class="panel-heading" ng-if="businessType == 2"><span class="title">第二步 转出课时</span></div>
    <div class=panel-body style="padding: 15px;">
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="{{transferOutTab=='bjk'?'active':''}}"><a href="javascript:void(0);" ng-click="selectTransferOutCourseTab('bjk')">班级课</a></li>
          <li class="{{transferOutTab=='ydy'?'active':''}}"><a href="javascript:void(0);" ng-click="selectTransferOutCourseTab('ydy')">1对1</a></li>
        </ul>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane {{transferOutTab=='bjk'?'active':''}}">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>编码</th>
                <th>课程</th>
                <th>老师</th>
                <th>校区</th>
                <th>单价</th>
                <th>剩余</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="isQueryBjk">
                <td colspan="7" align="center">
                  <img src="img/erp/loading2.gif">
                </td>
              </tr>
              <tr ng-if="isQueryBjk!='isQueryBjk' && (!orderBJK || !orderBJK.length)">
                <td colspan="7" align="center">
                  无数据.
                </td>
              </tr>
              <tr ng-repeat="course in orderBJK" ng-if="isQueryBjk!='isQueryBjk' && (!selectedTransferOutCourse||selectedTransferOutCourse.id == course.id)">
                <td ng-click="checkTransferOutCourse(orderBJK,course)">
                  <input type=checkbox checked ng-if=course.checked>
                  <input type=checkbox ng-if=!course.checked>
                </td>
                <td>{{course.order_no}}</td>
                <td>{{course.course_name}}{{course.course_no}}</td>
                <td>{{course.teacher_name}}{{course.teacher_encoding}}</td>
                <td>{{course.branch_name}}</td>
                <td>
                  <span class="cell-txt-cur">￥{{course.discount_unit_price}}</span>
                  <span class="cell-txt-del" ng-if="course.discount_unit_price!=course.former_unit_price">￥{{course.former_unit_price}}</span>
                </td>
                <td>{{course.course_surplus_count}}h</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="selectedTransferOutCourse">
            <h3>选择转出课时({{transferOutCourseTimesList.length}}课时)</h3>
            <div class="col-lg-12" style="margin-top: 15px;">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <input type=checkbox checked ng-click="unCheckAllTransferOutCourseTimes()" ng-if="selectedTransferOutCourse.course_surplus_count==transferOutCourseTimesList.length">
                      <input type=checkbox ng-click="checkAllTransferOutCourseTimes()" ng-if="selectedTransferOutCourse.course_surplus_count!=transferOutCourseTimesList.length">
                    </th>
                    <th>课次</th>
                    <th>老师</th>
                    <th>排课时间</th>
                    <th>考勤时间</th>
                    <th>考勤人</th>
                    <th>考勤状态</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="attendance in selectedTransferOutCourse.orderCourseSurplusCount" ng-if="attendance.ATTEND_TYPE==10||!attendance.ATTEND_TYPE" ng-click="checkTransferOutCourseTimes(attendance)">
                    <td>
                      <input type=checkbox checked ng-if=attendance.checked>
                      <input type=checkbox ng-if=!attendance.checked>
                    </td>
                    <td>{{attendance.TIMES}}</td>
                    <td>{{attendance.TEACHER_NAME}}</td>
                    <td>{{attendance.COURSE_DATE}}</td>
                    <td>{{attendance.ATTEND_DATE?attendance.ATTEND_DATE:'-'}}</td>
                    <td>{{attendance.ATTEND_USER_NAME?attendance.ATTEND_USER_NAME:'-'}}</td>
                    <td>{{attendance.NAME}}</td>
                  </tr>
                  <tr ng-if="showDetailTimesPanelLoading == 'loading'">
                    <td colspan="6" align="center">
                      <img src="img/erp/loading2.gif" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane {{transferOutTab=='ydy'?'active':''}}">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>订单编码</th>
                <th>课程名称</th>
                <th>课程编码</th>
                <th>单价</th>
                <th>总价</th>
                <th>报班课时</th>
                <th>剩余可用课时</th>
                <th>剩余可排课时</th>
                <th>备注</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="isQueryYdy">
                <td colspan="10" align="center">
                  <img src="img/erp/loading2.gif">
                </td>
              </tr>
              <tr ng-if="isQueryYdy!='isQueryYdy' && (!orderYDY || !orderYDY.length)">
                <td colspan="10" align="center">
                  无数据.
                </td>
              </tr>
              <tr ng-repeat="course in orderYDY" ng-if="isQueryYdy!='isQueryYdy' && (!selectedTransferOutCourse||selectedTransferOutCourse.id == course.id)">
                <td ng-click="checkTransferOutCourse(orderYDY,course)">
                  <input type=checkbox checked ng-if=course.checked>
                  <input type=checkbox ng-if=!course.checked>
                </td>
                <td>{{course.order_no}}</td>
                <td>{{course.course_name}}</td>
                <td>{{course.course_no}}</td>
                <td>
                  <span class="cell-txt-cur">￥{{course.discount_unit_price}}</span>
                  <span class="cell-txt-del" ng-if="course.discount_unit_price!=course.former_unit_price">￥{{course.former_unit_price}}</span>
                </td>
                <td>
                  <span class="cell-txt-cur">￥{{course.discount_sum_price}}</span>
                  <span class="cell-txt-del" ng-if="course.discount_sum_price!=course.former_sum_price">￥{{course.former_sum_price}}</span>
                </td>
                <td>{{course.course_total_count}}</td>
                <td>{{course.course_surplus_count}}</td>
                <td>{{course.course_schedule_count}}</td>
                <td>{{course.description}}</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="selectedTransferOutCourse">
            <h3>选择转出课时({{transferOutCourseTimesList.length}}课时)</h3>
            <div class="col-lg-12" style="margin-top: 15px;">
              <table class="table  table-striped table-hover ">
                <col class="col-lg-1" />
                <col class="col-lg-2" />
                <col class="col-lg-3" />
                <col class="col-lg-6" />
                <tr>
                  <th>
                    <td style="text-align:right;">
                      <span>转出课时：</span>
                    </td>
                    <td>
                      <input type="text" class="form-control" ng-model="selectedTransferOutCourse.transferOutCount" ng-change="inputTransferOutCourseCount(selectedTransferOutCourse)">
                    </td>
                    <td></td>
                    <td></td>
                  </th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div style="margin: auto; text-align: center;">
        <button type=button class="btn btn-primary" style="width: 200px;" ng-click=nextStep(2,1)>上一步</button>
        <button type=button class="btn btn-primary" style="width: 200px;" ng-click=nextStep(2,3) ng-disabled="!selectedTransferOutCourse || !transferOutCourseTimesList.length">下一步</button>
      </div>
    </div>
  </div>
  <!--选择转出课程-->
  <!--选择转入课程-->
  <div class="panel panel-primary" style="margin-bottom: 10px;" ng-if="step == 3">
    <div class="panel-heading" ng-if="businessType == 1"><span class="title">第三步 转入课程</span></div>
    <div class="panel-heading" ng-if="businessType == 2"><span class="title">第三步 转入校区</span></div>
    <div class=panel-body style="padding: 15px;">
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="{{transferOutTab=='bjk'?'active':''}}"><a href="javascript:void(0);">培英班</a></li>
          <li class="{{transferOutTab=='ydy'?'active':''}}"><a href="javascript:void(0);">1对1</a></li>
        </ul>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane {{transferOutTab=='bjk'?'active':''}}">
          <div>
            <dl class="dl-horizontal course-conditions">
                <dt>开课校区 :</dt>
                <dd>
                    <kl-multi-tags>
                        <a class="condition_item {{transferIn.selectedBranch.id== branch.id?'condition_item_checked':''}}" ng-click="selectBranch(branch)" ng-repeat="branch in branchList">{{branch.org_name}}</a>
                    </kl-multi-tags>
                </dd>
                <dt>课程季 :</dt>
                <dd>
                    <kl-multi-tags>
                        <a class="condition_item {{transferIn.selectedTimeSeason== null?'condition_item_checked':''}}" ng-click="selectSeason(null)">不限</a>
                        <a class="condition_item {{transferIn.selectedTimeSeason.id== season.id?'condition_item_checked':''}}" ng-click="selectSeason(season)" ng-repeat="season in timeSeasonList">{{season.course_season_name}}</a>
                    </kl-multi-tags>
                </dd>
                <dt>年级 :</dt>
                <dd>
                    <kl-multi-tags>
                        <a class="condition_item {{transferIn.selectedGrade== null?'condition_item_checked':''}}" ng-click="selectGrade(null)">不限</a>
                        <a class="condition_item {{transferIn.selectedGrade.id== grade.id?'condition_item_checked':''}}" ng-click="selectGrade(grade)" ng-repeat="grade in gradeList">{{grade.grade_name}}</a>
                    </kl-multi-tags>
                </dd>
                <dt>科目 :</dt>
                <dd>
                    <kl-multi-tags>
                        <a class="condition_item {{transferIn.selectedSubject== null?'condition_item_checked':''}}" ng-click="selectSubject(null)">不限</a>
                        <a class="condition_item {{transferIn.selectedSubject.id== subject.id?'condition_item_checked':''}}" ng-click="selectSubject(subject)" ng-repeat="subject in subjectList">{{subject.name}}</a>
                    </kl-multi-tags>
                </dd>
            </dl>
            
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th>
                    <div class="col-lg-12" ng-if="!selectedTransferInCourse">
                      <div class="form-group">
                        <label class="col-sm-2" style="top:5px;">课程</label>
                        <div class="col-sm-10 " style="width:200px;">
                          <input type=text class=form-control placeholder="快速检索课程" ng-change="querySelectingCourse()" id="courseSearchInfo" ng-model="searchInfo">
                        </div>
                      </div>
                    </div>
                  </th>
                  <th>单价</th>
                  <th>课次</th>
                  <th>年段</th>
                  <th>教师</th>
                  <th>编码</th>
                  <th>校区</th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="course in toSelectingCourseList" ng-if="toSelectingCourseList && toSelectingCourseList.length && (!selectedTransferInCourse || selectedTransferInCourse.id == course.id) ">
                  <td>
                    <p>{{course.course_name}}</p>
                    <p>{{course.course_no}}</p>
                    <p>上课期间：{{course.start_date}}~{{course.end_date}}</p>
                    <p>上课时间：{{course.start_time}}~{{course.end_time}}</p>
                  </td>
                  <td>{{course.unit_price}}</td>
                  <td>{{course.course_count}}</td>
                  <td>{{course.grade_name}}</td>
                  <td>{{course.teacher_name}}</td>
                  <td>{{course.teacher_code}}</td>
                  <td>{{course.branch_name}}</td>
                  <td>
                    <i class="fa fa-check-square" ng-if="course.checked" ng-click="checkTransferInCourse(toSelectingCourseList,course)"></i>
                    <i class="fa fa-square-o" ng-if="!course.checked" ng-click="checkTransferInCourse(toSelectingCourseList,course)"></i>
                  </td>
                </tr>
                <tr ng-if="isQuerySelectingCourse == 'isQuerySelectingCourse'">
                  <td colspan="10" align="center">
                    <img src="img/erp/loading2.gif">
                  </td>
                </tr>
                <tr ng-if=!toSelectingCourseList||!toSelectingCourseList.length>
                  <td colspan=10 align=center>没有数据.</td>
                </tr>
              </tbody>
            </table>
            <ng-pagination conf="paginationConf"></ng-pagination>
          </div>
          <div ng-if="selectedTransferInCourse">
            <h3>选择转入课时({{transferInCourseTimesList.length}}课时)</h3>
            <div class="col-lg-12" style="margin-top: 15px;">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>课次</th>
                    <th>日期</th>
                    <th>时间</th>
                    <th>老师</th>
                    <th>状态</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="courseTime in selectedTransferInCourse.courseSchedulingList">
                    <td>
                      <i class="fa fa-check-square" ng-if="courseTime.checked && (!courseTime.is_ordered ) " ng-click="checkedTransferInCourseTimes(courseTime)"></i>
                      <i class="fa fa-square-o" ng-if="!courseTime.checked  && (!courseTime.is_ordered) && transferInCourseTimesList.length < transferOutCourseTimesList.length" ng-click="checkedTransferInCourseTimes(courseTime)"></i>
                    </td>
                    <td>{{courseTime.course_times}}</td>
                    <td>{{courseTime.course_date}}</td>
                    <td>{{courseTime.start_time}}~{{courseTime.end_time}}</td>
                    <td>{{courseTime.teacher_name}}</td>
                     <td ng-switch="courseTime.is_ordered">
		                <span class="text-primary" ng-switch-when="0">可报名</span>
		                <span class="text-success" ng-switch-when="1">已报名</span>
		                <span class="text-warning" ng-switch-when="2">排号中</span>
		                <span class="text-danger" ng-switch-when="3">满额</span>
		                <span class="text-primary" ng-switch-default>可报名</span>
		            </td>
                  </tr>
                  <tr>
                    <td colspan="6" ng-if="isLoadingCourseTimesPanel=='isLoadingCourseTimesPanel'" align="center">
                      <img src="img/erp/loading2.gif">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane {{transferOutTab=='ydy'?'active':''}}">
          <table class="table  table-striped table-hover ">
            <col class="col-lg-4" />
            <col class="col-lg-1" />
            <col class="col-lg-3" />
            <col class="col-lg-4" />
            <tr>
              <td></td>
              <td style="text-align:right;">
                <span>转入校区：</span>
              </td>
              <td>
                <select class="form-control" ng-change="selectTransInBranch()" ng-model="transferIn.branch_id" ng-options="branch.id as branch.org_name for branch in transInBranchList">
                </select>
              </td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div style="margin: auto; text-align: center;">
        <button type=button class="btn btn-primary" style="width: 200px;" ng-click=nextStep(3,2)>上一步</button>
        <button type=button class="btn btn-primary" style="width: 200px;" ng-if="businessType == 1" ng-click=nextStep(3,4) ng-disabled="!selectedTransferInCourse || transferInCourseTimesList.length!=transferOutCourseTimesList.length">下一步</button>
        <button type=button class="btn btn-primary" style="width: 200px;" ng-if="businessType == 2" ng-click=nextStep(3,4) ng-disabled="!transferIn.branch_id || transferIn.branch_id==selectedTransferOutCourse.branch_id">下一步</button>
      </div>
    </div>
  </div>
  <!--选择转入课程-->
  <!--选择转出课程-->
  <div class="panel panel-primary" style="margin-bottom: 10px;" ng-if="step == 4">
    <div class="panel-heading"><span class="title">第四步 转班确认</span></div>
    <div class="panel-body form" style="padding: 20px;">
      <h3>转班学员</h3>
      <hr>
      <div class="col-lg-12">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">学员姓名</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{student.student_name}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">学员编码</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{student.encoding}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">年级</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{student.grade_name}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">手机号</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{student.phone}}</p>
            </div>
          </div>
        </div>
      </div>
      <h3>转出课程</h3><hr>
      <div class="col-lg-12">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">课程名称</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{selectedTransferOutCourse.course_name}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">课程编码</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{selectedTransferOutCourse.course_no}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" ng-if="businessType != 2" >
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">老师名称</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{selectedTransferOutCourse.teacher_name}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">老师编码</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{selectedTransferOutCourse.teacher_encoding}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">课程校区</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{selectedTransferOutCourse.branch_name}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">转出课时</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{transferOutCourseTimesList.length}} 课时</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" ng-if="businessType == 1">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">转出课次</label>
            <div class="col-lg-8">
              <p class="form-control-static">
                第<span ng-repeat="time in transferOutCourseTimesList">{{$index>0?'，'+time.TIMES:time.TIMES}}</span>课次
              </p>
            </div>
          </div>
        </div>
      </div>
      <h3>转入课程</h3><hr>
      <div class="col-lg-12" ng-if="businessType == 1">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">课程名称</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{selectedTransferInCourse.course_name}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">课程编码</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{selectedTransferInCourse.course_no}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" ng-if="businessType == 1">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">老师名称</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{selectedTransferInCourse.teacher_name}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" ng-if="businessType == 1">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">转入课时</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{transferInCourseTimesList.length}} 课时</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6" ng-if="businessType == 1">
          <div class="form-group">
            <label class="col-lg-4 control-label">课次信息</label>
            <div class="col-lg-8">
              <p class="form-control-static">
                第<span ng-repeat="time in transferInCourseTimesList">{{$index > 0?'，'+time.course_times:time.course_times}}</span>课次
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" ng-if="businessType == 2">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">转入校区</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{transferIn.branch_name}} </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label">转入课时</label>
            <div class="col-lg-8">
              <p class="form-control-static">{{selectedTransferOutCourse.transferOutCount}} 课时</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-lg-4 control-label" ng-if="businessType == 2">备注(选填)</label>
            <label class="col-lg-4 control-label" ng-if="businessType == 1">备注(<span style="color: red">必填</span>)</label>
            <div class="col-lg-8">
              <textarea class="form-control" ng-model="selectedTransferOutCourse.remark"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div style="margin: auto; text-align: center;margin-top: 15px;">
          <button type=button class="btn btn-primary" style="width: 200px;" ng-click=nextStep(4,3)>上一步</button>
          <button type=button class="btn btn-primary" style="width: 200px;" ng-if="businessType == 1" ng-click="submitTransfer()" ng-disabled="!selectedTransferInCourse || transferInCourseTimesList.length!=transferOutCourseTimesList.length ||!selectedTransferOutCourse.remark">提交</button>
          <button type=button class="btn btn-primary" style="width: 200px;" ng-if="businessType == 2" ng-click="submitTransfer()" ng-disabled="!transferIn">提交</button>
        </div>
      </div>
    </div>
  </div>
  <!--选择转出课程-->
  <div ng-if="isSubmitTransfer=='isSubmitTransfer'">
    <div style="position:fixed;height: 155%;width:100%;left:0px;top:0px;z-index: 999;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);"></div>
    <div class="pay-window">
      <div style="margin: 20px;height:50px;" align="center">
        正在处理...
      </div>
    </div>
  </div>
  <div ng-if="isSubmitTransfer=='isSubmitTransferOk'">
    <div style="position:fixed;height: 155%;width:100%;left:0px;top:0px;z-index: 999;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);"></div>
    <div class="pay-window">
      <div style="margin: 20px;height:50px;" align="center">
        转班成功！<a href="javascript:void(0);" target="_self" ng-click="reloadPage()">点击继续转班</a>
      </div>
    </div>
  </div>
  <div ng-if="isSubmitTransfer=='isSubmitTransferFailed'">
    <div style="position:fixed;height: 155%;width:100%;left:0px;top:0px;z-index: 999;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);"></div>
    <div class="pay-window">
      <div style="margin: 20px;height:50px;" align="center">
        转班失败,请联系管理员！
      </div>
    </div>
  </div>
</div>
