<div class="erp orders activity-banner" ng-controller="erp_ordersActivityBannerController">
  <!-- 活动图片列表 -->
  <div ng-show="optype == 'list'">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="title">活动图片</span>
      </div>
      <div class="panel-body">
        <div class="toolbar">
          <button class="btn btn-circle btn-primary" ng-click="addBanner()">
            <i class="iconfont icon-add"></i> 新增活动图片
          </button>
        </div>
        <hr>
        <div class="searchbar">
          <div class="form form-inline">
            <div class="form-group">
              团队：
              <kl-bu-select bu-id="searchParams.buId"></kl-bu-select>
            </div>
            <div class="form-group">
              校区：
              <kl-branch-select bu-id="searchParams.buId"
                branch-id="searchParams.branchId"></kl-branch-select>
              <button class="btn btn-primary" ng-click="getList()">
                <i class="iconfont icon-search"></i>
                搜索
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-panel">
      <div class="table-wrapper ov-a">
        <table class="table table-striped table-hover min-width-1300">
          <thead>
            <tr>
              <th width="180">操作</th>
              <th width="60">编号</th>
              <th width="180">活动图片标题</th>
              <th width="120">图片缩略图</th>
              <th>URL地址</th>
              <th width="200">有效期</th>
              <th width="150">团队</th>
              <th width="150">校区</th>
              <th width="80">图片序号</th>
              <th width="80">状态</th>
              <th width="80">创建人</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="banner in bannerList"
              ng-if="!loadStatues && bannerList && bannerList.length">
              <td>
                <button class="btn btn-primary btn-xs" ng-click="editBanner(banner)">编辑</button>
                <button ng-show="banner.status != 1" class="btn btn-success btn-xs" ng-click="changeStatus(banner, 1)">启用</button>
                <button ng-show="banner.status != 2" class="btn btn-warning btn-xs" ng-click="changeStatus(banner, 2)">停用</button>
                <button ng-show="banner.status != 0" class="btn btn-danger btn-xs" ng-click="changeStatus(banner, 0)">删除</button>
              </td>
              <td>{{$index + 1}}</td>
              <td>{{banner.title}}</td>
              <td><img src="{{banner.imgUrl}}" style="width: 80px;"></td>
              <td>{{banner.linkUrl}}</td>
              <td>{{banner.startDate | date: 'yyyy-MM-dd'}} - {{banner.endDate | date: 'yyyy-MM-dd'}}</td>
              <td>{{banner.buName}}</td>
              <td>{{banner.branchName}}</td>
              <td>{{banner.sort}}</td>
              <td ng-switch="banner.status">
                <span ng-switch-when="0" class="text-danger">已删除</span>
                <span ng-switch-when="1" class="text-success">启用</span>
                <span ng-switch-when="2" class="text-warning">停用</span>
              </td>
              <td>{{banner.createUserName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center" ng-if="loadStatues">
        <img src="img/erp/loading2.gif">
      </div>
      <ng-pagination conf="pageConf" ng-if="!loadStatues || bannerList.length > 0"></ng-pagination>
    </div>
  </div>
  <!-- 活动图片详情 -->
  <div ng-show="optype != 'list'">
     <div class="panel panel-primary">
       <div class="panel-heading">
         <span class="title">
           {{optype == 'edit' ? '编辑' : '新增'}}活动图片
         </span>
       </div>
       <div class="panel-body">
         <dl class="form dl-horizontal form-inline">
           <dt><span class="required">活动图片标题：</span></dt>
           <dd><input class="form-control" type="text" name="bannerTitle" ng-model="banner.title"></dd>
           <dt><span class="required">活动图片</span></dt>
           <dd>
             <kl-image-upload img-urls="bannerImgs"></kl-image-upload>
           </dd>
           <dt><span class="required">跳转链接：</span></dt>
           <dd><input class="form-control" type="text" name="bannerLinkUrl" ng-model="banner.linkUrl"></dd>
           <dt><span class="required">有效期：</span></dt>
            <dd>
              <div class="form-group">
                <rd-date-picker-popup ng-model="banner.startDate"></rd-date-picker-popup>
              </div>
              <div class="form-group">
                <span>至</span>
              </div>
              <div class="form-group">
                <rd-date-picker-popup ng-model="banner.endDate"></rd-date-picker-popup>
              </div>
            </dd>
            <dt><span class="required">序号：</span></dt>
            <dd>
              <kl-bu-select bu-id="banner.buId"></kl-bu-select>
              <kl-branch-select bu-id="banner.buId" branch-id="banner.branchId"></kl-branch-select>
              <select ng-model="banner.sort" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </dd>
            <dt></dt>
            <dd>
              <button class="btn btn-primary" ng-click="saveBanner()">确认</button>
              <button class="btn btn-default" ng-click="cancelEdit()">取消</button>
            </dd>
         </dl>
       </div>
     </div>
  </div>
</div>