<!-- Modal -->
<div id="UpdateOrgItemPanel" class="modal fade " tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>修改组织机构</h3>
	</div>
	<div class="modal-body">

		<div class="form-group">
			<label class="col-sm-3 fl" style="line-height: 34px;">组织机构名称</label>
			<div class="col-sm-9 input-group">
				<input type="text" class="form-control" required
					ng-model="selectedItem.org_name" />
			</div>
		</div>

        <!-- <div class="form-group">
            <label class="col-sm-3 fl" style="line-height: 34px;">组织类型</label>
            <div class="col-sm-9 input-group">
                <select type="text" class="form-control" ng-model="orgSelectType.type" ng-options="org.type as org.name for org in orgType"/>
            </div>
        </div> -->

		<div align="center">
			<button class="btn btn-default" type="button"
				ng-click="saveOrgItem()">确定</button>
		</div>
	</div>
</div>