						<div ng-if="openPanel=='8'" class="container">
								
					            <p>&nbsp;</p>
					            <p>&nbsp;</p>
		                   		<div align="center" >
									<h2>快乐学习个性化咨询部转正考核表</h2>
								</div>
								<p>&nbsp;</p>
								<p>&nbsp;</p>
								<div class="form-group col-lg-12">
									<strong>
										 <div class="form-group fl col-sm-6">
										     <label class="fl" style="line-height: 34px;">伙伴姓名：</label>
										    <div class="input-group">
								              <input type="text" class="form-control" ng-model="selecteditem.employeeName"/>
								                  <p   ng-show="(!selecteditem.employeeId||selecteditem.employeeId=='')&&isSbumitting==true"
										               class="help-block" style="color:#a94442" desc="伙伴姓名不能为空">伙伴姓名不能为空........</p> 
								               <span class="input-group-addon"  id="showSpan" ng-click="showEmployeeQuery()">
								                 <i class="fa fa-edit"></i></span>
								                 <!-- 隐藏账户所属员工Id -->
								                 <input type="hidden" ng-model="selecteditem.employeeId" na-value="selecteditem.employeeId" > 
								                   <div class="associatebox" ng-if="showQuery==true" >
								                  <ul >
								                <div class="input-group drop-field"  ng-controller="TooltipDemoCtrl" >         
								                <input type="text" class="form-control ng-pristine ng-valid ng-touched" 
								                 ng-model="searchInfo" 
								                 ng-class="{'has-error' : !selecteditem.employeeId}"
								                 id="employee_search_info"
								                 ng-change="queryEmployeeInfo()"
								                 tooltip-placement="top" 
										         tooltip-placement="{dynamicTooltip}}" 
										         uib-tooltip="{{dynamicTooltip}}"  
										         tooltip-enable="!selecteditem.employeeId"
								                 placeholder="请输入教师姓名或编码....">
								                 <span id="selectSpan" class="input-group-addon"   ng-click="queryEmployeeInfo()">
								                 <i class="fa fa-search"></i></span>
								                 </div>
								                 <!-- 迭代员工 -->
								                   <li ng-if="onGoingQuery==true" ng-repeat="employee in employeeList" ng-click="selectedEmployee(employee)">
								                   {{employee.ENCODING}}-{{employee.EMPLOYEE_NAME}}</li>
								                         </ul>
								                     </div>
								            </div>
								   		 </div>
										
										<div class="form-group fl  col-sm-4">
			                    				<label class="col-sm-4 fl" style="line-height: 34px;">转正后等级：</label>
												<div class="col-sm-6 input-group">
					                                <select ng-if="showDetail==1" class="form-control" ng-options="m.id as m.name for m in poslevelList"  ng-model="selectedEmp.poslevel">
														 <option  value="">-- 请选择 --</option> 
													</select>
													<select ng-if="showDetail==0" class="form-control" >
														 <option  value="">{{selecteditem.poslevelshow}}</option> 
													</select>
												</div>
			                    		</div>
			                    		
										<div class="form-group fl col-sm-4 ">	
											<label class="fl">入职日期：</label>
											<div class=" input-group fl" ng-controller="DatepickerDemoCtrl">
														<input type="text" 
														 ng-model="selecteditem.entryDate" placeholder="请输入入职时间" required
														uib-datepicker-popup="{{format}}"
					                                   current-text="今天"
					                                   close-text="关闭"
					                                   clear-text="清理"
					                                   is-open="opened"
					                                   ng-readonly="true"
					                                   id="entryDate"/>
					                                  		<span class="input-group-btn">
								                            <button type="button" class="btn btn-default" ng-click="open($event)">
								                                <i class="glyphicon glyphicon-calendar"></i>
								                            </button>
								                        </span>
													</div>
										</div>
										<div class="form-group  fl col-sm-4">
											<label class=" fl">拟转正日期：</label>
											<div class="input-group fl" ng-controller="DatepickerDemoCtrl">
														<input type="text" 
														 ng-model="selecteditem.toPostDate" placeholder="请输入拟转正时间" required
														uib-datepicker-popup="{{format}}"
					                                   current-text="今天"
					                                   close-text="关闭"
					                                   clear-text="清理"
					                                   is-open="opened"
					                                   ng-readonly="true"
					                                   id="toPostDate"/>
					                                  		<span class="input-group-btn">
								                            <button type="button" class="btn btn-default" ng-click="open($event)">
								                                <i class="glyphicon glyphicon-calendar"></i>
								                            </button>
								                        </span>
													</div>
										</div>
									</strong>
								</div>
								<div class="pull-left">
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p align="left">各考核项目满分为 100 分，得分需高于 60 分（含）， 低于 60 分者延迟转正或解除劳动合同。</p>
								</div>
								<div class="pull-left">
									<table  border="1" align="center">
									  <tr>
										<th width="14%" ><div align="center"><strong>项目</strong></div></th>
										<th width="28%" ><div align="center"><strong>具体描述</strong></div></th>
										<th width="14%" ><div align="center"> <strong>考核方式</strong>></div></th>
										<th width="28%" ><div align="center"> <strong>评分规则</strong>></div></th>
										<th width="14%" ><div align="center"><strong> 实际得分</strong>></div></th>
									  </tr>
									  <tr>
										<td><div align="center"><strong>1</strong></div></td>
										<td> <div align="center">对企业和团队认可度、集体活动配合参
									    与情况、工作完成情况等</div></td>
										<td><div align="center">360°环评</div></td>
										<td><div align="center"><strong>满分 40 分</strong><br />
									         （所得分数直接计入总分）</div></td>
										<td><input type="number" name="score" ng-model="scoreList[0]" min="0" max="40" required/></td>
									  </tr>
									  <tr>
										<td><div align="center"><strong>2</strong></div></td>
										<td><div align="center">咨询、 挖掘资源、营销呼出等专业技能
									    考核</div></td>
										<td><div align="center">业绩完成情况</div></td>
										<td><div align="center"><strong>满分 60 分</strong><br />
									    （此项分值100分，60%计入总分）</div></td>
										<td><input type="number" name="score" ng-model="scoreList[1]" min="0" max="60" required/></td>
									  </tr>
									  
									  <tr>
									    <td colspan="4">
									    	<div align="right">
										    	<strong>
										    		<button type="button" ng-click="toSum(scoreList)" class="btn  btn-warning">
														实际得分
													</button> （ 满分 100  分 ）
										    	</strong>
									    	</div>
									    </td>
									    <td>{{selecteditem.total_score}}</td>
									  </tr>
									  <tr>
									    <td class="form-group"><p align="center"><strong>考勤情况<br />
									      （人力资源 ）</strong></p>    </td>
									    <td colspan="4">
									    	<strong>迟到：</strong><input type="text" size="10" ng-model="selecteditem.late"/>次共计<input type="text" size="10" ng-model="selecteditem.late_min"/>分钟 </br>
									    	<strong>早退：</strong><input type="text" size="10" ng-model="selecteditem.leave"/>次共计<input type="text" size="10" ng-model="selecteditem.leave_min"/>分钟</br>
									    	<strong> 旷工 ：</strong><input type="text" size="10" ng-model="selecteditem.absence"/>次</br>
									    	<strong>  请假 ：</strong><input type="text" size="10" ng-model="selecteditem.afternoon"/>天<br /></br>
									      <strong>考核标准 ：</strong>无故意旷工、早退迟到累计不超过 5 次，请假累计不超过 7 天  
									    </td>
									   
									  </tr>
									  <tr ng-if="step==1||step==2||step==3||step==4">
									    <td><div align="center"><strong>教研组长<br />意见</strong></div>
									   	</td>
									    <td colspan="4" contentEditable="true">
									    	<div class="form-group">
						                        <label ng-if="step==1" class="col-lg-2 control-label">可选操作</label>
						                        <label ng-if="step!=1" class="col-lg-2 control-label">审批结果</label>
						                        <div class="col-lg-10">
						                            <div class="btn-group">
						                                <label ng-if="step==1" class="btn btn-default"  ng-click="processTask(outcome)" ng-repeat="outcome in outcomeList">{{outcome}}</label>
						                                <label   ng-if="step!=1">{{handler_opinionList[0]}}</label>
						                            </div>
						                        </div>
						                    </div>
						                    <div>
							                    <div>
							                    	<label class="col-lg-2 control-label">操作备注</label>
							                    	<div class="col-lg-10">
									                    <textarea ng-model="remark[0]" class="form-control" style="width: 300px;height: 100px;">
														</textarea>
													</div>
												</div>
												<div class="pull-right">
													<div >
														{{handler_nameList[0]}}
													</div>
													<div >
														{{last_update_timeList[0]|date:'yyyy-MM-dd HH:mm:ss'}}
													</div>
												</div>
											</div>
										</td>
									  </tr> 
									  <tr ng-if="step==2||step==3||step==4">
									    <td><div align="center"><strong>教学总监<br />意见</strong></div>
									    </td>
									    <td colspan="4">
									    	<div class="form-group">
						                        <label ng-if="step==2"  class="col-lg-2 control-label">可选操作</label>
						                        <label ng-if="step!=2" class="col-lg-2 control-label">审批结果</label>
						                        <div class="col-lg-10">
						                            <div class="btn-group">
						                                <label ng-if="step==2" class="btn btn-default"  ng-click="processTask(outcome)" ng-repeat="outcome in outcomeList">{{outcome}}</label>
						                                <label   ng-if="step!=2">{{handler_opinionList[1]}}</label>
						                            </div>
						                        </div>
						                    </div>
						                    <div>
							                    <div>
							                    	<label class="col-lg-2 control-label">操作备注</label>
							                    	<div class="col-lg-10">
									                    <textarea ng-model="remark[1]" class="form-control" style="width: 300px;height: 100px;">
														</textarea>
													</div>
												</div>
												<div class="pull-right">
													<div >
														{{handler_nameList[1]}}
													</div>
													<div >
														{{last_update_timeList[1]|date:'yyyy-MM-dd HH:mm:ss'}}
													</div>
												</div>
											</div>
									     </td>
									  </tr>  
									   <tr ng-if="step==3||step==4">
										    <td><div align="center"><strong>人力资源<br />
										    意见</strong></div></td>
										    <td colspan="4">
										    	<div class="form-group">
							                        <label ng-if="step==3" class="col-lg-2 control-label">可选操作</label>
							                        <label ng-if="step!=3" class="col-lg-2 control-label">审批结果</label>
							                        <div class="col-lg-10">
							                            <div class="btn-group">
							                                <label ng-if="step==3" class="btn btn-default"  ng-click="processTask(outcome)" ng-repeat="outcome in outcomeList">{{outcome}}</label>
							                                <label  ng-if="step!=3">{{handler_opinionList[2]}}</label>
							                            </div>
							                        </div>
							                    </div>
							                    <div>
								                    <div>
								                    	<label class="col-lg-2 control-label">操作备注</label>
								                    	<div class="col-lg-10">
										                    <textarea ng-model="remark[2]" class="form-control" style="width: 300px;height: 100px;">
															</textarea>
														</div>
													</div>
													<div class="pull-right">
														<div >
														{{handler_nameList[2]}}
														</div>
														<div >
														{{last_update_timeList[2]|date:'yyyy-MM-dd HH:mm:ss'}}
														</div>
													</div>
												</div>
										    </td>
									  </tr>
									</table>
								</div>

					</div>
	