<div ng-controller=EBOrders2OrdersCtrl>
	<div class="panel panel-default" style="margin-bottom: 10px;">
		<div class="panel-heading font-bold">报班业务流程1</div>
		<div class=panel-body style="padding: 15px;">
			<div style="float: left; width: 98%; margin-top: 10px;">
				<div class=step>第一步 搜索学员</div>
				<div class=step>第二步 选择课程</div>
				<div class=step>第三步 调整价格</div>
				<div class=step>第四步 缴费扣款</div>
			</div>
			<div
				style="float: left; width: 98%; margin-left: 10px; margin-top: 10px;">
				<div class=progress>
					<div class=progress-bar role=progressbar aria-valuenow=60
						aria-valuemin=0 aria-valuemax=200 style="width: {{step*25}}%; "></div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default" style="margin-bottom: 10px;"
		ng-if="step == 1">
		<div class="panel-heading font-bold">第一步 搜索学员</div>
		<div class=panel-body style="padding: 15px;">
			<div>
				<div class=col-lg-6>
					<div class=form-group>
						<label class="col-sm-3 col-md-3 col-lg-3 fl"
							style="line-height: 34px;">搜索关键字</label>
						<div class="input-group col-sm-9 col-md-9 col-lg-9">
							<input type=text class=form-control ng-change="queryStudentOnChange()"  ng-model=page.searchInfo>
							<div class="associatebox droplist" ng-if="onGoingQuery!=''&&onGoingQuery==true">
							<ul >
								<li
									ng-repeat="student in  studentList"
									ng-click="selectedStudent(student)">{{student.studentEncoding}}-{{student.studentName}}</li>
							</ul>
						</div>
						</div>
					</div>
				</div>
				<div class=form-group>
				<div class=col-lg-6 drop-field align=left>
					<button type=button class="btn btn-default" ng-click=queryStudent()>搜索学员</button>
				</div>
			</div>
			</div>
			<table class="table table-striped table-hover table-bordered">
				<tr>
					<th></th>
					<th>学员姓名</th>
					<th>学员编码</th>
					<th>就读学校</th>
					<th>年段</th>
					<th>联系方式</th>
					<th>最近时间</th>
				</tr>
				<tr ng-repeat="student in studentList"
					ng-if="studentList && studentList.length"
					ng-click=checkedStudent(student)>
					<td><input type=checkbox checked ng-if=student.checked>
						<input type=checkbox ng-if=!student.checked></td>
					<td>{{student.studentName}}</td>
					<td>{{student.studentEncoding}}</td>
					<td>{{student.branchName}}</td>
					<td>{{student.gradeName}}</td>
					<td>{{student.contactInfo}}</td>
					<td>{{student.currentTime}}</td>
				</tr>
				<tr ng-if=!studentList||!studentList.length>
					<td colspan=7>暂无数据.</td>
				</tr>
			</table>
			<div align=center>
				<ul class=pagination>
					<li ng-repeat="i in getNumber(totalPage) track by $index"
						class="{{ $index+1==currentPage ? 'active':'' }}"
						ng-click=queryOrderInfo()><span>{{$index+1}}</span></li>
				</ul>
			</div>
			<div style="width: 200px; margin: auto; text-align: center;">
				<button type=button class="btn btn-primary" style="width: 200px;"
					ng-click=nextStep(1,2) ng-disabled=!curStudent>下一步</button>
			</div>
		</div>
	</div>
	<div class="panel panel-default" style="margin-bottom: 10px;"
		ng-if="step == 2">
		<div class="panel-heading font-bold">第二步 选择课程</div>
		<div class=panel-body style="padding: 15px;">
			<h3>已选课程</h3>
			<table class="table table-striped table-hover table-bordered">
				<col width=25%>
				<col width=5%>
				<col width=5%>
				<col width=5%>
				<col width=15%>
				<col width=20%>
				<col width=20%>
				<col width=5%>
				<tr>
					<th>课程</th>
					<th>单价</th>
					<th>课次</th>
					<th>年段</th>
					<th>教师/编码</th>
					<th>上课期间</th>
					<th>上课时间</th>
					<th>操作</th>
				</tr>
				<tr ng-repeat="course in selectedCourseList"
					ng-if="selectedCourseList && selectedCourseList.length"
					ng-click=checked(course)>
					
					
					<td>{{course.courseName}}/{{course.courseNo}}</td>
					<td>{{course.unit_price}}</td>
					<td><a href=javascript:void(0)
						ng-click=toChangeCourseTimes(course)>{{course.courseTime}}</a></td>
					<td>{{course.gradeName}}</td>
					<td>{{course.teacherName}}/{{course.teacherCode}}</td>
					<td>{{course.beginDate}}~{{course.endDate}}</td>
					<td>{{course.startTime}}~{{course.endTime}}</td>
					<td><a href=javascript:void(0); ng-click=removeCourse(course)>移除</a></td>
				</tr>
				<tr ng-if=!selectedCourseList||!selectedCourseList.length>
					<td colspan=8 align=center>请选择课程.</td>
				</tr>
			</table>
			<div>
				<div ng-if="toSelectedCourseState == 'courseDown'">
					<div class=col-lg-12
						style="border-bottom: 1px dashed #ddd; border-top: 1px dashed #ddd;">
						<label class=fl style="line-height: 34px; width: 100px;">产品线
							:</label>
						<div class="input-group col-sm-10 col-md-10 col-lg-10"
							style="line-height: 34px;">
							<a
								class="condition_item {{queryCourseParam['productId']== product.id?'condition_item_checked':''}}"
								style="margin-right: 20px; width: 100px;"
								ng-click="checkCondition('productId',product.id)"
								ng-repeat="product in productList">{{product.name}}</a>
						</div>
					</div>
					<div class=col-lg-12
						style="border-bottom: 1px dashed #ddd; border-top: 1px dashed #ddd;">
						<label class=fl style="line-height: 34px; width: 100px;">归属公司
							:</label>
						<div class="input-group col-sm-10 col-md-10 col-lg-10"
							style="line-height: 34px;">
							<a
								class="condition_item {{queryCourseParam['companyId']== company.id?'condition_item_checked':''}}"
								style="margin-right: 20px; width: 100px;"
								ng-click="checkCondition('companyId',company.id)"
								ng-repeat="company in companyList">{{company.name}}</a>
						</div>
					</div>
					<div class=col-lg-12 style="border-bottom: 1px dashed #ddd">
						<label class=fl style="line-height: 34px; width: 100px;">开课校区
							:</label>
						<div class="input-group col-sm-10 col-md-10 col-lg-10"
							style="line-height: 34px;">
							<a
								class="condition_item {{queryCourseParam['branchId']== branch.id?'condition_item_checked':''}}"
								style="margin-right: 20px; width: 100px;"
								ng-click="checkCondition('branchId',branch.id)"
								ng-repeat="branch in branchsList">{{branch.name}}</a>
						</div>
					</div>
					<div class=col-lg-12 style="border-bottom: 1px dashed #ddd">
						<label class=fl style="line-height: 34px; width: 100px;">课程季
							:</label>
						<div class="input-group col-sm-10 col-md-10 col-lg-10"
							style="line-height: 34px;">
							<a
								class="condition_item {{queryCourseParam['seasonId']== null?'condition_item_checked':''}}"
								style="margin-right: 20px; width: 100px;"
								ng-click="checkCondition('seasonId',null)">不限</a> <a
								class="condition_item {{queryCourseParam['seasonId']== season.id?'condition_item_checked':''}}"
								style="margin-right: 20px; width: 100px;"
								ng-click="checkCondition('seasonId',season.id)"
								ng-repeat="season in seasonList">{{season.name}}</a>
						</div>
					</div>
					<div class=col-lg-12 style="border-bottom: 1px dashed #ddd">
						<label class=fl style="line-height: 34px; width: 100px;">年级
							:</label>
						<div class="input-group col-sm-10 col-md-10 col-lg-10"
							style="line-height: 34px;">
							<a
								class="condition_item {{queryCourseParam['gradeId']== null?'condition_item_checked':''}}"
								style="margin-right: 20px; width: 100px;"
								ng-click="checkCondition('gradeId',null)">不限</a> <a
								class="condition_item {{queryCourseParam['gradeId']== grade.id?'condition_item_checked':''}}"
								style="margin-right: 20px; width: 100px;"
								ng-click="checkCondition('gradeId',grade.id)"
								ng-repeat="grade in gradeList">{{grade.name}}</a>
						</div>
					</div>
					<div class=col-lg-12 style="border-bottom: 1px dashed #ddd">
						<label class=fl style="line-height: 34px; width: 100px;">科目
							:</label>
						<div class="input-group col-sm-10 col-md-10 col-lg-10"
							style="line-height: 34px;">
							<a
								class="condition_item {{queryCourseParam['subjectId']== null?'condition_item_checked':''}}"
								style="margin-right: 20px; width: 100px;"
								ng-click="checkCondition('subjectId',null)">不限</a> <a
								class="condition_item {{queryCourseParam['subjectId']== subject.id?'condition_item_checked':''}}"
								style="margin-right: 20px; width: 100px;"
								ng-click="checkCondition('subjectId',subject.id)"
								ng-repeat="subject in subjectList">{{subject.name}}</a>
						</div>
					</div>
					<table class="table table-striped table-hover table-bordered">
						<tr ng-click="">
							<th>
							 <div class="col-lg-12" >
							      <div class="form-group">
							       <label class="col-sm-2" style="top:5px;">课程</label>
								 <div class="col-sm-10 ">
									<input type=text class=form-control placeholder="快速检索课程"
										ng-change="dynamicQueryCourse()" id="courseSearchInfo" ng-model=courseSearchInfo>
									<div class=associatebox droplist
										ng-if="onGoingQueryCourse==true&&selectingCourseList.length>0">
										<ul>
											<li ng-repeat="course in  selectingCourseList"
												ng-click="selectedCourse(course)">{{course.courseName}}</li>
										</ul>
									</div>
								</div>
							</th>
							<th>单价</th>
							<th>课次</th>
							<th>年段</th>
							<th>教师</th>
							<th>上课期间</th>
							<th>上课时间</th>
							<th>操作</th>
						</tr>
						<tr ng-repeat="course in selectingCourseList"
							ng-if="selectingCourseList && selectingCourseList.length"
							ng-click=checked(course)>
							<td>{{course.courseName}}/{{course.courseNo}}
							</td>
							<td>{{course.unit_price}}</td>
							<td>{{course.courseTime}}</td>
							<td>{{course.gradeName}}</td>
							<td>{{course.teacherName}}/{{course.teacherCode}}</td>
							<td>{{course.beginDate}}~{{course.endDate}}</td>
							<td>{{course.startTime}}~{{course.endTime}}</td>
							<td><a href=javascript:void(0)
								ng-click=selectedCourse(course)>添加</a></td>
						</tr>
						<tr ng-if=!selectingCourseList||!selectingCourseList.length>
							<td colspan=8 align=center>没有数据.</td>
						</tr>
					</table>
					<div align=center>
						<ul class=pagination>
							<li ng-repeat="i in getNumber(totalPage) track by $index"
								class="{{ $index+1==currentPage ? 'active':'' }}"
								ng-click=queryCourse()><span>{{$index+1}}</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div style="margin: auto;" align=center>
				<button type=button class="btn btn-primary"
					style="width: 200px; margin-right: 10px;" ng-click=nextStep(2,1)>上一步</button>
				<button type=button class="btn btn-primary" style="width: 200px;"
					ng-click=nextStep(2,3)
					ng-disabled="!selectedCourseList || !selectedCourseList.length">下一步</button>
				<a href=javascript:void(0); style="margin-left: 10px;"
					ng-click=toSelectedCourse()
					ng-if="toSelectedCourseState == 'courseUp'">选择课程 <i
					class="fa fa-angle-double-right"></i></a> <a href=javascript:void(0);
					style="margin-left: 10px;" ng-click=toSelectedCourse()
					ng-if="toSelectedCourseState == 'courseDown'">选择课程 <i
					class="fa fa-angle-double-down"></i></a>
			</div>
		</div>
	</div>
	<div class="panel panel-default" style="margin-bottom: 10px;"
		ng-if="step == 3">
		<div class="panel-heading font-bold">第三步 调整价格</div>
		<div class=panel-body style="padding: 15px;">
			<h3>已选课程</h3>
			<table class="table table-striped table-hover table-bordered">
				<col width=20%>
				<col width=5%>
				<col width=5%>
				<col width=5%>
				<col width=5%>
				<col width=15%>
				<col width=20%>
				<col width=20%>
				<col width=5%>
				<tr>
					<th>课程</th>
					<th>原价</th>
					<th>现价</th>
					<th>课次</th>
					<th>年级</th>
					<th>教师/编码</th>
					<th>上课期间</th>
					<th>上课时间</th>
					<th>调整原因</th>
				</tr>
				<tr ng-repeat="course in selectedCourseList"
					ng-if="selectedCourseList && selectedCourseList.length"
					ng-click=checked(course)>
					<td>{{course.courseName}}/{{course.courseNo}}</td>
					<td>{{course.unit_price}}</td>
					<td><input type=text ng-model=course.actual_price
						style="width: 80px;"></td>
					<td>{{course.courseTime}}</td>
					<td>{{course.gradeName}}</td>
					<td>{{course.teacherName}}/{{course.teacherCode}}</td>
					<td>{{course.beginDate}}~{{course.endDate}}</td>
					<td>{{course.startTime}}~{{course.endTime}}</td>
					<td><input type=text ng-model=course.change_reason
						style="width: 80px;"></td>
				</tr>
				<tr ng-if=!selectedCourseList||!selectedCourseList.length>
					<td colspan=9 align=center>没有数据.</td>
				</tr>
			</table>
			<div style="margin: auto;" align=center>
				<button type=button class="btn btn-primary"
					style="width: 200px; margin-right: 10px;" ng-click=nextStep(3,2)>上一步</button>
				<button type=button class="btn btn-primary" style="width: 200px;"
					ng-click=nextStep(3,4)
					ng-disabled="!selectedCourseList || !selectedCourseList.length">下一步</button>
			</div>
		</div>
	</div>
	<div class="panel panel-default" style="margin-bottom: 10px;"
		ng-if="step == 4">
		<div class="panel-heading font-bold">第四步 缴费扣款</div>
		<div class=panel-body style="padding: 15px;">
			<h3>报班学员</h3>
			<table class="table table-striped table-hover table-bordered">
				<tr>
					<th>学员姓名</th>
					<th>学员编码</th>
					<th>就读学校</th>
					<th>年段</th>
					<th>联系方式</th>
					<th>最近时间</th>
				</tr>
				<tr ng-repeat="student in studentList"
					ng-if="studentList && studentList.length && student.checked">
					<td>{{student.studentName}}</td>
					<td>{{student.studentEncoding}}</td>
					<td>{{student.branchName}}</td>
					<td>{{student.gradeName}}</td>
					<td>{{student.contactInfo}}</td>
					<td>{{student.currentTime}}</td>
				</tr>
				<tr ng-if=!studentList||!studentList.length>
					<td colspan=6>暂无数据.</td>
				</tr>
			</table>
			<h3>已选课程</h3>
			<table class="table table-striped table-hover table-bordered">
				<col width=15%>
				<col width=5%>
				<col width=5%>
				<col width=5%>
				<col width=20%>
				<col width=15%>
				<col width=20%>
				<col width=10%>
				<col width=5%>
				 <tr>
                    <th>课程</th>
                    <th>原价</th>
                    <th>现价</th>
                    <th>报班课次</th>
                    <th>现总价</th>
                    <th>教师/编码</th>
                    <th>上课期间</th>
                    <th>上课时间</th>
                    <th>备注</th>
                </tr>
                <tr ng-repeat="course in selectedCourseList" ng-if="selectedCourseList && selectedCourseList.length" >
                    <td>{{course.courseName}}/{{course.courseNo}}</td>
                    <td>{{course.unit_price}}</td>
                    <td>{{course.actual_price}}</td>
                    <td><a href="javascript:void(0)" ng-click="toChangeCourseTimes(course)">{{course.selectedCourseTimes}}</a></td>
                    <td>
                    <input type="number" class="form-control" ng-model="course.discount_sum_price" ng-change="changeCoursePrice(course)"
                              ng-value="course.unit_price*course.selectedCourseTimes"   min="1" max="course.unit_price*course.selectedCourseTimes"/>
                    </td>
                    <td>{{course.teacherName}}/{{course.teacherCode}}</td>
                    <td>{{course.beginDate}}~{{course.endDate}}</td>
                    <td>{{course.startTime}}~{{course.endTime}}</td>
                   <td><input type="text" ng-model="course.change_reason" style="width:80px;"></td>
                </tr>
				<tr ng-if=!selectedCourseList||!selectedCourseList.length>
					<td colspan=8 align=center>请选择课程.</td>
				</tr>
			</table>
			<h3>
				缴费方式（应缴费：{{sum_price}}）<span class=fr>合计：{{pay.cash+pay.card+pay.transfer+pay.account}}</span>
			</h3>
			<table class="table table-striped table-hover table-bordered">
				<col width=25%>
				<col width=25%>
				<col width=25%>
				<col width=25%>
				<tr>
					<th>现金</th>
					<th>刷卡</th>
					<th>转账</th>
					<th>账户</th>
				</tr>
				<tr>
					<td><button type=button class="btn btn-default"
							ng-click="openPayPanel('cash')">缴费</button> 已缴费：{{pay.cash}}</td>
					<td><button type=button class="btn btn-default"
							ng-click="openPayPanel('card')">缴费</button> 已缴费：{{pay.card}}</td>
					<td><button type=button class="btn btn-default"
							ng-click="openPayPanel('transfer')">缴费</button>
						已缴费：{{pay.transfer}}</td>
					<td><button type=button class="btn btn-default"
							ng-click="openPayPanel('account')">缴费</button>
						已缴费：{{pay.account}}，当前余额：{{account[queryCourseParam['productId']].fee_amount
						- pay.account}}</td>
				</tr>
			</table>
			<div style="margin: auto;" align=center>
				<button type=button class="btn btn-primary"
					style="width: 200px; margin-right: 10px;" ng-click=nextStep(4,3)>上一步</button>
				<button type=button class="btn btn-primary" style="width: 200px;"
					ng-click=submitOrder()
					ng-disabled="(pay.cash+pay.card+pay.transfer+pay.account) != sum_price">提交</button>
			</div>
		</div>
	</div>
	<div ng-include="'templates/segment/course_times.html'"></div>
	<div ng-include="'templates/segment/student_account.html'"></div>
</div>
<style>
.drop-field .droplist {
	display: none;
}

.drop-field .droplist:hover {
	display: block;
}

.drop-field:hover .droplist {
	display: block;
}

.associatebox {
	border: 1px solid #ccc;
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
	position: absolute;
	right: 0px;
	z-index: 10001;
	top: 34px;
	background-color: #fff;
}

.associatebox ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.associatebox ul li {
	line-height: 26px;
	padding-left: 10px;
	color: #333333;
	list-style: none;
}
.associatebox ul li:hover {
	background: #428bca;
	cursor: pointer;
	color: #fff;
}
</style>
