<!-- Modal -->
<div id="accountMgrPanel" class="modal fade klxx-modal-primary" tabindex="-1" role="dialog" 
  aria-labelledby="accountMgrPanelLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="roleMgrPanelLabel">{{curAccount.accountName}}</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-sm-3 fl" style="line-height: 34px;">id</label>
          <div class="col-sm-9 input-group">
            <input type="text" class="form-control" ng-readonly="true" ng-model="curAccount.id" />
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : !selectedRole.roleName}">
          <label class="col-sm-3 fl" style="line-height: 34px;">账户名</label>
          <div class="col-sm-9 input-group" ng-controller="TooltipDemoCtrl">
            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" tooltip-placement="top" tooltip-placement="{dynamicTooltip}}" uib-tooltip="{{dynamicTooltip}}" tooltip-enable="!curAccount.accountName" ng-model="curAccount.accountName" placeholder="请输入账户名">
            <p ng-show="(!curAccount.accountName||curAccount.accountName=='')&&isSbumitting==true" class="help-block" style="color:#a94442" desc="校验角色不能为空">账户名称不能为空........</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 fl" style="line-height: 34px;">员工</label>
          <div class="input-group col-sm-9">
            <input type="text" class="form-control" ng-model="curAccount.employeeName" />
            <p ng-show="(curAccount.employeeId == undefined || curAccount.employeeId == null)&&isSbumitting==true" class="help-block" style="color:#a94442" desc="员工不能为空">员工不能为空........</p>
            <span class="input-group-addon cur" id="showSpan" ng-click="showEmployeeQuery()">
                         <i class="fa fa-edit"></i></span>
            <!-- 隐藏账户所属员工Id -->
            <input type="hidden" ng-model="curAccount.employeeId" na-value="curAccount.employeeId">
            <div class="associatebox" ng-if="showQuery==true">
              <ul>
                <div class="input-group col-sm-12 drop-field" ng-controller="TooltipDemoCtrl">
                  <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="searchInfo" ng-class="{'has-error' : !curAccount.employeeId}" id="employee_search_info" ng-change="queryEmployeeInfo()" tooltip-placement="top" tooltip-placement="{dynamicTooltip}}" uib-tooltip="{{dynamicTooltip}}" tooltip-enable="!curAccount.employeeId" placeholder="请输入员工姓名或编码....">
                  <span id="selectSpan" class="input-group-addon cur" ng-click="queryEmployeeInfo()">
                         <i class="fa fa-search"></i></span>
                </div>
                <!-- 迭代员工 -->
                <li ng-if="onGoingQuery==true" ng-repeat="employee in employeeList" ng-click="selectedEmployee(employee)">
                  {{employee.ENCODING}}-{{employee.EMPLOYEE_NAME}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 fl" style="line-height: 34px;">账户密码</label>
          <div class="col-sm-9 input-group">
            <input type="password" class="form-control" ng-model="curAccount.password" />
            <input type="hidden" ng-model="comparePassword" desc="用来判断用户输入的密码是否发生了变化" ng-value="comparePassword" />
            <p ng-show="(!curAccount.password||curAccount.password=='')&&isSbumitting==true" class="help-block" style="color:#a94442" desc="账户密码">账户密码不能为空........</p>
          </div>
        </div>
        <!-- <div class="form-group">
                    <label class="col-sm-3 fl" style="line-height: 34px;">归属团队</label>
                    <div class="col-sm-9 input-group">
                    <select class="form-control" ng-model="curAccount.buId"  ng-change="queryBranchsWithId(curAccount.buId)">
                     <option value="{{bu.id}}" ng-selected="curAccount.buId==bu.id" ng-repeat="bu in buList">{{bu.org_name}}</option>
                      </select>
                       <select class="form-control" name="bu" 
                       ng-change="queryBranchsWithId(curAccount.buId)"
                    ng-model="curAccount.buId" 
                    ng-selected="curAccount.buId"
                    ng-options="bu.id as bu.org_name for bu in buList"/>
                       <p  ng-show="(!curAccount.buId||curAccount.buId=='')&&isSbumitting==true"
                          class="help-block" style="color:#a94442" desc="归属团队不能为空">归属团队不能为空........</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 fl" style="line-height: 34px;">归属校区</label>
                    <div class="col-sm-9 input-group">
                    <select class="form-control" name="branch" 
                    ng-model="curAccount.branchId" 
                    ng-selected="curAccount.branchId"
                    ng-options="branch.id as branch.org_name for branch in branchsList"/>
                    <p  ng-show="(!curAccount.branchId||curAccount.branchId=='')&&isSbumitting==true"
                      class="help-block" style="color:#a94442" desc="归属校区不能为空">归属校区不能为空........</p>
                    </div>
                </div>  

                <div class="form-group">
                    <label class="col-sm-3 fl" style="line-height: 34px;">备注</label>
                    <div class="col-sm-9 input-group">
                        <input type="text" class="form-control" ng-model="curAccount.remark"/>
                    </div>
                </div>-->
      </div>
      <div class="modal-footer" align="center">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button class="btn btn-primary" type="button" ng-click="comfirmAccount()">确定</button>
      </div>
    </div>
  </div>
</div>
<div id="accountMgrRolePanel" class="modal fade klxx-modal-primary" style="z-index: 1049;" tabindex="-1" role="dialog" 
  aria-labelledby="accountMgrRolePanelLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="accountMgrRolePanelLabel">角色添加</h3>
      </div>
      <div class="modal-body container-fluid">
        <div class="row">
          <div class="col-sm-7">
            <div class="panel panel-primary">
              <div class="panel-heading"><span class="title">角色列表</span></div>
              <div class="panel-body">
                <div class="searchbar">
                  <form class="form-inline" role="form">
                    搜索关键字:
                    <div class="input-group col-sm-9 ">
                      <input type="text" class="form-control" id="role_search_info" ng-model="rolePage.roleSearchInfo" ng-change="queryAllRole()"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="queryAllRole()"><i class="iconfont icon-search"></i>查询</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="table-panel">
                <table class="table table-striped table-hover table-bordered ">
                  <tr>
                    <th>id</th>
                    <th>角色名称</th>
                    <th>备注</th>
                    <th>操作</th>
                  </tr>
                  <tr ng-repeat="role in roleList ">
                    <td>{{role.id}}</td>
                    <td>{{role.roleName}}</td>
                    <td>{{role.remark}}</td>
                    <td><a href="javascript:void(0) " ng-click="selectedRole(role) ">添加</a></td>
                  </tr>
                  <tr ng-if="!roleList||!roleList.length ">
                    <td colspan="4 ">暂无数据</td>
                  </tr>
                  <tr ng-if="isLoadingRoleList=='loading...' ">
                    <td colspan="5 " align="center ">
                      <img src="img/icons/big_load.gif ">
                    </td>
                  </tr>
                </table>
                <div class="center " ng-if="pageParam.pages>=1">
                  <ul class="pagination">
                    <li ng-model="pageParam.pageNum" ng-if="pageParam.pages>=1" ng-click="queryRole(1)">
                      <span>首页</span>
                    </li>
                    <li ng-if="pageParam.pageNum>1" ng-click="queryRole(pageParam.pageNum-1)">
                      <span>上一页</span>
                    </li>
                    <li ng-repeat="i in paginationBars track by pageParam.pages" class="{{ i==pageNum ? 'active':'' }}">
                      <span ng-click="queryRole(i)">{{i}}</span>
                    </li>
                    <li ng-model="pageParam.pageNum" ng-if="pageParam.pageNum<pageParam.pages" ng-click="queryRole(pageParam.pageNum+1)">
                      <span>下一页</span>
                    </li>
                    <li ng-model="pageParam.pages" ng-click="queryRole(pageParam.pages)">
                      <span>尾页</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <span class="title">已添加帐户角色列表</span>
              </div>
            </div>
            <div class="table-panel">
              <table class="table table-striped table-hover table-bordered">
                <col width="100">
                <col>
                <col width="80">
                <tr>
                  <th>角色id</th>
                  <th>角色名称</th>
                  <th>操作</th>
                </tr>
                <tr ng-repeat="role in roleListCopy" ng-if="curAccount && roleListCopy && roleListCopy.length">
                  <td>{{role.id}}</td>
                  <td>{{role.roleName}}</td>
                  <td>
                    <a href="javascript:void(0)" ng-click="disSelectedRole(role)">删除</a>
                  </td>
                </tr>
                <tr ng-if=" !roleListCopy || !roleListCopy.length ">
                  <td colspan="3" align="center">暂无数据.</td>
                </tr>
                <tr ng-if="isLoadingRole == 'loading...'">
                  <td colspan="3" align="center">
                    <img src="img/icons/big_load.gif">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true" ng-click="updateAccountRole()">提交</button>
      </div>
    </div>
  </div>
</div>
    <style>
    .drop-field .droplist {
      display: none;
    }
    
    .drop-field .droplist:hover {
      display: block;
    }
    
    .drop-field:hover .droplist {
      display: block;
    }
    
    .associatebox {
      border: 1px solid #ccc;
      width: 100%;
      padding-top: 3px;
      padding-bottom: 3px;
      position: absolute;
      right: 0px;
      z-index: 10001;
      top: 34px;
      background-color: #fff;
    }
    
    .associatebox ul {
      padding: 0px;
      margin: 0px;
      list-style: none;
    }
    
    .associatebox ul li {
      line-height: 26px;
      padding-left: 10px;
      color: #333333;
      list-style: none;
    }
    
    .associatebox ul li:hover {
      background: #428bca;
      cursor: pointer;
      color: #fff;
    }
    </style>
