<div ng-controller="AccountCtrl">
  <div>
    <div class="panel panel-primary">
      <div class="panel-heading"><span class="title">账户列表</span>
      </div>
      <div class="panel-body">
        <div class="toolbar">
            <button class="btn btn-primary btn-circle" ng-click="toAddAccountPanel()"><i class="iconfont icon-add"></i> 添加
        </button>
        </div>
        <hr>
        <div class="searchbar">
          <form class="ng-pristine ng-valid form-inline" role="form">
            <div class="form-group">
              员工名：
              <input type="text" class="form-control" ng-model="employeeName" ng-enter="queryInfo(1)"/>
            </div>
            <div class="form-group">
              员工号：
              <input type="number" class="form-control" ng-model="employeeId" ng-enter="queryInfo(1)"/>
            </div>
            <div class="form-group">
              账户名：
              <input type="text" class="form-control" ng-model="accountName" ng-enter="queryInfo(1)"/>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="queryInfo(1)"><i class="iconfont icon-search"></i> 查询</button>
          </form>
        </div>
      </div>
      <div class="panel-body" style="padding: 15px;">
        <table class="table table-striped table-hover table-bordered" style="margin-bottom: 10px;">
          <tr>
            <th>id</th>
            <th>账户名</th>
            <th>员工</th>
            <th>状态</th>
            <th>操作 </th>
          </tr>
          <tr ng-repeat="account in accountList" ng-if="accountList && accountList.length" ng-click="checked(account)" class="{{account.checked?'success':''}}">
            <td>{{account.user_id}}</td>
            <td>{{account.accountName}}</td>
            <td>{{account.employeeName}}</td>
            <td>{{account.status==1?'启用':'禁用'}}</td>
            <td>
              <a href="javascript:void(0)" ng-click="toUpdateAccountPanel(account)">修改</a>
              <a href="javascript:void(0)" ng-if="account.status==1" ng-click="toDeleteAccountPanel(account)">禁用</a>
              <a href="javascript:void(0)" ng-if="account.status==2" ng-click="toDeleteAccountPanel(account)">启用</a>
              <a href="javascript:void(0)" ng-click="setPostPanel(account)">设置职务</a>
            </td>
          </tr>
          <tr ng-if="!accountList||!accountList.length">
            <td colspan="5" align="center">暂无数据.</td>
          </tr>
          <tr ng-if="isLoading == 'loading...'">
            <td colspan="5" align="center">
              <img src="img/icons/big_load.gif">
            </td>
          </tr>
        </table>
        <div class="center" ng-if="pageParam.pages>=1">
          <ul class="pagination">
            <li ng-model="pageParam.pageNum" ng-if="pageParam.pages>=1" ng-click="queryInfo(1)">
              <span>首页</span>
            </li>
            <li ng-if="pageParam.pageNum>1" ng-click="queryInfo(pageParam.pageNum-1)">
              <span>上一页</span>
            </li>
            <li ng-repeat="i in paginationBars track by $index" class="{{ i==pageNum ? 'active':'' }}">
              <span ng-click="queryInfo(i)">{{i}}</span>
            </li>
            <li ng-model="pageParam.pageNum" ng-if="pageParam.pageNum<pageParam.pages" ng-click="queryInfo(pageParam.pageNum+1)">
              <span>下一页</span>
            </li>
            <li ng-model="pageParam.pages" ng-click="queryInfo(pageParam.pages)">
              <span>尾页</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="col-lg-6">
      <div class="panel panel-primary" style="margin-bottom: 10px;">
        <div class="panel-heading">
          <span class="title">账户角色列表</span>
          <!-- <div class="fr cur btn btn-default" ng-click="updateAccountRole()" style="margin-left: 10px; margin-top: 7px;"><i class="fa fa-save"></i> 保存</div> -->
          <div class="fr cur btn btn-default" ng-click="toAddRolePanel()" style="margin-left: 10px; margin-top: 7px;"><i class="fa fa-plus"></i> 添加</div>
        </div>
        <div class="panel-body" style="padding: 15px;">
          <table class="table table-striped table-hover table-bordered">
            <col width="10%">
            <col width="40%">
            <col width="50%">
            <tr>
              <th>角色id</th>
              <th>角色名称</th>
              <th>操作</th>
            </tr>
            <tr ng-repeat="role in curAccount.roleList" ng-if="curAccount && curAccount.roleList && curAccount.roleList.length">
              <td>{{role.id}}</td>
              <td>{{role.roleName}}</td>
              <td>
                <a href="javascript:void(0)" ng-click="removeRole(role)">删除</a>
              </td>
            </tr>
            <tr ng-if=" !curAccount || !curAccount.roleList || !curAccount.roleList.length ">
              <td colspan="3" align="center">暂无数据.</td>
            </tr>
            <tr ng-if="isLoadingRole == 'loading...'">
              <td colspan="3" align="center">
                <img src="img/icons/big_load.gif">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-primary" style="margin-bottom: 10px;">
        <div class="panel-heading">
          <span class="title">账户校区列表</span>
          <button class="fr cur btn btn-default" ng-click="updateAccountOrg()" style="margin-left: 10px; margin-top: 7px;"><i class="fa fa-save"></i> 保存</button>
        </div>
        <div class="panel-body" style="padding: 15px;">
          <div id="branchTree"></div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'templates/hrm/accountMgr/accountMgr_info.html'"></div>
  <!-- 模态框（Modal） -->
  <div class="modal fade klxx-modal-primary" id="account_remove_confirm_dialog" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
        </div>
        <div class="modal-body">
          {{modalBody}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" ng-click="deleteAccount()" class="btn btn-primary">确认</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
  </div>
  <!-- 设置员工职务 -->
  <div class="modal fade klxx-modal-primary" id="setEmpPostModal" tabindex="-1" role="dialog" 
    aria-labelledby="setEmpPostModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="setEmpPostModalLabel">
            设置职务
          </h4>
        </div>
        <div class="modal-body">
          <div class="panel-body" style="padding: 15px;">
            <div>
              <table class="table table-striped table-bordered" id="add_Table">
                <thead>
                <tr>
                  <th>团队</th>
                  <th>职务</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in postByEmpList">
                  <td>{{d.buName}}</td>
                  <td>{{d.post_name}}</td>
                  <td>{{d.status==1?'已启用':'已禁用'}}</td>
                  <td>
                    <button class="btn btn-primary btn-danger btn-xs" ng-if="d.status == 1" ng-click="removePost(d)">禁用</button>
                    <button class="btn btn-primary  btn-xs" ng-if="d.status == 0" ng-click="removePost(d)">启用</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select ng-model="selectedPost.bu_Id" class="form-control" ng-options="bu.id as bu.org_name for bu in buList">
                      <option value=""></option>
                    </select>
                  </td>
                  <td>
                    <select ng-model="selectedPost.post_Id" class="form-control" ng-options="post.id as post.post_name for post in postList">
                      <option value=""></option>
                    </select>
                  </td>
                  <td colspan="2">
                    <button class="btn btn-primary  btn-sm" ng-click="savePost()">保存</button>
                  </td>
                </tr>
                </tbody>
                <tr ng-if="!postByEmpList||!postByEmpList.length">
                  <td colspan="4" align="center">暂无数据</td>
                </tr>
                <tr ng-if="Loading == 'loading...'">
                  <td colspan="4" align="center">
                    <img src="img/icons/big_load.gif">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
