<!-- Banner Starts Here -->
<div class="slide-banner-left">
    <img class="slide-img" src="./images/slider-frame.png" />
    <!----//End-script---->
    <div id="slideshow">
        <div>
            <img src="./images/s2.jpg" alt="" />
        </div>
        <div>
            <img src="./images/s3.jpg" alt="" />
        </div>
        <div>
            <img src="./images/s1.jpg" alt="" />
        </div>
    </div>
    <div class="banner-head">
        <h2>Vivamus Cestibulum</h2>
        <p>Integer vitae libero ac risus egestas</p>
    </div>
    <div class="banner-rings">
        <i class="ring1"> </i>
        <i class="ring2"> </i>
        <i class="ring3"> </i>
        <i class="ring4"> </i>
        <i class="ring5"> </i>
    </div>
    <a href="#" class="banner-btn"> gravidai</a>
</div>
<!-- Banner Ends Here -->