<div class="erp" ng-controller="erp_workflowProcessNodeController">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="title">流程节点</span>
    </div>
    <div class="panel-body">
      <div class="toolbar">
        <button class="btn btn-primary" ng-click="refresh()">
          <i class="fa fa-refresh"></i> 刷新
        </button>
      </div>
    </div>
  </div>
  <div class="table-panel">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <!--<th>流程ID</th>-->
          <th>流程id</th>
          <th>流程KEY</th>
          <th>流程名称</th>
          <th>描述</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="processInfo in processInfoList">
          <!--<td>{{processInfo.id}}</td>-->
          <td>{{processInfo.deploymentid}}</td>
          <td>{{processInfo.key}}</td>
          <td>{{processInfo.name}}</td>
          <td>{{processInfo.description}}</td>
          <td>{{!processInfo.suspended?'运行中':'已终止'}}</td>
          <td>
            <a>
              <div class="btn btn-default" ng-click="queryProcessNodeRight(processInfo)">查看权限</div>
            </a>
          </td>
        </tr>
        <tr ng-if="isLoading=='isLoading'">
          <td colspan="7" align="center">
            <img src="img/erp/loading2.gif" />
          </td>
        </tr>
        <tr ng-if="isLoading!='isLoading'&&(!processInfoList||!processInfoList.length)">
          <td colspan="7" align="center">暂无数据.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--删除流程中begin-->
  <div ng-if="openPanel == 'deleteProcessDefinition'">
    <div style="position:fixed;height: 155%;width:100%;left:0px;top:0px;z-index: 999;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);"></div>
    <div class="pay-window" style="width:60%;overflow: hidden;left:0px;top:10%;">
      <div style="margin: 20px;height:50px;" align="center">
        正在删除流程...
      </div>
    </div>
  </div>
  <!--删除流程中end-->
  <!--查询流程细节begin-->
  <div id="erpWorkflowProcessNodePanel" class="modal fade klxx-modal-primary"
    tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content klxx-modal-primary">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
          <h4 class="modal-title">流程实例</h4>
        </div>
        <div class="modal-body">
          <div class="row m-0">
            <div class="col-lg-4">
              <h3>流程节点</h3>
              <table class="table  table-striped table-hover  table-border">
                <tr>
                  <th>id</th>
                  <th>流程节点</th>
                  <th>描述</th>
                </tr>
                <tr ng-repeat="role in selectedProcess.roleList " ng-click="selectProcessNode(role)" class="{{selectedRole.id == role.id?'success':''}}">
                  <td>{{role.id}}</td>
                  <td>{{role.processTask}}</td>
                  <td>{{role.remark}}</td>
                </tr>
                <tr ng-if="isQueryProcessDefinitionDetail">
                  <td colspan="3" align="center">
                    <img src="img/erp/loading2.gif" />
                  </td>
                </tr>
                <tr ng-if="!isQueryProcessDefinitionDetail && (!selectedProcess.roleList || !selectedProcess.roleList.length)">
                  <td colspan="3" align="center">
                    暂无数据.
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-lg-8">
              <div class="col-lg-12">
                <div class="col-lg-4">
                  <h3>
                    审批人
                  </h3>
                </div>
                <div class="col-lg-8">
                  <div class="input-group dropdown {{openSearchRoleList?'open':''}} fr " style="margin-top:8px;">
                    <input class="form-control" type="text" placeholder="请输入角色名称." ng-model="queryBusinessRoleParam.searchName">
                    <div class="input-group-addon  cur" ng-click="queryBusinessRole()">
                      <a data-toggle="dropdown" href="javascript:void(0);">
                        <i class="fa fa-search"></i>
                      </a>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li class="cur" ng-repeat="searchRole in searchRoleList">
                        <a href="javascript:void(0)" ng-click="selectSearchRole(searchRole)" class="cur">{{searchRole.employeeName + '（'+searchRole.encoding+'）'}}{{searchRole.orgName?','+searchRole.orgName:''}}</a>
                      </li>
                      <li ng-if="queryBusinessRoleParam.isSearch" style="text-align: center;">
                        <img src="img/erp/loading2.gif" />
                      </li>
                      <li ng-if="!queryBusinessRoleParam.isSearch&&(!searchRoleList||!searchRoleList.length)" style="text-align: center;">
                        没有查询到可分配的员工.
                      </li>
                    </ul>
                    <span class="input-group-btn" ng-click="addRoleMapping()">
                      <button class="btn btn-default bootstrap-touchspin-up" type="button">+</button>
                    </span>
                  </div>
                </div>
              </div>
              <table class="table table-striped table-hover table-border">
                <tr>
                  <th>id</th>
                  <th>角色名称</th>
                  <th>操作</th>
                </tr>
                <tr ng-repeat="mapping in selectedRole.mappings">
                  <td>{{mapping.id}}</td>
                  <td>{{mapping.businessRole}}</td>
                  <td>
                    <a class="cur" href="javascript:void(0);" ng-click="removeRoleMapping(mapping)">
                      <i class="fa fa-times"></i>
                    </a>
                  </td>
                </tr>
                <tr ng-if="isQueryProcessDefinitionDetail">
                  <td colspan="3" align="center">
                    <img src="img/erp/loading2.gif" />
                  </td>
                </tr>
                <tr ng-if="!isQueryProcessDefinitionDetail && (!selectedRole.mappings || !selectedRole.mappings.length)">
                  <td colspan="3" align="center">
                    暂无数据.
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <!--查询流程细节end-->
</div>
