<div class="erp klxx index-block"
	ng-controller="erp_workflowTaskAppication">
	<div class="panel panel-primary">
		<div class="panel-heading">
	    <span class="title">
			<i class="iconfont icon-home_listApplication text-primary"></i>
			我的申请({{selectedWorkFlowState.name}}，共{{page.totalCount}}条)</span>

	        <div class="pull-right" style="cursor: pointer;margin-left: 10px;font-size: 14px;" ng-click="query()">
	            <i class="fa fa-rotate-right"></i>
	        </div>
	        <div class="pull-right" style="cursor: pointer;font-size: 15px;font-weight:bolder;"
	             ng-click="moreConditions=!moreConditions">
	            <i class="fa fa-arrow-circle-down" ng-if="moreConditions"></i>
	            <i class="fa fa-arrow-circle-right" ng-if="!moreConditions"></i>
	        </div>
		</div>
		<div class="panel-body" style="height: 430px; overflow-y: auto;">
			<div class="row" style="padding: 20px; padding-bottom: 5px;"
				ng-show="moreConditions">
				<div class="col-lg-12">
					<div class="col-lg-6">
						<div class="form-group">
							<label class="col-lg-4 control-label">开始时间：</label>
							<div class="col-lg-8">
								<input type="text" class="form-control Wdate cursor_pointer"
									onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
									ng-model="start_date" name="cdt_start_date" id="cdt_start_date_02" />
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label class="col-lg-4 control-label">截止时间：</label>
							<div class="col-lg-8">
								<input type="text" class="form-control Wdate cursor_pointer"
									onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"
									ng-model="end_date" name="cdt_end_date" id="cdt_end_date_02" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row"
				style="padding: 20px; padding-bottom: 5px; padding-top: 5px;"
				ng-show="moreConditions">
				<div class="col-lg-12">
					<div class="col-lg-6">
						<div class="form-group">
							<label class="col-lg-4 control-label">所属模块：</label>
							<div class="col-lg-8">
								<select class="form-control" ng-model="selectedModule"
									ng-options="module.name for module in queryModuleList">
									<option value="module.value">{{module.name}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-lg-6">

						<div class="form-group">
							<label class="col-lg-4 control-label">审批状态：</label>
							<div class="col-lg-8">
								<select class="form-control" ng-model="selectedWorkFlowState"
									ng-options="flowstate.name for flowstate in queryWorkFlowStateList">
									<option value="flowstate.value">{{flowstate.name}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row"
				style="padding: 20px; padding-bottom: 5px; padding-top: 5px;"
				ng-show="moreConditions">
				<div class="col-lg-12">
					<div class="col-lg-6">
						<div class="form-group">
							<label class="col-lg-4 control-label">关键字：</label>
							<div class="col-lg-8">
								<input class="form-control" type="text" ng-model="app_info" />
							</div>
						</div>
					</div>
					<div class="col-lg-6" align="right">
						<div class="input-group-btn">
							<div class="btn btn-default" ng-click="query()">搜索</div>
						</div>
					</div>
				</div>
			</div>

			<table class="table table-hover" style="margin-bottom: 0px;">
					<tr ng-repeat="row in page.resultList">
						<td>
							<div class="col-lg-10">
	                            <p>{{row.current_step}}<small ng-if="row.current_state">：{{row.current_state}}</small>
	                            </p>
	                            <p style="font-size:12px;color: #888;">
									<p ng-if="row.application.indexOf('理赔审批：')!=-1" href="javascript:void(0)" >
										<span style="color:#333">【{{row.createtime}}】<span ng-bind-html="row.application | trustHtml"></span></span>
									</p>
	                            	<a ng-if="row.application.indexOf('理赔审批：')==-1" href="{{'?studentId='+row.studentId+'&orderId='+row.orderId+(row.isTemp ? '&orderType=temporaryOrder' : '') + '#/studentMgr/studentMgrCourse/studentMgrOrderDetail'}}" target="_blank" >
	                                	<span style="color:#333">【{{row.createtime}}】<span ng-bind-html="row.application | trustHtml"></span></span>
	                            	</a>
	                            </p>
	                            <p ng-if="row.remark">
	                               <small >备注：{{row.remark}}</small>
	                            </p>
							</div>
	                        <div class="col-lg-2">
	                            <p style="text-align: right;">
	                                <a class="btn btn-default" ng-click="showDetailInfo(row)"
	                                   href="javascript:void(0);" ng-if="row.taskId" style="color: #000;">
	                                    <i class="fa fa-long-arrow-down" ng-if="row.showDetail"></i>
	                                    <i class="fa fa-long-arrow-right" ng-if="!row.showDetail"></i>
	                                </a>
	                                <a href="javascript:void(0);" ng-if="!row.taskId" style="color: #000;">
	                                </a>
	                            </p>
	                        </div>
	                        <div ng-if="row.showDetail">
	                            <div ng-if="isDetailLoading!='isDetailLoading'" style="font-size: 14px;" class=" form form-horizontal">
	                                <div class="col-lg-12">
	                                    <div class="col-lg-6">
	                                        <div class="form-group">
	                                            <label class="col-lg-4 control-label">申请类型</label>
	                                            <div class="col-lg-8">
	                                                <p class="form-control-static">{{selectedRow.extData['processDefinition.name']}}</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-lg-6">
	                                        <div class="form-group">
	                                            <label class="col-lg-4 control-label">申请时间</label>
	                                            <div class="col-lg-8">
	                                                <p class="form-control-static">{{selectedRow.updatetime}}</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="col-lg-12">
	                                    <div class="col-lg-6">
	                                        <div class="form-group">
	                                            <label class="col-lg-4 control-label">学员</label>
	                                            <div class="col-lg-8">
	                                                <p class="form-control-static">{{selectedRow.extData.student_name}}{{selectedRow.extData.student_encoding}}</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-lg-6">
	                                        <div class="form-group">
	                                            <label class="col-lg-4 control-label">报班单</label>
	                                            <div class="col-lg-8">
	                                                <p class="form-control-static">{{selectedRow.extData.order_encoding}}</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="col-lg-12">
	                                    <div class="col-lg-6">
	                                        <div class="form-group">
	                                            <label class="col-lg-4 control-label">当前节点</label>
	                                            <div class="col-lg-8">
	                                                <p class="form-control-static">{{selectedRow.current_step}}</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-lg-6">
	                                        <div class="form-group">
	                                            <label class="col-lg-4 control-label">当前处理人</label>
	                                            <div class="col-lg-8">
	                                                <p class="form-control-static">{{selectedRow.current_man}}</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div ng-if="isDetailLoading=='isDetailLoading'">
	                                <div align = "center">
	                                    <img src="img/erp/loading2.gif" />
	                                </div>
	                            </div>
	                        </div>
						</td>
					</tr>
					<tr ng-if="isLoading!='isLoading'&&(!page.resultList||!page.resultList.length)">
						<td align="center" colspan="1" style="border-top: none;">
						<div class="no-data"></div>
						暂无数据</td>
					</tr>
					<tr ng-if="isLoading=='isLoading'">
						<td align="center" colspan="1"><img src="img/erp/loading2.gif" />
						</td>
					</tr>
			</table>
			<div class="row" align="center" ng-if="data.totalCount>5">
				<div class="btn btn-default" style="margin: 5px; width: 200px;"
					ng-click="queryMore()">
					<i class="fa fa-angle-double-down"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- 删除联报课程 -->
	<div ng-click="closeDeletingInfo()"
		style="position: fixed; height: 155%; width: 100%; left: 0px; top: 0px; z-index: 999; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);"
		ng-if="isLoading == 'isDeleting'"></div>
	<div class="erp message-window panel panel-default "
		style="height: auto" ng-if="isLoading == 'isDeleting'">
		<div class="panel-body">
			<div align = "center">
				<img src="img/erp/loading2.gif" />
			</div>
		</div>
	</div>
	
</div>