<div id="tr-workMgt-add" class="erp tr layout-column" ng-controller="frWorkMgtWorkAddCtrl as mgtWorkAdd" >
  <div class="panel panel-primary mb-10">
    <div class="panel-heading">
      <span class="title">
        <span class="cur text-primary" ng-click="mgtWorkAdd.back()">&lt; 返回</span> | 作业管理 / 添加作业
      </span>
    </div>
  </div>

  <!-- 课次绑定内容-->
  <div class="flex class-work-wrap layout-column tr-white-bg tr-container">
    <div class="w-688" style="margin: 0 auto;" ng-form="mgtWorkAddForm">
      <h3 class="tr-align-center">添加作业</h3>
      <div class="class-work-cont" style="margin: auto;">
        <!-- work-name -->
        <div class="layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">作业名称:</div>
          <div class="dd flex">
            <input type="text" class="form-control" ng-model="mgtWorkAdd.workInfo.workTitle" required>
            <span>建议按 "课程季+地区+年级+科目+班级+课次序号+作业类型" 来命名</span>
          </div>
        </div>
        <!-- work-type -->
        <div class="layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">作业类型:</div>
          <div class="dd flex">
            <select class="form-control" ng-model="mgtWorkAdd.workInfo.type" ng-options="work.type as work.label for work in mgtWorkAdd.workTypes">
            </select>
          </div>
        </div>
        <!-- 关联试卷 -->
        <div class="layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">关联的试卷:</div>
          <div class="dd flex">
            <div>
              <button type="button" class="btn btn-primary"
                ng-click="mgtWorkAdd.openDialog()" ng-if="mgtWorkAdd.workInfo.papers.length == 0">
                关联
              </button>
              <button type="button" class="btn btn-primary"
                ng-click="mgtWorkAdd.openDialog()" ng-if="mgtWorkAdd.workInfo.papers.length > 0">
                修改
              </button>
            </div>
          </div>
        </div>
        <!-- 关联试卷列表 -->
        <div class="class-list layout-row layout-align-start mv-20 mh-80" ng-if="mgtWorkAdd.workInfo.papers.length > 0">
          <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;"></div>
          <ul class="dd m-0 p-10 h-150" style="border: 1px solid #eee; min-width: 400px; overflow-y: auto;">
            <li ng-repeat="item in mgtWorkAdd.workInfo.papers" class="layout-row layout-align-space-between-center">
              <span>{{::item.paperName}}</span>
              <i class="fa fa-close tr-primary-fg mr-10" ng-click="mgtWorkAdd.delete(mgtWorkAdd.workInfo.papers, index)"></i>
            </li>
          </ul>
        </div>
        <!-- 课程类型 -->
        <div class="layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">课程类型:</div>
          <div class="dd flex">
            <select disabled class="form-control" ng-model="mgtWorkAdd.productCode" ng-options="item.type as item.label for item in mgtWorkAdd.productLineCodes">
            </select>
          </div>
        </div>

        <!-- 关联视频 -->
        <div class="layout-row layout-align-start mv-20 mh-80">
          <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">关联视频:</div>
          <div class="dd flex">
            <div class="layout-row videos-field" ng-repeat="item in mgtWorkAdd.workInfo.videos">
              <input type="text" ng-model="item.videoUrl" class="form-control">
              <button type="button" class="btn btn-primary ml-5" ng-click="mgtWorkAdd.addVideo()">添加</button>
              <button type="button" class="btn btn-danger ml-5" ng-if="$index > 0" ng-click="mgtWorkAdd.deleteVideo($index)">删除</button>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
          ng-click="mgtWorkAdd.back()">取消</button>
        <button type="button" 
          class="btn btn-primary"
          ng-click="mgtWorkAdd.createWork()"
          ng-disabled="mgtWorkAddForm.$invalid"
        >
          确定
        </button>
      </div>
    </div>
  </div>
</div>