<div id="tr-workMgt-setting" class="erp tr layout-column" ng-controller="frWorkMgtSetCtrl as mgtSet" >

  <div class="panel panel-primary mb-10">
    <div class="panel-heading">
      <span class="title">
        <span class="cur text-primary" ng-click="mgtSet.back()">&lt; 返回</span> | 作业管理 1.0 / 设置
      </span>
    </div>
  </div>

  <!-- 课次绑定内容-->
  <div class="flex class-work-wrap layout-column tr-white-bg tr-container">
    <div style="text-align: center;" ng-if="mgtSet.loading">
      <img src="img/erp/loading2.gif" />
    </div>
    <div ng-if="!mgtSet.loading" style="position: relative;">
      <div class="w-688" style="margin: 0 auto;">
        <h3 class="tr-align-center">绑定课次</h3>
        <div class="class-work-cont" style="margin: auto;">
          <div class="layout-row layout-align-start mv-20 mh-80">
            <div class="dt mr-10 w-100 tr-align-right">作业名称:</div>
            <div class="dd">{{::mgtSet.classWorkInfo.workTitle}}</div>
          </div>
          <div class="layout-row layout-align-start mv-20 mh-80">
            <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">绑定的课次:</div>
            <div class="dd">
              <button type="button" class="btn btn-primary"
                ng-click="mgtSet.openDialog()" ng-if="mgtSet.classWorkInfo.classList.length === 0">
                绑定
              </button>
              <button type="button" class="btn btn-primary"
                ng-click="mgtSet.openDialog()" ng-if="mgtSet.classWorkInfo.classList.length > 0">
                修改
              </button>
            </div>
          </div>
          <!-- 绑定课次的列表 -->
          <div class="class-list layout-row layout-align-start mv-20 mh-80" ng-if="mgtSet.classWorkInfo.classList.length > 0">
            <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;"></div>
            <ul class="dd m-0 p-10 h-150" style="border: 1px solid #eee; min-width: 400px; overflow-y: auto;">
              <li ng-repeat="item in mgtSet.classWorkInfo.classList" class="layout-row layout-align-space-between-center">
                <span>{{item.classTitle}}</span>
                <i class="fa fa-close tr-primary-fg mr-10" ng-click="mgtSet.delete(mgtSet.classWorkInfo.classList, index)"></i>
              </li>
            </ul>
          </div>

          <div class="layout-row layout-align-start mv-20 mh-80">
            <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">发布时间:</div>
            <div class="dd layout-row ">
              <rd-date-picker-popup ng-model="mgtSet.date" class="mr-10" disabled="mgtSet.dateDisabled"></rd-date-picker-popup>
              <kl-timepicker ng-model="mgtSet.time" required disabled="mgtSet.dateDisabled"></kl-timepicker>
            </div>
          </div>
          <div class="layout-row layout-align-start mv-20 mh-80">
            <div class="dt mr-10 w-100 tr-align-right" style="padding-top: 7px; margin-bottom: 0;">结束时间:</div>
            <div class="dd layout-row">
              <rd-date-picker-popup ng-model="mgtSet.endDate" class="mr-10" disabled="mgtSet.endDateDisabled"></rd-date-picker-popup>
              <kl-timepicker ng-model="mgtSet.endTime" required disabled="mgtSet.endDateDisabled"></kl-timepicker>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
            ng-click="mgtSet.back()">取消</button>
          <button type="button" class="btn btn-primary"
            ng-click="mgtSet.bindClassWork()">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="mgtSet.submitLoading" style="position: fixed;overflow: auto;width: 100%;height: 100%;top: 60px;bottom: 0;right: 0;background-color: rgba(221, 221, 221, 0.3);left: 180px;">
    <img src="img/erp/loading2.gif" style="position: relative;left: 34%;top: 30%;"/>
  </div>
</div>