<!DOCTYPE html>
<html ng-app="ework-ui">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>快乐学习信息化平台</title>
    <!-- STYLES -->
    <!-- build:css lib/css/main.min.css -->
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="components/angular/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="components/chosen/chosen.css">
    <!-- endbuild -->
    <!--<link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap-theme.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="components/jstree/dist/themes/default/style.min.css">-->

    <!-- SCRIPTS -->
    <!-- build:js lib/js/main.min.js -->
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="components/jstree/dist/jstree.min.js"></script>
    <script type="text/javascript" src="components/chosen/chosen.jquery.js"></script>
    <!-- endbuild -->
    <!--<script type="text/javascript" src="components/bootstrap/js/transition.js"></script>-->
    <!-- 自定义的部分，构建打包成压缩资源 -->

    <link rel="stylesheet" type="text/css" href="less/block/content.css">
    <link rel="stylesheet" type="text/css" href="less/block/left_nav.css">
    <link rel="stylesheet" type="text/css" href="less/block/modal.css">
    <link rel="stylesheet" type="text/css" href="less/block/top.css">
    <link rel="stylesheet" type="text/css" href="less/common/index.css">
    <link rel="stylesheet" type="text/css" href="less/common/style.css">
    <link rel="stylesheet" type="text/css" href="less/pub/order.css">

    <script type="text/javascript" src="js/common/ajaxfileupload.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/routes.js"></script>
    <script type="text/javascript" src="js/angular-locale_zh.js"></script>
    <script type="text/javascript" src="js/controllers/master-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/date-ctrl.js"></script>
    <script type="text/javascript" src="js/common/account-ctrl.js"></script>
    <script type="text/javascript" src="js/common/role-ctrl.js"></script>

    <script type="text/javascript" src="js/blocks/cropbox.js"></script>
    <script type="text/javascript" src="js/blocks/left-nav.js"></script>
    <script type="text/javascript" src="js/blocks/top-ctrl.js"></script>
    <script type="text/javascript" src="data/services.js"></script>

    <!--这里加入要调试的功能的css-->
    <script type="text/javascript" src="js/controllers/pub/BSrefund-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/pub/BSrefund2refund-ctrl.js"></script>

    <script type="text/javascript" src="js/controllers/pub/BStransferClassMgr-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/pub/BStransferClassMgr2transferClass-ctrl.js"></script>

    <script type="text/javascript" src="js/controllers/pub/BSattendanceMgr-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/pub/BSaccountMgr-ctrl.js"></script>
    <script type="text/javascript" src="js/controllers/pub/BSsuchMgr-ctrl.js"></script>



    <!--这里加入要调试的功能的js-->
</head>
<body ng-controller="MasterCtrl">
<div ng-include="'templates/block/top.html'"></div>

<!-- Main Content -->
<div class="content">
    <div class="col-sm-4 col-md-3 col-lg-2 left_nav"  ng-if="curSystem.key!='index'">
        <div ng-include="'templates/block/left_nav.html'"></div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10 right_content"  ng-if="curSystem.key!='index'">
        <div ui-view></div>
    </div>

    <div ng-if="curSystem.key=='index'"  class="right_content" >
        <div ui-view></div>
    </div>
</div>


</body>
</html>