<div class="erp scheduling-ydy-apply add_ydyschedule" ng-controller="erp_courseSchedulingYdyApplyDetailController">
  <div class="panel panel-primary">
    <div class="panel-heading"><span>单据信息</span></div>
    <klc-erp-course-stu-sched-apply-brief apply="apply"></klc-erp-course-stu-sched-apply-brief>
    <klc-erp-course-stu-sched-apply-detail apply="apply"></klc-erp-course-stu-sched-apply-detail>
    <div class="table-panel text-center">
      <button class="btn btn-primary" ng-click="goBack()">返回</button>
    </div>
  </div>
</div>