<div class="erp table-panel" ng-controller="erp_StudentOrdersWfdController">
    <div class="form-inline">
        <div class="form-group">
            时间范围：
            <select class="form-control selectMonth"  >
                <option value="{{item.value}}" ng-repeat="item in selectMonthModel" ng-click="selectMonth(item)">{{item.label}}</option>
            </select>
        </div>
    </div>
    <table class="table table-striped table-hover mt15">
        <thead>
            <tr>
                <th>报班单号<b class="cell-txt">（次）</b></th>
                <th>报班课程/<b class="cell-txt">详情</b></th>
                <th>报班次数</th>
                <th>开始时间</th>
                <th>到期时间</th>
                <th>已用<b class="cell-txt">（次）</b></th>
                <th>剩余<b class="cell-txt">（次）</b></th>
                <th style="min-width:45px;">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="isLoading=='isLoading'">
                <td colspan="8" align="center">
                    <img src="img/erp/loading2.gif">
                </td>
            </tr>
            <tr  ng-if="isLoading!='isLoading' && (!orderInfoList||!orderInfoList.length)">
                <td colspan="8" align="center">
                    无数据.
                </td>
            </tr>
            <tr ng-repeat="orderInfo in orderInfoList" ng-if="isLoading!='isLoading'" >
                <td>{{orderInfo.ENCODING}}</td>
                <td>{{orderInfo.COURSE_NAME}}<span class="wfd-combo">{{orderInfo.COMBO_NAME}}</span></td>
                <td>{{orderInfo.COURSE_TOTAL_COUNT}}</td>
                <td>{{orderInfo.START_DATE}}</td>
                <td>{{orderInfo.END_DATE}}</td>
                <td><span class="yellow-num">{{orderInfo.ATTEND_COUNT}}</span></td>
                <td><span class="green-num">{{orderInfo.CHECK_STATUS==3?orderInfo.COURSE_SURPLUS_COUNT_ING:orderInfo.COURSE_SURPLUS_COUNT}}</span></td>
                <td>
                    <span class="cell-payc-detailc drop-menu-sub2">
                    <a class="menu_field" ng-href="{{detailOrderHref}}" ng-click="toOrderDetail(orderInfo)" >详情</a>
                    <!--<a class="menu_field" href="?studentId={{orderInfo.STUDENT_ID}}&orderId={{orderInfo.ORDER_ID}}#/studentMgr/studentMgrCourse/studentMgrOrderDetail">详情</a>-->
                </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>