<div class="erp student student-manager-bu" ng-controller="erp_StudentManagerBuController">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="title">团队耗课</span>
		</div>
		<div class="panel-body operation-panel">
			<div class="searchbar">
				<div class="form-inline">
					<div class="form-group">
                        <rd-date-picker-range class="display-inb"
                            ng-start-date="searchParam.p_start_date"
                            ng-end-date="searchParam.p_end_date"
                            ng-default-range = "searchParam.range"
                            ng-btn-tag = "searchParam.p_btn_tag"
                            ng-min-date="searchParam.p_min_date" 
                            ng-max-date="searchParam.p_max_date">
                        </rd-date-picker-range>
                        <span class="input-label">团队：</span>
                        <kl-bu-select bu-id="searchParam.p_bu_id"></kl-bu-select>
                            <div class="input-group">
                                <button class="btn btn-primary" ng-click="queryStuMgrAnalysis()"><i class="iconfont icon-search"></i> 搜索</button>
                                </span>
                            </div>
                        </rd-branch>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <!--main form end-->
    <div class="table-panel">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>在读人数</th>
                <th>正常上课总数（h）</th>
                <th>未考勤总数（h）</th>
                <th>总排课数（h）</th>
            </tr>
            <tr ng-repeat="stuMgrAnalysis in stuMgrAnalysisList" 
                ng-if="!loadStatues && stuMgrAnalysisList && stuMgrAnalysisList.length">
                <td><a href="javascript:void(0)"
                     ng-click="gotoBranchReport(stuMgrAnalysis.buId)">{{stuMgrAnalysis.studentCount}}</a></td>
                <td>{{stuMgrAnalysis.attendanceCount}}</td>
                <td>{{stuMgrAnalysis.surplusCount}}</td>
                <td>{{stuMgrAnalysis.scheduleCount}}</td>
            </tr>
        </table>
        <div class="text-center" ng-if="loadStatues">
            <img src="img/erp/loading2.gif">
        </div>
        <div class="text-center" 
            ng-if="!loadStatues && (stuMgrAnalysisList == null || stuMgrAnalysisList.length == 0)">
            <div class="no-data"></div>
            暂无数据
        </div>
    </div>
</div>
